Repository ModeS7/AIS4900_master: changes, and which pre-commit hooks are due for each by the changed paths.
All: py-compile, pytest-fast, pytest-imports

py-compile:
  name: Python syntax check
  entry: python -m py_compile
  language: system
  pass_filenames: true

pytest-fast:
  name: pytest (fast unit tests)
  entry: pytest tests/unit -m "not slow" -x -q --tb=line --timeout=30
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-push

pytest-imports:
  name: pytest (import tests)
  entry: pytest tests/e2e/test_cli_complete.py::TestModuleImports -x -q --tb=line
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-push

exp26_1 optima
  IDUN/eval/find_optimal_steps_exp26_1.slurm
Due: none

eval exp3/4
  IDUN/train/downstream/nnunet/evaluate_baseline.slurm
Due: none

v2 and 156 exp
  IDUN/train/diffusion_3d/exp1_1_156_pixel_bravo.slurm
  IDUN/train/diffusion_3d/exp1v2_2_1000_pixel_dual.slurm
  IDUN/train/diffusion_3d/exp1v2_2_156_pixel_dual.slurm
  IDUN/train/downstream/nnunet/evaluate_all.slurm
  IDUN/train/downstream/nnunet/evaluate_baseline.slurm
  configs/volume/default.yaml
  src/medgen/data/loaders/volume_3d.py
Due: py-compile, pytest-fast, pytest-imports

FWD eval
  IDUN/eval/eval_compare_exp32.slurm
Due: none

FWD eval
  requirements.txt
Due: none

FWD eval
  src/medgen/metrics/fwd.py
Due: py-compile, pytest-fast, pytest-imports

LPIPS finetuning
  IDUN/train/diffusion_3d/exp32_2_pixel_bravo_lpips_lowt.slurm
  configs/training/default.yaml
  src/medgen/pipeline/trainer.py
Due: py-compile, pytest-fast, pytest-imports

docs
  CLAUDE.md
  docs/architecture.md
  docs/commands.md
  docs/common-pitfalls.md
Due: none

-
  IDUN/train/diffusion_3d/exp1_1_1000plus_pixel_bravo.slurm
Due: none

degradation calibration
  IDUN/eval/calibrate_degradation.slurm
  src/medgen/scripts/calibrate_degradation.py
Due: py-compile, pytest-fast, pytest-imports

data generation for blur finetuning
  IDUN/generate/gen_degradation_pairs.slurm
  src/medgen/scripts/generate_degradation_pairs.py
Due: py-compile, pytest-fast, pytest-imports

finetuning of MSE induced blurring
  IDUN/train/diffusion_3d/exp33_1_irsde_restoration.slurm
  IDUN/train/diffusion_3d/exp33_2_rflow_bridge_restoration.slurm
  IDUN/train/diffusion_3d/exp33_3_rflow_bridge_noise_restoration.slurm
  IDUN/train/diffusion_3d/exp33_4_resfusion_restoration.slurm
  configs/mode/restoration.yaml
  configs/strategy/irsde.yaml
  configs/strategy/resfusion.yaml
  src/medgen/core/constants.py
  src/medgen/data/loaders/restoration_3d.py
  src/medgen/data/loaders/unified.py
  src/medgen/diffusion/modes.py
  src/medgen/diffusion/strategy_irsde.py
  src/medgen/diffusion/strategy_resfusion.py
  src/medgen/pipeline/trainer.py
  src/medgen/scripts/restore_volumes.py
Due: py-compile, pytest-fast, pytest-imports

lint
  src/medgen/data/loaders/restoration_3d.py
  src/medgen/diffusion/strategy_irsde.py
  src/medgen/scripts/calibrate_degradation.py
  src/medgen/scripts/generate_degradation_pairs.py
  src/medgen/scripts/restore_volumes.py
Due: py-compile, pytest-fast, pytest-imports

-
  IDUN/train/diffusion_3d/exp1v2_2_156_pixel_dual.slurm
  IDUN/train/downstream/nnunet/convert_and_preprocess.slurm
  IDUN/train/downstream/nnunet/evaluate_all.slurm
  IDUN/train/downstream/nnunet/exp4_baseline_dual.slurm
  src/medgen/core/mode_factory.py
  src/medgen/core/validation.py
Due: py-compile, pytest-fast, pytest-imports

-
  src/medgen/pipeline/base_config.py
Due: py-compile, pytest-fast, pytest-imports

extending the finetuning
  IDUN/train/diffusion_3d/exp32_1_1000_pixel_bravo_ffl.slurm
  IDUN/train/diffusion_3d/exp32_2_1000_pixel_bravo_lpips_lowt.slurm
Due: none

post-hoc ema evaluations
  IDUN/eval/eval_phema_sweep.slurm
  IDUN/eval/phema_sweep_exp14_2.slurm
  IDUN/eval/phema_sweep_exp1o_1.slurm
  IDUN/eval/phema_sweep_exp24.slurm
  IDUN/eval/phema_sweep_exp25.slurm
  IDUN/eval/phema_sweep_exp30.slurm
  IDUN/eval/phema_sweep_exp31_0.slurm
  IDUN/eval/phema_sweep_exp31_1.slurm
  IDUN/eval/phema_sweep_exp31_2.slurm
  src/medgen/scripts/synthesize_phema.py
Due: py-compile, pytest-fast, pytest-imports

post-hoc ema evaluations
  IDUN/eval/eval_phema_sweep.slurm
  IDUN/eval/phema_sweep_exp14_2.slurm
  IDUN/eval/phema_sweep_exp1o_1.slurm
  IDUN/eval/phema_sweep_exp24.slurm
  IDUN/eval/phema_sweep_exp25.slurm
  IDUN/eval/phema_sweep_exp30.slurm
  IDUN/eval/phema_sweep_exp31_0.slurm
  IDUN/eval/phema_sweep_exp31_1.slurm
  IDUN/eval/phema_sweep_exp31_2.slurm
Due: none

post-hoc ema evaluations
  src/medgen/scripts/synthesize_phema.py
Due: py-compile, pytest-fast, pytest-imports

lint
  src/medgen/scripts/synthesize_phema.py
Due: py-compile, pytest-fast, pytest-imports

fix
  src/medgen/scripts/synthesize_phema.py
Due: py-compile, pytest-fast, pytest-imports

fix
  src/medgen/diffusion/strategy_irsde.py
  src/medgen/pipeline/visualization.py
Due: py-compile, pytest-fast, pytest-imports

fix
  src/medgen/diffusion/strategy_irsde.py
Due: py-compile, pytest-fast, pytest-imports

fix
  src/medgen/pipeline/trainer.py
  src/medgen/scripts/synthesize_phema.py
Due: py-compile, pytest-fast, pytest-imports

fix
  IDUN/train/diffusion_3d/exp33_1_irsde_restoration.slurm
  IDUN/train/diffusion_3d/exp33_2_rflow_bridge_restoration.slurm
  IDUN/train/diffusion_3d/exp33_3_rflow_bridge_noise_restoration.slurm
  IDUN/train/diffusion_3d/exp33_4_resfusion_restoration.slurm
  configs/strategy/resfusion.yaml
  src/medgen/diffusion/strategy_irsde.py
  src/medgen/diffusion/strategy_resfusion.py
  src/medgen/pipeline/trainer.py
Due: py-compile, pytest-fast, pytest-imports

use Kerras settings
  IDUN/train/diffusion_3d/exp1o_1_pixel_bravo.slurm
  src/medgen/scripts/synthesize_phema.py
Due: py-compile, pytest-fast, pytest-imports

L1 fix
  src/medgen/pipeline/trainer.py
Due: py-compile, pytest-fast, pytest-imports

Nightly
  src/medgen/pipeline/trainer.py
Due: py-compile, pytest-fast, pytest-imports

-
  IDUN/train/diffusion_3d/exp33_1_irsde_restoration.slurm
  IDUN/train/diffusion_3d/exp33_4_resfusion_restoration.slurm
Due: none

docs
  docs/experiment_results_3d.md
Due: none

overfitting
  IDUN/train/diffusion_3d/exp33_2b_rflow_bridge_restoration_17m.slurm
Due: none

loss fix
  src/medgen/diffusion/strategies.py
  src/medgen/diffusion/strategy_irsde.py
  src/medgen/metrics/unified_history.py
  src/medgen/pipeline/base_trainer.py
  src/medgen/pipeline/results.py
  src/medgen/pipeline/trainer.py
  src/medgen/pipeline/validation.py
Due: py-compile, pytest-fast, pytest-imports

integration test fix
  misc/experiments/capture_baseline.py
Due: py-compile

more faithful to the paper
  IDUN/train/diffusion_3d/exp33_1_irsde_restoration.slurm
  src/medgen/data/loaders/restoration_3d.py
  src/medgen/data/loaders/unified.py
  src/medgen/diffusion/modes.py
Due: py-compile, pytest-fast, pytest-imports

more faithful to the paper
  IDUN/train/diffusion/exp33_1_irsde_restoration.slurm
  IDUN/train/diffusion_3d/exp33_1b_irsde_restoration.slurm
  src/medgen/data/loaders/restoration_3d.py
  src/medgen/data/loaders/unified.py
Due: py-compile, pytest-fast, pytest-imports

more faithful to the paper
  IDUN/train/diffusion/exp33_4_resfusion_restoration.slurm
Due: none

smaller model
  IDUN/train/diffusion_3d/exp33_3b_rflow_bridge_noise_restoration_17m.slurm
Due: none

fix
  src/medgen/data/loaders/unified.py
Due: py-compile, pytest-fast, pytest-imports

fix
  IDUN/train/diffusion/exp33_1_irsde_restoration.slurm
  IDUN/train/diffusion/exp33_4_resfusion_restoration.slurm
Due: none

Path conditions:
  py-compile: any of: \.py$
  pytest-fast: any of: ^(tests/|src/medgen/).*\.py$
  pytest-imports: any of: ^src/medgen/.*\.py$
