Repository ModeS7/AIS4900_master: changes, and which pre-commit hooks are due for each by the changed paths.
All: py-compile, pytest-fast, pytest-imports

py-compile:
  name: Python syntax check
  entry: python -m py_compile
  language: system
  pass_filenames: true

pytest-fast:
  name: pytest (fast unit tests)
  entry: pytest tests/unit -m "not slow" -x -q --tb=line --timeout=30
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-push

pytest-imports:
  name: pytest (import tests)
  entry: pytest tests/e2e/test_cli_complete.py::TestModuleImports -x -q --tb=line
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-push

adherence debugging
  IDUN/eval/debug_conditioning.slurm
  IDUN/train/diffusion_3d/exp12b_7_wavelet_ddpm_raw_rescale.slurm
  misc/debug_conditioning.py
Due: py-compile

adherence debugging
  IDUN/eval/debug_conditioning.slurm
  misc/debug_conditioning.py
Due: py-compile

bin conditioning loss
  IDUN/train/diffusion_3d/exp2d_1_pixel_seg_aux_bin.slurm
  src/medgen/models/wrappers/size_bin_embed.py
  src/medgen/pipeline/diffusion_config.py
  src/medgen/pipeline/diffusion_init_helpers.py
  src/medgen/pipeline/diffusion_model_setup.py
  src/medgen/pipeline/profiling.py
  src/medgen/pipeline/results.py
  src/medgen/pipeline/trainer.py
Due: py-compile, pytest-fast, pytest-imports

test
  .github/workflows/mutation.yml
  .github/workflows/tests-nightly.yml
Due: none

ldm metric fix
  src/medgen/pipeline/validation.py
  tests/unit/test_latent_diffusion_paths.py
Due: py-compile, pytest-fast, pytest-imports

bug fixes
  configs/mode/seg_conditioned.yaml
  configs/mode/seg_conditioned_3d.yaml
  src/medgen/metrics/generation.py
Due: py-compile, pytest-fast, pytest-imports

optimal step search for non pixel space
  IDUN/eval/find_optimal_steps_exp12b_2.slurm
  IDUN/eval/find_optimal_steps_exp13_dit_4x.slurm
  IDUN/eval/find_optimal_steps_exp9_1.slurm
  src/medgen/diffusion/loading.py
  src/medgen/scripts/eval_ode_solvers.py
  src/medgen/scripts/find_optimal_steps.py
Due: py-compile, pytest-fast, pytest-imports

optimal step search for non pixel space
  IDUN/eval/find_optimal_steps_exp13_dit_4x.slurm
  IDUN/eval/find_optimal_steps_exp9_1.slurm
  src/medgen/scripts/find_optimal_steps.py
Due: py-compile, pytest-fast, pytest-imports

optimal step search for non pixel space
  src/medgen/diffusion/loading.py
  src/medgen/scripts/eval_ode_solvers.py
  src/medgen/scripts/find_optimal_steps.py
Due: py-compile, pytest-fast, pytest-imports

lint
  src/medgen/diffusion/loading.py
  src/medgen/scripts/find_optimal_steps.py
Due: py-compile, pytest-fast, pytest-imports

fix
  src/medgen/diffusion/loading.py
Due: py-compile, pytest-fast, pytest-imports

-
  IDUN/train/diffusion_3d/exp1b_1_pixel_bravo_rescale.slurm
Due: none

compression fid test
  IDUN/eval/eval_compression_fid_exp8_1.slurm
  src/medgen/scripts/eval_compression_fid.py
Due: py-compile, pytest-fast, pytest-imports

debug LDM
  IDUN/eval/debug_ldm_roundtrip_exp9_1.slurm
Due: none

debug LDM
  src/medgen/scripts/debug_ldm_roundtrip.py
Due: py-compile, pytest-fast, pytest-imports

LDM pipeline fix
  IDUN/eval/verify_ldm_pipeline.slurm
  src/medgen/data/loaders/latent.py
  src/medgen/diffusion/spaces.py
  src/medgen/scripts/debug_ldm_roundtrip.py
  src/medgen/scripts/find_optimal_steps.py
  src/medgen/scripts/recompute_latent_stats.py
  src/medgen/scripts/verify_ldm_pipeline.py
Due: py-compile, pytest-fast, pytest-imports

WDM pipeline fix/debugging
  IDUN/debug/debug_conditioning.slurm
  IDUN/debug/debug_ldm_roundtrip_exp9_1.slurm
  IDUN/eval/verify_wdm_pipeline.slurm
  src/medgen/diffusion/spaces.py
  src/medgen/pipeline/profiling.py
  src/medgen/scripts/find_optimal_steps.py
  src/medgen/scripts/verify_wdm_pipeline.py
Due: py-compile, pytest-fast, pytest-imports

LDM normalization
  src/medgen/data/loaders/latent.py
  src/medgen/diffusion/spaces.py
  src/medgen/pipeline/profiling.py
  src/medgen/scripts/find_optimal_steps.py
  src/medgen/scripts/train.py
  tests/unit/test_latent_diffusion_paths.py
Due: py-compile, pytest-fast, pytest-imports

debugging fix
  IDUN/eval/verify_ldm_pipeline.slurm
  IDUN/eval/verify_wdm_pipeline.slurm
  src/medgen/scripts/verify_ldm_pipeline.py
  src/medgen/scripts/verify_wdm_pipeline.py
Due: py-compile, pytest-fast, pytest-imports

debugging fix
  src/medgen/scripts/verify_ldm_pipeline.py
Due: py-compile, pytest-fast, pytest-imports

some fixes
  IDUN/debug/debug_ldm_roundtrip_exp9_1.slurm
  IDUN/eval/find_optimal_steps_exp12b_2.slurm
  IDUN/eval/find_optimal_steps_exp13_dit_4x.slurm
  IDUN/eval/find_optimal_steps_exp9_1.slurm
  IDUN/train/diffusion_3d/exp12_7_wavelet_ddpm_bravo.slurm
  IDUN/train/diffusion_3d/exp12b_7_wavelet_ddpm_rescale.slurm
  src/medgen/scripts/debug_ldm_roundtrip.py
  src/medgen/scripts/find_optimal_steps.py
Due: py-compile, pytest-fast, pytest-imports

-
  IDUN/train/diffusion_3d/exp12_7_wavelet_ddpm_bravo.slurm
  IDUN/train/diffusion_3d/exp12b_7_wavelet_ddpm_rescale.slurm
Due: none

lint
  src/medgen/scripts/train.py
Due: py-compile, pytest-fast, pytest-imports

further normalization of the pixel space
  IDUN/train/diffusion_3d/exp1c_1_pixel_bravo_normalized.slurm
  IDUN/train/diffusion_3d/exp1c_pixel_bravo_normalized.slurm
  configs/training/default.yaml
  src/medgen/diffusion/spaces.py
  src/medgen/pipeline/profiling.py
  src/medgen/scripts/compute_pixel_stats.py
  src/medgen/scripts/find_optimal_steps.py
  src/medgen/scripts/train.py
Due: py-compile, pytest-fast, pytest-imports

further normalization of the pixel space
  IDUN/train/diffusion_3d/exp1c_1_pixel_bravo_normalized.slurm
  IDUN/train/diffusion_3d/exp1c_pixel_bravo_normalized.slurm
  configs/diffusion.yaml
  configs/diffusion_3d.yaml
  configs/pixel_norm/bravo.yaml
  configs/pixel_norm/default.yaml
  configs/pixel_norm/t1_gd.yaml
  configs/pixel_norm/t1_pre.yaml
  configs/training/default.yaml
  src/medgen/scripts/train.py
Due: py-compile, pytest-fast, pytest-imports

fixes to pixel space normalization when generating. and working on WDM
  IDUN/train/diffusion_3d/exp19_0_wdm.slurm
  IDUN/train/diffusion_3d/exp19_1_wdm_rflow.slurm
  src/medgen/diffusion/spaces.py
  src/medgen/metrics/generation_computation.py
  src/medgen/metrics/generation_sampling.py
  src/medgen/pipeline/evaluation.py
  src/medgen/pipeline/validation.py
  src/medgen/pipeline/visualization.py
Due: py-compile, pytest-fast, pytest-imports

wdm exp
  IDUN/train/diffusion_3d/exp19_2_wdm_default.slurm
Due: none

true to paper exp 256x256
  IDUN/train/diffusion_3d/exp19_wdm_paper.slurm
Due: none

wdm bigger
  IDUN/train/diffusion_3d/exp19_3_wdm_large.slurm
Due: none

rflow predicting x0 and better normalization of each channel that ignores 0.0 background values
  IDUN/train/diffusion_3d/exp19_4_wdm_rflow_x0.slurm
  IDUN/train/diffusion_3d/exp19_5_wdm_brainonly.slurm
  src/medgen/diffusion/spaces.py
  src/medgen/diffusion/strategy_rflow.py
  src/medgen/scripts/train.py
Due: py-compile, pytest-fast, pytest-imports

doc update
  CLAUDE.md
  docs/architecture.md
  docs/commands.md
  docs/experiment_results.md
Due: none

exp1 optimal step
  IDUN/eval/find_optimal_steps_exp1_1b_1c.slurm
  src/medgen/pipeline/profiling.py
  src/medgen/scripts/find_optimal_steps.py
Due: py-compile, pytest-fast, pytest-imports

exp1 optimal step
  IDUN/eval/find_optimal_steps_exp1_1b_1c.slurm
Due: none

exp2c fix
  src/medgen/pipeline/diffusion_model_setup.py
Due: py-compile, pytest-fast, pytest-imports

-
  IDUN/train/diffusion_3d/exp19_0_wdm.slurm
  IDUN/train/diffusion_3d/exp19_1_wdm_rflow.slurm
  IDUN/train/diffusion_3d/exp19_2_wdm_default.slurm
  IDUN/train/diffusion_3d/exp19_3_wdm_large.slurm
  IDUN/train/diffusion_3d/exp19_4_wdm_rflow_x0.slurm
  IDUN/train/diffusion_3d/exp19_5_wdm_brainonly.slurm
  IDUN/train/diffusion_3d/exp19_wdm_paper.slurm
Due: none

-
  IDUN/eval/find_optimal_steps_exp1_1b_1c.slurm
Due: none

-
  IDUN/eval/find_optimal_steps_exp1_1b_1c.slurm
  src/medgen/scripts/find_optimal_steps.py
Due: py-compile, pytest-fast, pytest-imports

fix step finder
  src/medgen/diffusion/spaces.py
  src/medgen/metrics/generation_sampling.py
  src/medgen/scripts/find_optimal_steps.py
  src/medgen/scripts/generate.py
Due: py-compile, pytest-fast, pytest-imports

fix wdm19_5
  configs/wavelet/default.yaml
Due: none

Path conditions:
  py-compile: any of: \.py$
  pytest-fast: any of: ^(tests/|src/medgen/).*\.py$
  pytest-imports: any of: ^src/medgen/.*\.py$
