Repository ModeS7/AIS4900_master: changes, and which pre-commit hooks are due for each by the changed paths.
All: py-compile, pytest-fast, pytest-imports

py-compile:
  name: Python syntax check
  entry: python -m py_compile
  language: system
  pass_filenames: true

pytest-fast:
  name: pytest (fast unit tests)
  entry: pytest tests/unit -m "not slow" -x -q --tb=line --timeout=30
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-push

pytest-imports:
  name: pytest (import tests)
  entry: pytest tests/e2e/test_cli_complete.py::TestModuleImports -x -q --tb=line
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-push

lint
  src/medgen/data/loaders/builder_2d.py
  src/medgen/downstream/data.py
  src/medgen/metrics/sampler.py
  src/medgen/pipeline/diffusion_model_setup.py
Due: py-compile, pytest-fast, pytest-imports

-
  IDUN/generate/gen_exp1_1_1000_bravo_real_seg_test1_nofilter.slurm
  IDUN/generate/gen_exp23_bravo_real_seg_test1_nofilter.slurm
Due: none

pca test on nofilter generations
  IDUN/eval/pca_ablation_clean.slurm
Due: none

-
  IDUN/train/diffusion_3d/exp37_3_pixel_bravo_lpips_ffl_short.slurm
Due: none

-
  IDUN/eval/diagnose_mean_blur_exp37_3.slurm
  IDUN/eval/find_optimal_steps_exp32_1_1000.slurm
  IDUN/eval/find_optimal_steps_exp32_2_1000.slurm
  IDUN/eval/find_optimal_steps_exp32_3_1000.slurm
Due: none

visual test
  IDUN/generate/compare_exp1_1_vs_exp37.slurm
Due: none

augmentation finetuning test
  IDUN/train/diffusion_3d/exp35_1_scoreaug_detail.slurm
  IDUN/train/diffusion_3d/exp35_2_scoreaug_structure.slurm
  IDUN/train/diffusion_3d/exp35_3_scoreaug_uniform.slurm
  IDUN/train/diffusion_3d/exp36_1_augment_medium_uniform.slurm
  IDUN/train/diffusion_3d/exp36_2_augment_medium_detail.slurm
  IDUN/train/diffusion_3d/exp36_3_augment_mri_uniform.slurm
  IDUN/train/diffusion_3d/exp36_4_augment_mri_detail.slurm
  REVIEW_FINDINGS.md
  configs/training/default.yaml
  src/medgen/data/loaders/unified.py
  src/medgen/data/loaders/volume_3d.py
  src/medgen/pipeline/trainer.py
Due: py-compile, pytest-fast, pytest-imports

augmentation finetuning test
  REVIEW_FINDINGS.md
Due: none

exp37 optima
  IDUN/eval/find_optimal_steps_exp37_1.slurm
  IDUN/eval/find_optimal_steps_exp37_2.slurm
  IDUN/eval/find_optimal_steps_exp37_3.slurm
Due: none

fix scoreaug and add more testing
  src/medgen/augmentation/score_aug_omega.py
  src/medgen/pipeline/trainer.py
  tests/unit/test_augmentation_helpers.py
  tests/unit/test_checkpoint_topology_remap.py
  tests/unit/test_score_aug_omega_encoding.py
Due: py-compile, pytest-fast, pytest-imports

fix scoreaug
  IDUN/train/diffusion_3d/exp35_1_scoreaug_detail.slurm
  IDUN/train/diffusion_3d/exp35_2_scoreaug_structure.slurm
  IDUN/train/diffusion_3d/exp35_3_scoreaug_uniform.slurm
  tests/unit/test_score_aug_omega_coverage.py
Due: py-compile, pytest-fast

volume test
  src/medgen/scripts/analyze_generation_spectrum.py
  src/medgen/scripts/analyze_vessel_prominence.py
Due: py-compile, pytest-fast, pytest-imports

volume test
  IDUN/eval/trajectory_emergence_all.slurm
  src/medgen/scripts/analyze_generation_trajectory.py
Due: py-compile, pytest-fast, pytest-imports

volume test
  IDUN/eval/velocity_divergence_all.slurm
  src/medgen/scripts/analyze_velocity_divergence.py
Due: py-compile, pytest-fast, pytest-imports

volume test
  IDUN/eval/find_optimal_steps_exp37_1.slurm
  IDUN/eval/find_optimal_steps_exp37_2.slurm
  IDUN/eval/find_optimal_steps_exp37_3.slurm
  IDUN/eval/hybrid_generation.slurm
  IDUN/eval/trajectory_emergence_all.slurm
  IDUN/eval/velocity_divergence_all.slurm
  src/medgen/scripts/analyze_hybrid_generation.py
Due: py-compile, pytest-fast, pytest-imports

volume test
  IDUN/eval/stochastic_sampling.slurm
  src/medgen/scripts/analyze_cortical_vessels.py
  src/medgen/scripts/analyze_stochastic_sampling.py
Due: py-compile, pytest-fast, pytest-imports

fix
  src/medgen/scripts/analyze_stochastic_sampling.py
Due: py-compile, pytest-fast, pytest-imports

timestep test
  IDUN/eval/timestep_response.slurm
  src/medgen/scripts/analyze_timestep_response.py
Due: py-compile, pytest-fast, pytest-imports

-
  IDUN/eval/trajectory_emergence_dense_exp1_1_1000.slurm
  src/medgen/scripts/analyze_emergence_timeline.py
Due: py-compile, pytest-fast, pytest-imports

-
  IDUN/eval/trajectory_emergence_dense_exp1_1_1000.slurm
Due: none

-
  IDUN/generate/compare_imagenet_optima.slurm
Due: none

optima for mamba s
  IDUN/eval/find_optimal_steps_exp34_0_mamba.slurm
Due: none

stochastic sampling
  IDUN/eval/stochastic_sampling_sweep.slurm
Due: none

further texture training
  IDUN/train/diffusion_3d/exp38_zero_mse_lowt.slurm
  IDUN/train/diffusion_3d/exp39_irsde_restore.slurm
  IDUN/train/diffusion_3d/exp40_patchgan.slurm
  configs/mode/restoration_synthetic.yaml
  configs/training/default.yaml
  src/medgen/data/loaders/restoration_3d.py
  src/medgen/data/loaders/unified.py
  src/medgen/pipeline/trainer.py
Due: py-compile, pytest-fast, pytest-imports

fix
  src/medgen/scripts/analyze_cortical_vessels.py
  src/medgen/scripts/analyze_stochastic_sampling.py
  src/medgen/scripts/analyze_timestep_response.py
Due: py-compile, pytest-fast, pytest-imports

fix
  src/medgen/scripts/ablate_pca_filter.py
  src/medgen/scripts/analyze_emergence_timeline.py
  src/medgen/scripts/analyze_generation_spectrum.py
  src/medgen/scripts/analyze_vessel_prominence.py
Due: py-compile, pytest-fast, pytest-imports

fix
  IDUN/train/diffusion_3d/exp39_irsde_restore.slurm
  IDUN/train/diffusion_3d/exp40_patchgan.slurm
  configs/mode/restoration_synthetic.yaml
  docs/experiment_results_3d.md
Due: none

-
  IDUN/eval/find_optimal_steps_exp1v2_2_1000.slurm
  IDUN/train/diffusion_3d/exp41a_irsde_gauss042.slurm
  IDUN/train/diffusion_3d/exp41b_irsde_real_pairs.slurm
  IDUN/train/diffusion_3d/exp41b_pregen_real_pairs.slurm
  src/medgen/scripts/analyze_sr_feasibility.py
  src/medgen/scripts/pregen_restoration_pairs.py
Due: py-compile, pytest-fast, pytest-imports

-
  src/medgen/scripts/find_optimal_steps.py
Due: py-compile, pytest-fast, pytest-imports

-
  IDUN/eval/trajectory_emergence_dense_exp1_1_1000.slurm
  src/medgen/scripts/analyze_generation_trajectory.py
Due: py-compile, pytest-fast, pytest-imports

-
  IDUN/train/diffusion_3d/exp41c_irsde_gauss_noisy.slurm
Due: none

mamba fix
  src/medgen/diffusion/loading.py
Due: py-compile, pytest-fast, pytest-imports

mamba eval timeshift
  IDUN/eval/eval_time_shift_exp1v2_2_1000.slurm
  src/medgen/scripts/eval_time_shift.py
Due: py-compile, pytest-fast, pytest-imports

-
  IDUN/train/diffusion_3d/exp23_pixel_bravo_scoreaug_256.slurm
Due: none

mamba l optima
  IDUN/eval/find_optimal_steps_exp34_1_mamba_l.slurm
Due: none

-
  IDUN/train/diffusion_3d/exp41c_irsde_gauss_noisy.slurm
  src/medgen/data/loaders/restoration_3d.py
  src/medgen/data/loaders/unified.py
Due: py-compile, pytest-fast, pytest-imports

Path conditions:
  py-compile: any of: \.py$
  pytest-fast: any of: ^(tests/|src/medgen/).*\.py$
  pytest-imports: any of: ^src/medgen/.*\.py$
