Repository ModeS7/AIS4900_master: changes, and which pre-commit hooks are due for each by the changed paths.
All: py-compile, pytest-fast, pytest-imports

.pre-commit-config.yaml:

# Pre-commit hooks for medgen project
# Install: pip install pre-commit && pre-commit install

repos:
  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict

  # Python syntax check
  - repo: local
    hooks:
      - id: py-compile
        name: Python syntax check
        entry: python -m py_compile
        language: system
        types: [python]
        pass_filenames: true

  # Fast unit tests (on pre-push only - can be slow)
  - repo: local
    hooks:
      - id: pytest-fast
        name: pytest (fast unit tests)
        entry: pytest tests/unit -m "not slow" -x -q --tb=line --timeout=30
        language: system
        pass_filenames: false
        always_run: false
        stages: [pre-push]  # Only on push, not commit
        files: ^(tests/|src/medgen/).*\.py$

      - id: pytest-imports
        name: pytest (import tests)
        entry: pytest tests/e2e/test_cli_complete.py::TestModuleImports -x -q --tb=line
        language: system
        pass_filenames: false
        always_run: false
        stages: [pre-push]
        files: ^src/medgen/.*\.py$

  # Import sorting (isort via ruff)
  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: ["--profile", "black", "--line-length", "100"]

  # Ruff linter (fast) - uses pyproject.toml config
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.0
    hooks:
      - id: ruff
        args: ['--fix', '--exit-non-zero-on-fix']
      - id: ruff-format  # Add formatting

  # Mypy type checking (core modules only)
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        args: [--ignore-missing-imports, --no-error-summary]
        additional_dependencies: [torch, omegaconf, types-tqdm]
        files: ^src/medgen/(diffusion|core)/
        exclude: ^src/medgen/(diffusion|core)/__init__\.py$

fix
  IDUN/train/downstream/nnunet/exp6_2_synthetic_525_exp48c_handoff_exp32_200ep.slurm
  src/medgen/downstream/nnunet/trainer.py
Due: py-compile, pytest-fast, pytest-imports

525 volume synth seg
  IDUN/train/downstream/nnunet/exp6_2_synthetic_525_exp48c_handoff_exp32.slurm
Due: none

add in MAISI
  IDUN/eval/eval_compression_visual.slurm
  src/medgen/scripts/eval_compression_visual.py
Due: py-compile, pytest-fast, pytest-imports

MAISI fix
  src/medgen/scripts/eval_compression_visual.py
Due: py-compile, pytest-fast, pytest-imports

lint
  src/medgen/scripts/eval_compression_visual.py
Due: py-compile, pytest-fast, pytest-imports

compression eval
  IDUN/eval/eval_compression_fids.slurm
  src/medgen/scripts/eval_compression_fid.py
  src/medgen/scripts/eval_compression_fids.py
Due: py-compile, pytest-fast, pytest-imports

radiologist exp
  src/medgen/scripts/build_reader_study.py
Due: py-compile, pytest-fast, pytest-imports

radiologist exp fix
  src/medgen/scripts/build_reader_study.py
Due: py-compile, pytest-fast, pytest-imports

optima SiT
  IDUN/eval/tier1/find_optimal_steps_sit_b_2000ep.slurm
  IDUN/eval/tier1/find_optimal_steps_sit_b_500ep.slurm
  IDUN/eval/tier1/find_optimal_steps_sit_l_500ep.slurm
  IDUN/eval/tier1/find_optimal_steps_sit_xl_500ep.slurm
Due: none

eval for thesis
  IDUN/eval/eval_irsde_anatomy.slurm
  IDUN/eval/find_optimal_steps_exp47b_extended.slurm
  IDUN/eval/find_optimal_steps_exp48c_extended.slurm
  IDUN/eval/find_optimal_steps_exp48c_handoff_exp32_2_1000_extended.slurm
  IDUN/eval/find_optimal_steps_exp48d_handoff_exp32_2_1000_extended.slurm
  misc/analysis/compute_real_hf_reference.py
  src/medgen/scripts/eval_blur_attack_compare.py
Due: py-compile, pytest-fast, pytest-imports

eval for nnunet
  IDUN/train/downstream/nnunet/eval_5fold_exp3_baseline_v2_d600.slurm
  IDUN/train/downstream/nnunet/eval_5fold_exp4_baseline_dual_v2_d601.slurm
  IDUN/train/downstream/nnunet/eval_5fold_exp5_baseline_triple_d602.slurm
  IDUN/train/downstream/nnunet/eval_5fold_exp6_2_synthetic_105_exp1_1_1000_IN.slurm
  IDUN/train/downstream/nnunet/eval_5fold_exp6_2_synthetic_105_exp1_1_1000_RIN.slurm
Due: none

optima
  IDUN/eval/find_optimal_steps_exp23_20260423.slurm
Due: none

eval for nnunet
  IDUN/train/downstream/nnunet/eval_5fold_exp6_2_synthetic_525_exp48c_handoff_exp32.slurm
Due: none

nnunet mixes
  IDUN/train/downstream/nnunet/exp7_1_mixed_105syn_d614.slurm
  IDUN/train/downstream/nnunet/exp7_2_mixed_210syn_d614.slurm
  IDUN/train/downstream/nnunet/exp7_3_mixed_315syn_d614.slurm
  IDUN/train/downstream/nnunet/exp7_4_mixed_25syn_d614.slurm
  IDUN/train/downstream/nnunet/exp7_5_mixed_50syn_d614.slurm
  IDUN/train/downstream/nnunet/exp7_6_mixed_75syn_d614.slurm
  IDUN/train/downstream/nnunet/exp7_7_mixed_525syn_d614.slurm
Due: none

eval
  IDUN/eval/eval_irsde_anatomy_option4.slurm
  src/medgen/scripts/eval_blur_attack_compare.py
Due: py-compile, pytest-fast, pytest-imports

fix
  src/medgen/scripts/eval_blur_attack_compare.py
Due: py-compile, pytest-fast, pytest-imports

5 fold eval dice fix and dice additions
  IDUN/train/downstream/nnunet/eval_5fold_exp3_baseline_v2_d600.slurm
  IDUN/train/downstream/nnunet/eval_5fold_exp4_baseline_dual_v2_d601.slurm
  IDUN/train/downstream/nnunet/eval_5fold_exp5_baseline_triple_d602.slurm
  IDUN/train/downstream/nnunet/eval_5fold_exp6_2_synthetic_105_exp1_1_1000_IN.slurm
  IDUN/train/downstream/nnunet/eval_5fold_exp6_2_synthetic_105_exp1_1_1000_RIN.slurm
  IDUN/train/downstream/nnunet/eval_5fold_exp6_2_synthetic_105_exp1_1_1000plus.slurm
  IDUN/train/downstream/nnunet/eval_5fold_exp6_2_synthetic_105_exp32_2_1000.slurm
  IDUN/train/downstream/nnunet/eval_5fold_exp6_2_synthetic_105_exp48c_handoff_exp32.slurm
  IDUN/train/downstream/nnunet/eval_5fold_exp6_2_synthetic_105_exp48c_standalone.slurm
  IDUN/train/downstream/nnunet/eval_5fold_exp6_2_synthetic_105_exp48d_handoff_exp1.slurm
  IDUN/train/downstream/nnunet/eval_5fold_exp6_2_synthetic_525_exp48c_handoff_exp32.slurm
  src/medgen/downstream/nnunet/evaluate.py
  src/medgen/scripts/eval_nnunet.py
Due: py-compile, pytest-fast, pytest-imports

nnunet vanilla
  IDUN/train/downstream/nnunet/eval_5fold_exp3_baseline_v2_d600_vanilla.slurm
  IDUN/train/downstream/nnunet/eval_5fold_exp4_baseline_dual_v2_d601_vanilla.slurm
  IDUN/train/downstream/nnunet/eval_5fold_exp5_baseline_triple_d602_vanilla.slurm
  IDUN/train/downstream/nnunet/eval_5fold_exp6_2_synthetic_105_exp1_1_1000_IN_vanilla.slurm
  IDUN/train/downstream/nnunet/eval_5fold_exp6_2_synthetic_105_exp1_1_1000_RIN_vanilla.slurm
  IDUN/train/downstream/nnunet/eval_5fold_exp6_2_synthetic_105_exp1_1_1000plus_vanilla.slurm
  IDUN/train/downstream/nnunet/eval_5fold_exp6_2_synthetic_105_exp32_2_1000_vanilla.slurm
  IDUN/train/downstream/nnunet/eval_5fold_exp6_2_synthetic_105_exp48c_handoff_exp32_vanilla.slurm
  IDUN/train/downstream/nnunet/eval_5fold_exp6_2_synthetic_105_exp48c_standalone_vanilla.slurm
  IDUN/train/downstream/nnunet/eval_5fold_exp6_2_synthetic_105_exp48d_handoff_exp1_vanilla.slurm
  IDUN/train/downstream/nnunet/eval_5fold_exp6_2_synthetic_525_exp48c_handoff_exp32_vanilla.slurm
  IDUN/train/downstream/nnunet/exp3_baseline_v2_d600_vanilla.slurm
  IDUN/train/downstream/nnunet/exp4_baseline_dual_v2_d601_vanilla.slurm
  IDUN/train/downstream/nnunet/exp5_baseline_triple_d602_vanilla.slurm
  IDUN/train/downstream/nnunet/exp6_2_synthetic_105_exp1_1_1000_IN_vanilla.slurm
  IDUN/train/downstream/nnunet/exp6_2_synthetic_105_exp1_1_1000_RIN_vanilla.slurm
  IDUN/train/downstream/nnunet/exp6_2_synthetic_105_exp1_1_1000plus_vanilla.slurm
  IDUN/train/downstream/nnunet/exp6_2_synthetic_105_exp32_2_1000_vanilla.slurm
  IDUN/train/downstream/nnunet/exp6_2_synthetic_105_exp48c_handoff_exp32_vanilla.slurm
  IDUN/train/downstream/nnunet/exp6_2_synthetic_105_exp48c_standalone_vanilla.slurm
  IDUN/train/downstream/nnunet/exp6_2_synthetic_105_exp48d_handoff_exp1_vanilla.slurm
  IDUN/train/downstream/nnunet/exp6_2_synthetic_525_exp48c_handoff_exp32_vanilla.slurm
  IDUN/train/downstream/nnunet/exp7_1_mixed_105syn_d614_vanilla.slurm
  IDUN/train/downstream/nnunet/exp7_2_mixed_210syn_d614_vanilla.slurm
  IDUN/train/downstream/nnunet/exp7_3_mixed_315syn_d614_vanilla.slurm
  IDUN/train/downstream/nnunet/exp7_4_mixed_25syn_d614_vanilla.slurm
  IDUN/train/downstream/nnunet/exp7_5_mixed_50syn_d614_vanilla.slurm
  IDUN/train/downstream/nnunet/exp7_6_mixed_75syn_d614_vanilla.slurm
  IDUN/train/downstream/nnunet/exp7_7_mixed_525syn_d614_vanilla.slurm
  src/medgen/downstream/nnunet/trainer.py
Due: py-compile, pytest-fast, pytest-imports

nnunet first mix version 5 fold eval
  IDUN/train/downstream/nnunet/eval_5fold_exp7_1_mixed_105syn_d614.slurm
  IDUN/train/downstream/nnunet/eval_5fold_exp7_2_mixed_210syn_d614.slurm
  IDUN/train/downstream/nnunet/eval_5fold_exp7_3_mixed_315syn_d614.slurm
  IDUN/train/downstream/nnunet/eval_5fold_exp7_4_mixed_25syn_d614.slurm
  IDUN/train/downstream/nnunet/eval_5fold_exp7_5_mixed_50syn_d614.slurm
  IDUN/train/downstream/nnunet/eval_5fold_exp7_6_mixed_75syn_d614.slurm
  IDUN/train/downstream/nnunet/eval_5fold_exp7_7_mixed_525syn_d614.slurm
Due: none

eval fix, plus vanilla abandonment
  IDUN/train/downstream/nnunet/eval_5fold_exp4_baseline_dual_v2_d601_vanilla.slurm
  IDUN/train/downstream/nnunet/eval_5fold_exp5_baseline_triple_d602_vanilla.slurm
  IDUN/train/downstream/nnunet/eval_5fold_exp6_2_synthetic_105_exp1_1_1000_IN_vanilla.slurm
  IDUN/train/downstream/nnunet/eval_5fold_exp6_2_synthetic_105_exp1_1_1000_RIN_vanilla.slurm
  IDUN/train/downstream/nnunet/eval_5fold_exp6_2_synthetic_105_exp1_1_1000plus_vanilla.slurm
  IDUN/train/downstream/nnunet/eval_5fold_exp6_2_synthetic_105_exp32_2_1000_vanilla.slurm
  IDUN/train/downstream/nnunet/eval_5fold_exp6_2_synthetic_105_exp48c_handoff_exp32_vanilla.slurm
  IDUN/train/downstream/nnunet/eval_5fold_exp6_2_synthetic_105_exp48c_standalone_vanilla.slurm
  IDUN/train/downstream/nnunet/eval_5fold_exp6_2_synthetic_105_exp48d_handoff_exp1_vanilla.slurm
  IDUN/train/downstream/nnunet/eval_5fold_exp6_2_synthetic_525_exp48c_handoff_exp32_vanilla.slurm
  IDUN/train/downstream/nnunet/exp4_baseline_dual_v2_d601_vanilla.slurm
  IDUN/train/downstream/nnunet/exp5_baseline_triple_d602_vanilla.slurm
  IDUN/train/downstream/nnunet/exp6_2_synthetic_105_exp1_1_1000_IN_vanilla.slurm
  IDUN/train/downstream/nnunet/exp6_2_synthetic_105_exp1_1_1000_RIN_vanilla.slurm
  IDUN/train/downstream/nnunet/exp6_2_synthetic_105_exp1_1_1000plus_vanilla.slurm
  IDUN/train/downstream/nnunet/exp6_2_synthetic_105_exp32_2_1000_vanilla.slurm
  IDUN/train/downstream/nnunet/exp6_2_synthetic_105_exp48c_handoff_exp32_vanilla.slurm
  IDUN/train/downstream/nnunet/exp6_2_synthetic_105_exp48c_standalone_vanilla.slurm
  IDUN/train/downstream/nnunet/exp6_2_synthetic_105_exp48d_handoff_exp1_vanilla.slurm
  IDUN/train/downstream/nnunet/exp6_2_synthetic_525_exp48c_handoff_exp32_vanilla.slurm
  IDUN/train/downstream/nnunet/exp7_1_mixed_105syn_d614_vanilla.slurm
  IDUN/train/downstream/nnunet/exp7_2_mixed_210syn_d614_vanilla.slurm
  IDUN/train/downstream/nnunet/exp7_3_mixed_315syn_d614_vanilla.slurm
  IDUN/train/downstream/nnunet/exp7_4_mixed_25syn_d614_vanilla.slurm
  IDUN/train/downstream/nnunet/exp7_5_mixed_50syn_d614_vanilla.slurm
  IDUN/train/downstream/nnunet/exp7_6_mixed_75syn_d614_vanilla.slurm
  IDUN/train/downstream/nnunet/exp7_7_mixed_525syn_d614_vanilla.slurm
  src/medgen/downstream/nnunet/evaluate.py
Due: py-compile, pytest-fast, pytest-imports

exp345 and eval fix
  IDUN/train/downstream/nnunet/convert_d603_quad.slurm
  IDUN/train/downstream/nnunet/eval_5fold_exp345_baseline_quad_d603.slurm
  IDUN/train/downstream/nnunet/exp345_baseline_quad_d603.slurm
  src/medgen/downstream/nnunet/convert_dataset.py
  src/medgen/downstream/nnunet/evaluate.py
  src/medgen/scripts/eval_nnunet.py
Due: py-compile, pytest-fast, pytest-imports

multifold submission bug fix
  src/medgen/downstream/nnunet/splits.py
Due: py-compile, pytest-fast, pytest-imports

lint
  src/medgen/downstream/nnunet/splits.py
Due: py-compile, pytest-fast, pytest-imports

exp8
  IDUN/train/downstream/nnunet/convert_exp8_d630_size_targeted_25.slurm
  IDUN/train/downstream/nnunet/convert_exp8_d631_size_targeted_50.slurm
  IDUN/train/downstream/nnunet/convert_exp8_d632_size_targeted_75.slurm
  IDUN/train/downstream/nnunet/convert_exp8_d633_size_targeted_105.slurm
  IDUN/train/downstream/nnunet/eval_5fold_exp8_1_size_targeted_25syn_d630.slurm
  IDUN/train/downstream/nnunet/eval_5fold_exp8_2_size_targeted_50syn_d631.slurm
  IDUN/train/downstream/nnunet/eval_5fold_exp8_3_size_targeted_75syn_d632.slurm
  IDUN/train/downstream/nnunet/eval_5fold_exp8_4_size_targeted_105syn_d633.slurm
  IDUN/train/downstream/nnunet/exp8_1_size_targeted_25syn_d630.slurm
  IDUN/train/downstream/nnunet/exp8_2_size_targeted_50syn_d631.slurm
  IDUN/train/downstream/nnunet/exp8_3_size_targeted_75syn_d632.slurm
  IDUN/train/downstream/nnunet/exp8_4_size_targeted_105syn_d633.slurm
  src/medgen/scripts/classify_synth_by_lesion_size.py
  src/medgen/scripts/pick_synth_subset_by_lesion_size.py
Due: py-compile, pytest-fast, pytest-imports

tensorboard
  IDUN/tensorboard.slurm
Due: none

quick thresholding test
  IDUN/train/downstream/nnunet/threshold_sweep_exp3_test_quick.slurm
  IDUN/train/downstream/nnunet/threshold_sweep_exp3_val_rigorous.slurm
  src/medgen/scripts/eval_nnunet.py
  src/medgen/scripts/threshold_sweep.py
  src/medgen/scripts/train_nnunet.py
Due: py-compile, pytest-fast, pytest-imports

lint
  IDUN/train/downstream/nnunet/threshold_sweep_exp3_test_quick.slurm
  IDUN/train/downstream/nnunet/threshold_sweep_exp3_val_rigorous.slurm
  src/medgen/scripts/threshold_sweep.py
Due: py-compile, pytest-fast, pytest-imports

exp3 fold test gen
  IDUN/train/downstream/nnunet/per_fold_test_predictions_exp3.slurm
  src/medgen/scripts/eval_nnunet.py
Due: py-compile, pytest-fast, pytest-imports

local test instead of cluster
  .gitignore
  IDUN/train/downstream/nnunet/per_fold_test_predictions_exp3.slurm
  IDUN/train/downstream/nnunet/threshold_sweep_exp3_test_quick.slurm
  IDUN/train/downstream/nnunet/threshold_sweep_exp3_val_rigorous.slurm
  misc/analyze_per_fold_threshold.py
  misc/run_per_fold_local.py
  misc/run_per_fold_local.sh
  src/medgen/scripts/threshold_sweep.py
Due: py-compile, pytest-fast, pytest-imports

random dataset split test
  IDUN/train/downstream/nnunet/convert_d640_random_split.slurm
  IDUN/train/downstream/nnunet/eval_5fold_exp3_random_split_d640.slurm
  IDUN/train/downstream/nnunet/exp3_random_split_d640.slurm
  misc/compare_thresholds_by_size.py
  src/medgen/scripts/convert_random_split.py
Due: py-compile, pytest-fast, pytest-imports

docs
  CLAUDE.md
  README.md
  docs/commands.md
  docs/downstream_nnunet.md
  docs/experiment_results_3d.md
  docs/notes_for_report.txt
  misc/analyze_per_fold_threshold.py
  misc/run_per_fold_local.py
Due: py-compile

docs
  README.md
Due: none

testing for mse blur
  IDUN/eval/perception_distortion.slurm
  src/medgen/scripts/eval_perception_distortion.py
Due: py-compile, pytest-fast, pytest-imports

bigger test
  IDUN/eval/perception_distortion.slurm
  src/medgen/scripts/eval_perception_distortion.py
Due: py-compile, pytest-fast, pytest-imports

augmentation test
  IDUN/train/diffusion_3d/exp49a_aug_cutoff_t030.slurm
  IDUN/train/diffusion_3d/exp49b_aug_cutoff_t040.slurm
  IDUN/train/diffusion_3d/exp49c_aug_cutoff_t050.slurm
  IDUN/train/diffusion_3d/exp49d_aug_cutoff_t060.slurm
  IDUN/train/diffusion_3d/exp49e_aug_cutoff_t070.slurm
  IDUN/train/diffusion_3d/exp49f_aug_cutoff_t080.slurm
  IDUN/train/diffusion_3d/exp49g_aug_cutoff_t090.slurm
  IDUN/train/diffusion_3d/exp49h_aug_cutoff_t100.slurm
  src/medgen/data/loaders/volume_3d.py
Due: py-compile, pytest-fast, pytest-imports

action
  .github/actions/setup-medgen/action.yml
  .github/workflows/mutation.yml
  .github/workflows/test.yml
  .github/workflows/tests-nightly.yml
Due: none

scipy
  src/medgen/metrics/generation.py
Due: py-compile, pytest-fast, pytest-imports

debugging
  configs/training/fast_debug.yaml
  misc/validate_before_submit.sh
Due: none

RAMMMMMMMM.....
  IDUN/train/diffusion_3d/exp49a_aug_cutoff_t030.slurm
  IDUN/train/diffusion_3d/exp49b_aug_cutoff_t040.slurm
  IDUN/train/diffusion_3d/exp49c_aug_cutoff_t050.slurm
  IDUN/train/diffusion_3d/exp49d_aug_cutoff_t060.slurm
  IDUN/train/diffusion_3d/exp49e_aug_cutoff_t070.slurm
  IDUN/train/diffusion_3d/exp49f_aug_cutoff_t080.slurm
  IDUN/train/diffusion_3d/exp49g_aug_cutoff_t090.slurm
  IDUN/train/diffusion_3d/exp49h_aug_cutoff_t100.slurm
Due: none

exp50
  IDUN/train/diffusion_3d/exp50a_uniform_p019.slurm
  IDUN/train/diffusion_3d/exp50c_uniform_p049.slurm
  IDUN/train/diffusion_3d/exp50e_uniform_p080.slurm
  configs/training/default.yaml
  configs/training/fast_debug.yaml
  src/medgen/pipeline/trainer.py
  src/medgen/scripts/train.py
Due: py-compile, pytest-fast, pytest-imports
