Repository ModeS7/AIS4900_master: changes, and which pre-commit hooks are due for each by the changed paths.
All: py-compile, pytest-fast, pytest-imports

py-compile:
  name: Python syntax check
  entry: python -m py_compile
  language: system
  pass_filenames: true

pytest-fast:
  name: pytest (fast unit tests)
  entry: pytest tests/unit -m "not slow" -x -q --tb=line --timeout=30
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-push

pytest-imports:
  name: pytest (import tests)
  entry: pytest tests/e2e/test_cli_complete.py::TestModuleImports -x -q --tb=line
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-push

-
  IDUN/train/diffusion_3d/exp1_pixel_bravo.slurm
  IDUN/train/diffusion_3d/exp1b_pixel_bravo_rescale.slurm
  IDUN/train/diffusion_3d/exp1c_pixel_bravo_normalized.slurm
Due: none

exp2d
  IDUN/train/diffusion_3d/exp2d_pixel_seg_aux_bin.slurm
  src/medgen/models/wrappers/size_bin_embed.py
  src/medgen/pipeline/validation.py
Due: py-compile, pytest-fast, pytest-imports

script for measuring distribution
  src/medgen/scripts/measure_distinguishability.py
Due: py-compile, pytest-fast, pytest-imports

min_snr and edm implementation on rflow
  IDUN/train/diffusion_3d/exp1e_1_pixel_bravo_snr_gamma.slurm
  IDUN/train/diffusion_3d/exp1e_pixel_bravo_snr_gamma.slurm
  IDUN/train/diffusion_3d/exp1f_1_pixel_bravo_edm_precond.slurm
  IDUN/train/diffusion_3d/exp1f_pixel_bravo_edm_precond.slurm
  configs/strategy/rflow.yaml
  src/medgen/diffusion/strategy_rflow.py
  src/medgen/pipeline/base_config.py
  src/medgen/pipeline/diffusion_model_setup.py
  src/medgen/pipeline/diffusion_trainer_base.py
  src/medgen/pipeline/losses.py
  src/medgen/pipeline/profiling.py
  src/medgen/pipeline/trainer.py
  src/medgen/scripts/find_optimal_steps.py
  src/medgen/scripts/generate.py
  tests/unit/test_exp1e_exp1f.py
  tests/unit/test_extracted_modules.py
Due: py-compile, pytest-fast, pytest-imports

non normalized latent
  IDUN/train/diffusion_3d/exp13_dit_4x_bravo_nonorm.slurm
  configs/latent/default.yaml
  src/medgen/data/loaders/latent.py
  src/medgen/scripts/train.py
Due: py-compile, pytest-fast, pytest-imports

generation
  IDUN/generate/exp1_1_gen_3d_256.slurm
  configs/generate.yaml
  src/medgen/scripts/generate.py
Due: py-compile, pytest-fast, pytest-imports

generation
  IDUN/generate/exp1_1_gen_3d_256.slurm
Due: none

kl vae LDM
  IDUN/train/diffusion_3d/exp13_dit_4x_vae_bravo.slurm
  IDUN/train/diffusion_3d/exp13_dit_4x_vae_bravo_nonorm.slurm
Due: none

kl vae LDM
  IDUN/train/diffusion_3d/exp13_1_dit_4x_vae_bravo.slurm
  IDUN/train/diffusion_3d/exp13_1_dit_4x_vae_bravo_nonorm.slurm
Due: none

lint
  src/medgen/scripts/train.py
Due: py-compile, pytest-fast, pytest-imports

fix up the downstream
  src/medgen/downstream/data.py
  src/medgen/downstream/segmentation_trainer.py
  src/medgen/metrics/regional/tracker_seg.py
  src/medgen/metrics/unified.py
Due: py-compile, pytest-fast, pytest-imports

-
  IDUN/eval/find_optimal_steps_exp16_hdit.slurm
  IDUN/train/diffusion_3d/exp17_4_hdit_s_p4_256.slurm
Due: none

runs dir fix
  configs/segmentation.yaml
  src/medgen/downstream/segmentation_trainer.py
Due: py-compile, pytest-fast, pytest-imports

-
  IDUN/train/downstream/exp1_seg_baseline_2d.slurm
  IDUN/train/downstream/exp1_seg_baseline_3d.slurm
  IDUN/train/downstream/exp2_seg_dual_baseline_2d.slurm
  IDUN/train/downstream/exp2_seg_dual_baseline_3d.slurm
  src/medgen/downstream/data.py
Due: py-compile, pytest-fast, pytest-imports

bug fix
  tests/unit/test_segmentation_trainer.py
Due: py-compile, pytest-fast

new metric
  src/medgen/downstream/segmentation_trainer.py
  src/medgen/metrics/regional/tracker_seg.py
  src/medgen/scripts/plot_tumor_detection.py
Due: py-compile, pytest-fast, pytest-imports

lint
  pyproject.toml
Due: none

bug fixes
  IDUN/generate/exp1_1_gen_3d_256.slurm
  src/medgen/scripts/measure_latent_std.py
Due: py-compile, pytest-fast, pytest-imports

bug fixes
  src/medgen/data/loaders/latent.py
Due: py-compile, pytest-fast, pytest-imports

bug fixes
  src/medgen/diffusion/loading.py
Due: py-compile, pytest-fast, pytest-imports

bug fixes
  configs/segmentation.yaml
Due: none

doc update
  CLAUDE.md
  docs/architecture.md
  docs/common-pitfalls.md
Due: none

extent testing to catch some of the bugs I was having
  .pre-commit-config.yaml
  tests/unit/test_arch_detection.py
  tests/unit/test_compression_encode_contract.py
  tests/unit/test_model_loading_roundtrip.py
  tests/unit/test_space_contracts.py
Due: py-compile, pytest-fast

exp2e
  IDUN/train/diffusion_3d/exp2e_pixel_seg_multilevel_aux.slurm
  src/medgen/models/wrappers/size_bin_embed.py
  src/medgen/pipeline/diffusion_config.py
  src/medgen/pipeline/diffusion_init_helpers.py
  src/medgen/pipeline/diffusion_model_setup.py
  src/medgen/pipeline/trainer.py
Due: py-compile, pytest-fast, pytest-imports

bug fix
  src/medgen/data/loaders/compression_detection.py
  src/medgen/data/loaders/latent.py
  src/medgen/diffusion/loading.py
  tests/unit/test_arch_detection.py
  tests/unit/test_compression_encode_contract.py
Due: py-compile, pytest-fast, pytest-imports

fix
  IDUN/generate/exp1_1_gen_3d_256.slurm
Due: none

differnet loss
  IDUN/train/diffusion_3d/exp1g_1_pixel_bravo_pseudo_huber.slurm
  IDUN/train/diffusion_3d/exp1g_pixel_bravo_pseudo_huber.slurm
  IDUN/train/diffusion_3d/exp1h_1_pixel_bravo_lpips_huber.slurm
  IDUN/train/diffusion_3d/exp1h_pixel_bravo_lpips_huber.slurm
  configs/strategy/rflow.yaml
  src/medgen/pipeline/base_config.py
  src/medgen/pipeline/diffusion_trainer_base.py
  src/medgen/pipeline/losses.py
  src/medgen/pipeline/trainer.py
Due: py-compile, pytest-fast, pytest-imports

augmentations
  IDUN/train/downstream/exp3_seg_aug_2d.slurm
  IDUN/train/downstream/exp3_seg_aug_3d.slurm
  IDUN/train/downstream/exp4_seg_dual_aug_2d.slurm
  IDUN/train/downstream/exp4_seg_dual_aug_3d.slurm
Due: none

seg2e fix
  configs/mode/seg_conditioned.yaml
  configs/mode/seg_conditioned_3d.yaml
Due: none

enable nightly
  .github/workflows/tests-nightly.yml
Due: none

bug
  src/medgen/scripts/generate.py
Due: py-compile, pytest-fast, pytest-imports

-
  IDUN/generate/exp1_1_gen_3d_256.slurm
Due: none

bug fixes
  src/medgen/losses/losses.py
  src/medgen/metrics/regional/tracker_seg.py
Due: py-compile, pytest-fast, pytest-imports

-
  CLAUDE.md
  README.md
  docs/common-pitfalls.md
  src/medgen/diffusion/strategy_rflow.py
  src/medgen/pipeline/losses.py
Due: py-compile, pytest-fast, pytest-imports

codecov
  .github/workflows/test.yml
Due: none

extend the coverage
  .github/workflows/test.yml
  .github/workflows/tests-nightly.yml
Due: none

fix
  .github/workflows/test.yml
Due: none

Path conditions:
  py-compile: any of: \.py$
  pytest-fast: any of: ^(tests/|src/medgen/).*\.py$
  pytest-imports: any of: ^src/medgen/.*\.py$
