Repository ModeS7/AIS4900_master: changes, and which pre-commit hooks are due for each by the changed paths.
All: py-compile, pytest-fast, pytest-imports

.pre-commit-config.yaml:

# Pre-commit hooks for medgen project
# Install: pip install pre-commit && pre-commit install

repos:
  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict

  # Python syntax check
  - repo: local
    hooks:
      - id: py-compile
        name: Python syntax check
        entry: python -m py_compile
        language: system
        types: [python]
        pass_filenames: true

  # Fast unit tests (on pre-push only - can be slow)
  - repo: local
    hooks:
      - id: pytest-fast
        name: pytest (fast unit tests)
        entry: pytest tests/unit -m "not slow" -x -q --tb=line --timeout=30
        language: system
        pass_filenames: false
        always_run: false
        stages: [pre-push]  # Only on push, not commit
        files: ^(tests/|src/medgen/).*\.py$

      - id: pytest-imports
        name: pytest (import tests)
        entry: pytest tests/e2e/test_cli_complete.py::TestModuleImports -x -q --tb=line
        language: system
        pass_filenames: false
        always_run: false
        stages: [pre-push]
        files: ^src/medgen/.*\.py$

  # Import sorting (isort via ruff)
  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: ["--profile", "black", "--line-length", "100"]

  # Ruff linter (fast) - uses pyproject.toml config
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.0
    hooks:
      - id: ruff
        args: ['--fix', '--exit-non-zero-on-fix']
      - id: ruff-format  # Add formatting

  # Mypy type checking (core modules only)
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        args: [--ignore-missing-imports, --no-error-summary]
        additional_dependencies: [torch, omegaconf, types-tqdm]
        files: ^src/medgen/(diffusion|core)/
        exclude: ^src/medgen/(diffusion|core)/__init__\.py$

compile
  IDUN/train/diffusion_3d/exp20_6_pixel_bravo_tiny_20m.slurm
Due: none

6b_1
  IDUN/train/diffusion_3d/exp6b_1_pixel_bravo_controlnet_stage2.slurm
Due: none

profile smaller unet
  IDUN/train/diffusion_3d/profile_small_unet.slurm
  misc/profiling/profile_small_3d_unet.py
Due: py-compile

-
  IDUN/profiling/profile_small_unet.slurm
  docs/profiling_results.md
Due: none

-
  IDUN/train/diffusion_3d/exp20_7_pixel_bravo_67m_attn_L345.slurm
Due: none

lint
  src/medgen/scripts/find_optimal_freeu.py
Due: py-compile, pytest-fast, pytest-imports

optimal controlnet steps
  IDUN/eval/find_optimal_steps_exp6a_1.slurm
Due: none

cfg optimal step
  IDUN/eval/find_optimal_cfg_exp1n.slurm
  src/medgen/scripts/find_optimal_cfg.py
Due: py-compile, pytest-fast, pytest-imports

-
  IDUN/profiling/profile_small_unet.slurm
  misc/profiling/profile_small_3d_unet.py
Due: py-compile

docs
  docs/experiment_results_3d.md
Due: none

-
  misc/extract_tb_trajectories.py
Due: py-compile

-
  IDUN/train/diffusion_3d/exp20_4_pixel_bravo_small_67m.slurm
  IDUN/train/diffusion_3d/exp20_5_pixel_bravo_mid_152m.slurm
  IDUN/train/diffusion_3d/exp20_6_pixel_bravo_tiny_20m.slurm
Due: none

docs
  CLAUDE.md
  IDUN/train/diffusion_3d/exp20_7_pixel_bravo_67m_attn_L345.slurm
  docs/architecture.md
  docs/commands.md
  docs/experiment_results_3d.md
  docs/future_work_v2.md
  docs/profiling_results.md
Due: none

no att
  IDUN/train/diffusion_3d/exp20_7_pixel_bravo_67m_no_attn.slurm
Due: none

proper combined exp
  IDUN/train/diffusion_3d/exp24_pixel_bravo_combined.slurm
  IDUN/train/diffusion_3d/exp25_pixel_bravo_combined_20m.slurm
Due: none

-
  src/medgen/metrics/quality.py
Due: py-compile, pytest-fast, pytest-imports

optimal 23
  IDUN/eval/find_optimal_steps_exp23.slurm
Due: none

optimal LDM exp22_2
  IDUN/eval/find_optimal_steps_exp22_2.slurm
Due: none

-
  IDUN/train/diffusion_3d/exp25_pixel_bravo_combined_20m.slurm
Due: none

-
  IDUN/train/diffusion_3d/exp24_pixel_bravo_combined.slurm
Due: none

doc
  docs/experiment_results_3d.md
Due: none

further exp
  IDUN/train/diffusion_3d/exp26_wdm_scoreaug.slurm
  IDUN/train/diffusion_3d/exp27_ldm_dit_l_scoreaug.slurm
  IDUN/train/diffusion_3d/exp28_ldm_unet_maisi_scoreaug.slurm
Due: none

time shift eval exp23
  IDUN/eval/eval_time_shift_exp23.slurm
  src/medgen/scripts/eval_time_shift.py
Due: py-compile, pytest-fast, pytest-imports

exp27 fix, and new triple mode with t1_pre/post and flair
  IDUN/train/diffusion_3d/exp1v2_pixel_dual.slurm
  IDUN/train/diffusion_3d/exp1v3_pixel_triple.slurm
  configs/mode/triple.yaml
  src/medgen/augmentation/score_aug_wrapper.py
  src/medgen/core/constants.py
  src/medgen/core/mode_factory.py
  src/medgen/data/loaders/dual.py
  src/medgen/data/loaders/unified.py
  src/medgen/data/loaders/volume_3d.py
  src/medgen/diffusion/loading.py
  src/medgen/diffusion/modes.py
  src/medgen/pipeline/diffusion_model_setup.py
  src/medgen/pipeline/trainer.py
  src/medgen/pipeline/training_tricks.py
Due: py-compile, pytest-fast, pytest-imports

exp27 fix
  src/medgen/augmentation/score_aug.py
  src/medgen/scripts/find_optimal_steps.py
Due: py-compile, pytest-fast, pytest-imports

morphological step search for mask
  IDUN/eval/find_optimal_steps_exp14_1_morph.slurm
  src/medgen/metrics/morphological.py
Due: py-compile, pytest-fast, pytest-imports

optimal step fix
  src/medgen/scripts/find_optimal_steps.py
Due: py-compile, pytest-fast, pytest-imports

generation of dual and triple
  src/medgen/diffusion/modes.py
  src/medgen/metrics/generation.py
  src/medgen/metrics/generation_computation.py
  src/medgen/metrics/generation_sampling.py
  src/medgen/pipeline/diffusion_model_setup.py
  src/medgen/pipeline/gen_metrics_manager.py
Due: py-compile, pytest-fast, pytest-imports

eval of dual and triple
  src/medgen/pipeline/trainer.py
  src/medgen/pipeline/visualization.py
Due: py-compile, pytest-fast, pytest-imports

exp28 with dif mixup
  IDUN/train/diffusion_3d/exp28_1_ldm_unet_maisi_scoreaug_mixup.slurm
  configs/training/default.yaml
  src/medgen/pipeline/trainer.py
Due: py-compile, pytest-fast, pytest-imports

lint and test fix plus dual and triple fix
  src/medgen/data/loaders/unified.py
  src/medgen/metrics/generation_computation.py
  src/medgen/metrics/generation_sampling.py
  src/medgen/pipeline/evaluation.py
  src/medgen/pipeline/losses.py
  src/medgen/pipeline/training_tricks.py
  src/medgen/pipeline/validation.py
  src/medgen/scripts/find_optimal_steps.py
  tests/unit/test_triplanar_metrics.py
Due: py-compile, pytest-fast, pytest-imports

optimal morphological timestep shift
  IDUN/eval/eval_time_shift_exp14_1.slurm
  src/medgen/scripts/eval_time_shift.py
Due: py-compile, pytest-fast, pytest-imports

dual and triple fix
  src/medgen/diffusion/strategies.py
  src/medgen/diffusion/strategy_ddpm.py
  src/medgen/diffusion/strategy_rflow.py
  src/medgen/metrics/unified_visualization.py
  src/medgen/pipeline/evaluation.py
Due: py-compile, pytest-fast, pytest-imports

t shift fix for morphological search
  src/medgen/scripts/eval_time_shift.py
Due: py-compile, pytest-fast, pytest-imports

triple mem fix
  IDUN/train/diffusion_3d/exp1v3_pixel_triple.slurm
Due: none

triple mem fix, vis fix for dual and triple modes
  IDUN/train/diffusion_3d/exp1v3_pixel_triple.slurm
  src/medgen/metrics/unified.py
  src/medgen/metrics/unified_visualization.py
  src/medgen/pipeline/visualization.py
Due: py-compile, pytest-fast, pytest-imports

lint
  src/medgen/scripts/eval_time_shift.py
Due: py-compile, pytest-fast, pytest-imports
