Repository ModeS7/AIS4900_master: changes, and which pre-commit hooks are due for each by the changed paths.
All: py-compile, pytest-fast, pytest-imports

.pre-commit-config.yaml:

# Pre-commit hooks for medgen project
# Install: pip install pre-commit && pre-commit install

repos:
  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict

  # Python syntax check
  - repo: local
    hooks:
      - id: py-compile
        name: Python syntax check
        entry: python -m py_compile
        language: system
        types: [python]
        pass_filenames: true

  # Fast unit tests (on pre-push only - can be slow)
  - repo: local
    hooks:
      - id: pytest-fast
        name: pytest (fast unit tests)
        entry: pytest tests/unit -m "not slow" -x -q --tb=line --timeout=30
        language: system
        pass_filenames: false
        always_run: false
        stages: [pre-push]  # Only on push, not commit
        files: ^(tests/|src/medgen/).*\.py$

      - id: pytest-imports
        name: pytest (import tests)
        entry: pytest tests/e2e/test_cli_complete.py::TestModuleImports -x -q --tb=line
        language: system
        pass_filenames: false
        always_run: false
        stages: [pre-push]
        files: ^src/medgen/.*\.py$

  # Import sorting (isort via ruff)
  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: ["--profile", "black", "--line-length", "100"]

  # Ruff linter (fast) - uses pyproject.toml config
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.0
    hooks:
      - id: ruff
        args: ['--fix', '--exit-non-zero-on-fix']
      - id: ruff-format  # Add formatting

  # Mypy type checking (core modules only)
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        args: [--ignore-missing-imports, --no-error-summary]
        additional_dependencies: [torch, omegaconf, types-tqdm]
        files: ^src/medgen/(diffusion|core)/
        exclude: ^src/medgen/(diffusion|core)/__init__\.py$

fix seg testing at the end of training
  src/medgen/data/loaders/unified.py
  src/medgen/data/loaders/volume_3d.py
Due: py-compile, pytest-fast, pytest-imports

memory and patch
  IDUN/train/diffusion_3d/exp17_2_hdit_l_p8_256.slurm
  IDUN/train/diffusion_3d/exp17_3_hdit_xl_p8_256.slurm
  IDUN/train/diffusion_3d/exp7_2_sit_l_256_patch8.slurm
  IDUN/train/diffusion_3d/exp7_2_sit_xl_256_patch8.slurm
Due: none

add to latent std eval
  IDUN/eval/measure_latent_std.slurm
Due: none

backsteps 0
  IDUN/eval/eval_diffrs.slurm
Due: none

exp18
  IDUN/train/diffusion_3d/exp18_uvit_l_p4_256.slurm
Due: none

exp18
  IDUN/train/diffusion_3d/exp18_uvit_l_p8_256.slurm
Due: none

per channel measurement of latent
  src/medgen/scripts/measure_latent_std.py
Due: py-compile, pytest-fast, pytest-imports

volumes
  src/medgen/scripts/find_optimal_steps.py
Due: py-compile, pytest-fast, pytest-imports

step restart test
  IDUN/eval/eval_restart.slurm
  src/medgen/diffusion/strategy_rflow.py
  src/medgen/scripts/eval_restart.py
Due: py-compile, pytest-fast, pytest-imports

-
  IDUN/eval/find_optimal_steps_exp14_1.slurm
Due: none

dc-ae 1.5
  IDUN/train/compression/exp9_1_dcae_f32_1_5.slurm
  IDUN/train/compression/exp9_2_dcae_f64_1_5.slurm
  IDUN/train/compression/exp9_3_dcae_f128_1_5.slurm
Due: none

fix
  src/medgen/scripts/eval_ode_solvers.py
Due: py-compile, pytest-fast, pytest-imports

docs
  docs/experiment_results.md
  docs/experiment_results_3d.md
Due: none

lint
  src/medgen/diffusion/strategy_rflow.py
Due: py-compile, pytest-fast, pytest-imports

fix
  src/medgen/scripts/find_optimal_steps.py
Due: py-compile, pytest-fast, pytest-imports

dc-ae fix
  src/medgen/pipeline/dcae_trainer.py
Due: py-compile, pytest-fast, pytest-imports

seg fix
  src/medgen/scripts/eval_ode_solvers.py
  src/medgen/scripts/find_optimal_steps.py
Due: py-compile, pytest-fast, pytest-imports

LDM improvements and bug fixes
  IDUN/eval/measure_latent_std.slurm
  IDUN/eval/measure_vqvae_latent_std.slurm
  src/medgen/data/loaders/latent.py
  src/medgen/diffusion/spaces.py
  src/medgen/scripts/measure_latent_std.py
  src/medgen/scripts/train.py
Due: py-compile, pytest-fast, pytest-imports

LDM improvements and bug fixes
  src/medgen/data/loaders/latent.py
  src/medgen/scripts/train.py
Due: py-compile, pytest-fast, pytest-imports

LDM chaining
  IDUN/train/diffusion_3d/exp9_0_ldm_8x_bravo_small.slurm
  IDUN/train/diffusion_3d/exp9_1_ldm_4x_bravo.slurm
Due: none

fix
  IDUN/train/diffusion_3d/exp9_0_ldm_8x_bravo_small.slurm
  IDUN/train/diffusion_3d/exp9_1_ldm_4x_bravo.slurm
  src/medgen/pipeline/dcae_trainer.py
Due: py-compile, pytest-fast, pytest-imports

conditioning test
  IDUN/eval/eval_bin_adherence.slurm
  misc/eval_bin_adherence.py
Due: py-compile

WDM normalizing
  src/medgen/diffusion/spaces.py
  src/medgen/scripts/train.py
  tests/unit/test_wavelet_space.py
Due: py-compile, pytest-fast, pytest-imports

eval bin, and ldm fix
  IDUN/eval/eval_bin_adherence.slurm
  IDUN/train/diffusion_3d/exp9_0_ldm_8x_bravo_small.slurm
  IDUN/train/diffusion_3d/exp9_1_ldm_4x_bravo.slurm
  misc/eval_bin_adherence.py
  src/medgen/metrics/generation_sampling.py
  src/medgen/metrics/sampler.py
  src/medgen/scripts/generate.py
Due: py-compile, pytest-fast, pytest-imports

duplicate and bug fixes
  CLAUDE.md
  docs/architecture.md
  docs/common-pitfalls.md
  misc/eval_bin_adherence.py
  src/medgen/data/__init__.py
  src/medgen/data/loaders/seg.py
  src/medgen/data/loaders/seg_conditioned.py
  src/medgen/data/utils.py
  src/medgen/diffusion/strategy_ddpm.py
  src/medgen/diffusion/strategy_rflow.py
  src/medgen/metrics/generation_sampling.py
  src/medgen/pipeline/diffusion_init_helpers.py
  src/medgen/pipeline/trainer.py
  src/medgen/scripts/eval_ode_solvers.py
  src/medgen/scripts/generate.py
Due: py-compile, pytest-fast, pytest-imports

fixes
  src/medgen/data/loaders/seg_conditioned.py
  src/medgen/metrics/sampler.py
Due: py-compile, pytest-fast, pytest-imports

fixes
  src/medgen/data/loaders/seg_conditioned.py
  src/medgen/scripts/generate.py
  tests/unit/test_logging_and_history.py
Due: py-compile, pytest-fast, pytest-imports

docs
  docs/architecture.md
  docs/common-pitfalls.md
Due: none

metrics
  src/medgen/pipeline/trainer.py
Due: py-compile, pytest-fast, pytest-imports

normalization like in paper
  IDUN/train/diffusion_3d/exp12_7_wavelet_ddpm_raw.slurm
  configs/wavelet/default.yaml
  src/medgen/scripts/train.py
Due: py-compile, pytest-fast, pytest-imports

normalization to -1, 1
  IDUN/train/diffusion_3d/exp12b_2_wavelet_ddpm_rescale.slurm
  IDUN/train/diffusion_3d/exp12b_3_wdm_rflow_attn_rescale.slurm
  IDUN/train/diffusion_3d/exp12b_7_wavelet_ddpm_raw_rescale.slurm
  IDUN/train/diffusion_3d/exp1b_1_pixel_bravo_rescale.slurm
  IDUN/train/diffusion_3d/exp1b_pixel_bravo_rescale.slurm
  configs/training/default.yaml
  configs/wavelet/default.yaml
  docs/architecture.md
  docs/commands.md
  docs/common-pitfalls.md
  docs/experiment_results.md
  src/medgen/diffusion/spaces.py
  src/medgen/evaluation/visualization.py
  src/medgen/metrics/generation_sampling.py
  src/medgen/metrics/sampler.py
  src/medgen/pipeline/compile_manager.py
  src/medgen/pipeline/diffusion_model_setup.py
  src/medgen/pipeline/evaluation.py
  src/medgen/pipeline/trainer.py
  src/medgen/pipeline/training_tricks.py
  src/medgen/pipeline/validation.py
  src/medgen/pipeline/visualization.py
  src/medgen/scripts/train.py
  tests/unit/test_3d_training_paths.py
  tests/unit/test_latent_diffusion_paths.py
  tests/unit/test_wavelet_space.py
Due: py-compile, pytest-fast, pytest-imports

chained
  IDUN/train/diffusion_3d/exp1b_1_pixel_bravo_rescale.slurm
  IDUN/train/diffusion_3d/exp1b_pixel_bravo_rescale.slurm
Due: none

ldm fix
  src/medgen/pipeline/evaluation.py
  src/medgen/pipeline/profiling.py
  src/medgen/pipeline/validation.py
Due: py-compile, pytest-fast, pytest-imports

ldm fix
  src/medgen/diffusion/modes.py
  src/medgen/pipeline/evaluation.py
  src/medgen/pipeline/validation.py
  src/medgen/scripts/train.py
Due: py-compile, pytest-fast, pytest-imports

bin fix
  IDUN/eval/eval_bin_adherence.slurm
  misc/eval_bin_adherence.py
Due: py-compile

-
  IDUN/eval/eval_bin_adherence.slurm
Due: none

adherence
  IDUN/eval/eval_bin_adherence.slurm
  configs/wavelet/default.yaml
  src/medgen/diffusion/loading.py
  src/medgen/pipeline/profiling.py
  src/medgen/scripts/train.py
Due: py-compile, pytest-fast, pytest-imports

fix wdm
  IDUN/train/diffusion_3d/exp12_2_wavelet_ddpm_bravo.slurm
  IDUN/train/diffusion_3d/exp12_3_wdm_rflow_attn.slurm
  IDUN/train/diffusion_3d/exp12_4_wavelet_ddpm_x0.slurm
  IDUN/train/diffusion_3d/exp12_5_wavelet_ddpm_x0_medium.slurm
  IDUN/train/diffusion_3d/exp12_6_wavelet_ddpm_x0_dit_s.slurm
  IDUN/train/diffusion_3d/exp12_7_wavelet_ddpm_raw.slurm
  IDUN/train/diffusion_3d/exp12b_2_wavelet_ddpm_rescale.slurm
  IDUN/train/diffusion_3d/exp12b_3_wdm_rflow_attn_rescale.slurm
  IDUN/train/diffusion_3d/exp12b_7_wavelet_ddpm_raw_rescale.slurm
  configs/wavelet/default.yaml
  src/medgen/diffusion/spaces.py
  src/medgen/diffusion/strategy_ddpm.py
  src/medgen/pipeline/trainer.py
  src/medgen/scripts/train.py
  tests/unit/test_wavelet_space.py
Due: py-compile, pytest-fast, pytest-imports
