Repository ModeS7/AIS4900_master: changes, and which pre-commit hooks are due for each by the changed paths.
All: py-compile, pytest-fast, pytest-imports

.pre-commit-config.yaml:

# Pre-commit hooks for medgen project
# Install: pip install pre-commit && pre-commit install

repos:
  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict

  # Python syntax check
  - repo: local
    hooks:
      - id: py-compile
        name: Python syntax check
        entry: python -m py_compile
        language: system
        types: [python]
        pass_filenames: true

  # Fast unit tests (on pre-push only - can be slow)
  - repo: local
    hooks:
      - id: pytest-fast
        name: pytest (fast unit tests)
        entry: pytest tests/unit -m "not slow" -x -q --tb=line --timeout=30
        language: system
        pass_filenames: false
        always_run: false
        stages: [pre-push]  # Only on push, not commit
        files: ^(tests/|src/medgen/).*\.py$

      - id: pytest-imports
        name: pytest (import tests)
        entry: pytest tests/e2e/test_cli_complete.py::TestModuleImports -x -q --tb=line
        language: system
        pass_filenames: false
        always_run: false
        stages: [pre-push]
        files: ^src/medgen/.*\.py$

  # Ruff linter (fast) - uses pyproject.toml config
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.0
    hooks:
      - id: ruff
        args: ['--fix']

update, and small test fixes
  IDUN/test/verify_tensorboard_tags.slurm
  IDUN/train/compression/exp10_1_dcae3d_default.slurm
  IDUN/train/compression/exp11_1_dcae_seg_compression.slurm
  IDUN/train/compression/exp11_2_vqvae3d_seg_compression.slurm
  IDUN/train/compression/exp2_finetune_256.slurm
  IDUN/train/compression/exp3_multimodal_256.slurm
  IDUN/train/compression/exp4_multimodal_64lat.slurm
  IDUN/train/compression/exp5_multimodal_bf16.slurm
  IDUN/train/compression/exp6_1_vqvae_4x.slurm
  IDUN/train/compression/exp6_vqvae_baseline.slurm
  IDUN/train/compression/exp7_vae3d_multimodal.slurm
  IDUN/train/compression/exp8_10_vqvae3d_wide.slurm
  IDUN/train/compression/exp8_11_vqvae3d_codebook1024.slurm
  IDUN/train/compression/exp8_12_vqvae3d_deeper.slurm
  IDUN/train/compression/exp8_13_vqvae3d_highperc.slurm
  IDUN/train/compression/exp8_14_vqvae3d_combined.slurm
  IDUN/train/compression/exp8_1_vqvae3d_lat4.slurm
  IDUN/train/compression/exp8_2_vqvae3d_lat8.slurm
  IDUN/train/compression/exp8_3_vqvae3d_lat16.slurm
  IDUN/train/compression/exp8_5_vqvae3d_8x_lat4.slurm
  IDUN/train/compression/exp8_6_vqvae3d_8x_lat8.slurm
  IDUN/train/compression/exp8_7_vqvae3d_8x_lat16.slurm
  IDUN/train/compression/exp8_8_vqvae3d_8x_lat32.slurm
  IDUN/train/compression/exp8_9_vqvae3d_8x_lat64.slurm
  IDUN/train/compression/exp8_vqvae3d_4x.slurm
  IDUN/train/compression/exp9_1_dcae_f32.slurm
  IDUN/train/compression/exp9_1_dcae_f32_1_5.slurm
  IDUN/train/compression/exp9_1_dcae_f32_phase3.slurm
  IDUN/train/compression/exp9_2_dcae_f64.slurm
  IDUN/train/compression/exp9_2_dcae_f64_1_5.slurm
  IDUN/train/compression/exp9_3_dcae_f128.slurm
  IDUN/train/compression/exp9_3_dcae_f128_1_5.slurm
  IDUN/train/compression/exp9_4_dcae_f128_lpips.slurm
  IDUN/train/diffusion_3d/exp2_1_pixel_seg_sizebin.slurm
  IDUN/train/diffusion_3d/exp2_pixel_seg_sizebin.slurm
  configs/mode/seg_conditioned_3d.yaml
  tests/integration/test_3d_modes.py
  tests/unit/test_config_validation.py
  tests/unit/test_generation_metrics.py
  tests/unit/test_slurm_validation.py
Due: py-compile, pytest-fast

seg dual, data loading
  IDUN/downstream/exp2_seg_dual_baseline_2d.slurm
  IDUN/downstream/exp2_seg_dual_baseline_3d.slurm
  src/medgen/downstream/data.py
Due: py-compile, pytest-fast, pytest-imports

profiling
  misc/copy_tensorboard.sh
  misc/profiling/profile_compression_vram.py
  misc/profiling/profile_latent_3d_unet.py
Due: py-compile

fix logging for segmentation, and latent diffusion
  IDUN/train/diffusion_3d/exp_ldm_4x_bravo.slurm
  IDUN/train/diffusion_3d/exp_ldm_8x_bravo.slurm
  src/medgen/core/constants.py
  src/medgen/data/loaders/latent.py
  src/medgen/diffusion/__init__.py
  src/medgen/diffusion/modes.py
  src/medgen/downstream/segmentation_trainer.py
  src/medgen/metrics/unified.py
  src/medgen/pipeline/compression_trainer.py
  src/medgen/pipeline/trainer.py
Due: py-compile, pytest-fast, pytest-imports

fixes
  IDUN/train/diffusion_3d/exp9_ldm_4x_bravo.slurm
  IDUN/train/diffusion_3d/exp9_ldm_8x_bravo.slurm
  IDUN/train/diffusion_3d/exp_ldm_4x_bravo.slurm
  IDUN/train/diffusion_3d/exp_ldm_8x_bravo.slurm
  configs/diffusion.yaml
  configs/diffusion_3d.yaml
  configs/mode/seg_compression.yaml
  configs/mode/seg_conditioned.yaml
  configs/mode/seg_conditioned_3d.yaml
  configs/mode/seg_conditioned_input.yaml
  configs/mode/seg_conditioned_input_3d.yaml
  src/medgen/scripts/train.py
Due: py-compile, pytest-fast, pytest-imports

-
  configs/mode/bravo_seg_cond.yaml
Due: none

bug fix
  IDUN/train/diffusion_3d/exp9_ldm_4x_bravo.slurm
  IDUN/train/diffusion_3d/exp9_ldm_8x_bravo.slurm
  src/medgen/evaluation/visualization.py
  src/medgen/metrics/generation.py
  src/medgen/pipeline/trainer.py
Due: py-compile, pytest-fast, pytest-imports

bug fix
  src/medgen/data/loaders/latent.py
Due: py-compile, pytest-fast, pytest-imports

bug fix
  src/medgen/core/__init__.py
  src/medgen/core/constants.py
  src/medgen/scripts/train.py
Due: py-compile, pytest-fast, pytest-imports

latent bug fix
  src/medgen/data/loaders/latent.py
  src/medgen/metrics/generation.py
  src/medgen/scripts/train.py
  tests/unit/test_generation_metrics.py
Due: py-compile, pytest-fast, pytest-imports

latent bug fix
  configs/mode/bravo_seg_cond.yaml
  src/medgen/metrics/generation.py
Due: py-compile, pytest-fast, pytest-imports

latent bug fix
  src/medgen/pipeline/trainer.py
  src/medgen/scripts/train.py
Due: py-compile, pytest-fast, pytest-imports

profiling
  IDUN/profiling/profile_latent_3d_unet.slurm
  misc/profiling/profile_latent_3d_unet.py
Due: py-compile

profiling
  misc/profiling/profile_latent_3d_unet.py
Due: py-compile

profiling
  misc/profiling/profile_latent_3d_unet.py
  src/medgen/pipeline/trainer.py
Due: py-compile, pytest-fast, pytest-imports

profiling
  IDUN/train/diffusion_3d/exp9_ldm_8x_bravo.slurm
Due: none

LDM fix
  IDUN/train/diffusion_3d/exp9_ldm_4x_bravo.slurm
  IDUN/train/diffusion_3d/exp9_ldm_8x_bravo.slurm
  src/medgen/pipeline/trainer.py
  src/medgen/scripts/train.py
Due: py-compile, pytest-fast, pytest-imports

LDM fix
  IDUN/train/diffusion_3d/exp9_ldm_4x_bravo.slurm
  IDUN/train/diffusion_3d/exp9_ldm_8x_bravo.slurm
Due: none

seg volume diffusion fix
  src/medgen/metrics/generation.py
  src/medgen/pipeline/trainer.py
Due: py-compile, pytest-fast, pytest-imports

dcae seg
  IDUN/train/compression/exp13_1_dcae_seg_f32.slurm
  IDUN/train/compression/exp13_2_dcae_seg_f64.slurm
  IDUN/train/compression/exp13_3_dcae_seg_f128.slurm
Due: none

dcae seg [skip ci]
  IDUN/train/compression/exp13_1_dcae_seg_f32.slurm
  IDUN/train/compression/exp13_2_dcae_seg_f64.slurm
  IDUN/train/compression/exp13_3_dcae_seg_f128.slurm
Due: none

seg volume diffusion fix
  src/medgen/diffusion/strategies.py
  src/medgen/metrics/generation.py
  src/medgen/pipeline/trainer.py
Due: py-compile, pytest-fast, pytest-imports

Validation/MS-SSIM-3D fix for LDM
  src/medgen/pipeline/trainer.py
Due: py-compile, pytest-fast, pytest-imports

fix for LDM
  src/medgen/pipeline/trainer.py
Due: py-compile, pytest-fast, pytest-imports

fix for LDM extended validation + add quick train run test
  IDUN/train/diffusion_3d/exp9_0_ldm_8x_bravo_small.slurm
  src/medgen/pipeline/trainer.py
Due: py-compile, pytest-fast, pytest-imports

memory fix, now 1 volume is generated gets its features extracted and deleted to save on memory
  src/medgen/metrics/generation.py
Due: py-compile, pytest-fast, pytest-imports

channel parsing error fix
  src/medgen/diffusion/spaces.py
  src/medgen/diffusion/strategies.py
  src/medgen/evaluation/visualization.py
  src/medgen/metrics/generation.py
  src/medgen/pipeline/trainer.py
  src/medgen/scripts/generate.py
Due: py-compile, pytest-fast, pytest-imports

LDM test fix
  src/medgen/scripts/train.py
Due: py-compile, pytest-fast, pytest-imports

dc-ae v1.5 fix
  configs/dcae/default.yaml
  src/medgen/models/__init__.py
  src/medgen/pipeline/dcae_trainer.py
Due: py-compile, pytest-fast, pytest-imports

dc-ae v1.5 fix
  src/medgen/models/dcae_adaptive_layers.py
  src/medgen/models/dcae_structured.py
Due: py-compile, pytest-fast, pytest-imports

dc-ae v1.5 fix and 3D-SiT LDM with dc-ae v1.0 compression
  IDUN/train/diffusion_3d/exp10_1_sit_dcae_8x8x32.slurm
  IDUN/train/diffusion_3d/exp10_2_sit_dcae_4x4x128.slurm
  IDUN/train/diffusion_3d/exp10_3_sit_dcae_2x2x512.slurm
  configs/latent/default.yaml
  src/medgen/data/loaders/latent.py
  src/medgen/diffusion/spaces.py
  src/medgen/metrics/tracking/flops.py
  src/medgen/models/dcae_adaptive_layers.py
  src/medgen/models/dcae_structured.py
  src/medgen/models/factory.py
  src/medgen/scripts/train.py
Due: py-compile, pytest-fast, pytest-imports

LDM dc-ae 3D-sit fix
  src/medgen/data/loaders/latent.py
  src/medgen/scripts/train.py
Due: py-compile, pytest-fast, pytest-imports

LDM dc-ae 3D-sit fix
  IDUN/train/diffusion_3d/exp10_3_sit_dcae_2x2x512.slurm
  src/medgen/data/loaders/latent.py
Due: py-compile, pytest-fast, pytest-imports

LDM dc-ae 3D-sit fix
  IDUN/train/diffusion_3d/exp10_1_sit_dcae_8x8x32.slurm
  IDUN/train/diffusion_3d/exp10_2_sit_dcae_4x4x128.slurm
  IDUN/train/diffusion_3d/exp10_3_sit_dcae_2x2x512.slurm
  src/medgen/data/loaders/latent.py
Due: py-compile, pytest-fast, pytest-imports

LDM dc-ae 3D-sit fix
  src/medgen/data/loaders/latent.py
Due: py-compile, pytest-fast, pytest-imports

LDM dc-ae 3D-sit fix
  src/medgen/diffusion/spaces.py
Due: py-compile, pytest-fast, pytest-imports

LDM dc-ae 3D-sit fix
  src/medgen/models/factory.py
Due: py-compile, pytest-fast, pytest-imports
