Repository ModeS7/AIS4900_master: changes, and which pre-commit hooks are due for each by the changed paths.
All: py-compile, pytest-fast, pytest-imports

py-compile:
  name: Python syntax check
  entry: python -m py_compile
  language: system
  pass_filenames: true

pytest-fast:
  name: pytest (fast unit tests)
  entry: pytest tests/unit -m "not slow" -x -q --tb=line --timeout=30
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-push

pytest-imports:
  name: pytest (import tests)
  entry: pytest tests/e2e/test_cli_complete.py::TestModuleImports -x -q --tb=line
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-push

-
  IDUN/train/diffusion_3d/exp43b_vqvae_deblur_aug.slurm
  IDUN/train/diffusion_3d/exp44b_pix2pix_aug.slurm
Due: none

small fix
  CLAUDE.md
Due: none

48e
  IDUN/train/diffusion_3d/exp48e_lowt_only.slurm
Due: none

optima
  IDUN/eval/find_optimal_steps_exp45.slurm
  IDUN/eval/find_optimal_steps_exp47a.slurm
  IDUN/eval/find_optimal_steps_exp47c.slurm
  IDUN/eval/find_optimal_steps_exp47d.slurm
  IDUN/eval/find_optimal_steps_exp47e.slurm
  IDUN/eval/find_optimal_steps_exp48a.slurm
  IDUN/eval/find_optimal_steps_exp48b.slurm
  IDUN/eval/find_optimal_steps_exp48c.slurm
  IDUN/eval/find_optimal_steps_exp48d.slurm
  src/medgen/scripts/find_optimal_steps.py
Due: py-compile, pytest-fast, pytest-imports

eval
  IDUN/eval/compare_refinement_models_v2.slurm
Due: none

gen
  IDUN/generate/gen_exp47a_80steps_10vols.slurm
Due: none

optima
  IDUN/eval/find_optimal_steps_exp1_1_1000plus.slurm
  IDUN/eval/find_optimal_steps_exp32_1_1000.slurm
  IDUN/eval/find_optimal_steps_exp32_2_1000.slurm
  IDUN/eval/find_optimal_steps_exp32_2_1000_17M.slurm
  IDUN/eval/find_optimal_steps_exp32_3_1000.slurm
  IDUN/eval/find_optimal_steps_exp34_0_mamba.slurm
  IDUN/eval/find_optimal_steps_exp34_1_mamba_l.slurm
  IDUN/eval/find_optimal_steps_exp35_1.slurm
  IDUN/eval/find_optimal_steps_exp35_2.slurm
  IDUN/eval/find_optimal_steps_exp35_3.slurm
  IDUN/eval/find_optimal_steps_exp36_1.slurm
  IDUN/eval/find_optimal_steps_exp36_2.slurm
  IDUN/eval/find_optimal_steps_exp36_3.slurm
  IDUN/eval/find_optimal_steps_exp36_4.slurm
  IDUN/eval/find_optimal_steps_exp37_1.slurm
  IDUN/eval/find_optimal_steps_exp37_2.slurm
  IDUN/eval/find_optimal_steps_exp37_3.slurm
  IDUN/eval/find_optimal_steps_exp45.slurm
  IDUN/eval/find_optimal_steps_exp47b.slurm
  IDUN/eval/find_optimal_steps_exp47c.slurm
  IDUN/eval/find_optimal_steps_exp47d.slurm
  IDUN/eval/find_optimal_steps_exp47e.slurm
  IDUN/eval/find_optimal_steps_exp48a.slurm
  IDUN/eval/find_optimal_steps_exp48a_handoff_exp1_1_1000.slurm
  IDUN/eval/find_optimal_steps_exp48a_handoff_exp32_2_1000.slurm
  IDUN/eval/find_optimal_steps_exp48b.slurm
  IDUN/eval/find_optimal_steps_exp48b_handoff_exp1_1_1000.slurm
  IDUN/eval/find_optimal_steps_exp48b_handoff_exp32_2_1000.slurm
  IDUN/eval/find_optimal_steps_exp48c.slurm
  IDUN/eval/find_optimal_steps_exp48c_handoff_exp1_1_1000.slurm
  IDUN/eval/find_optimal_steps_exp48c_handoff_exp32_2_1000.slurm
  IDUN/eval/find_optimal_steps_exp48d.slurm
  IDUN/eval/find_optimal_steps_exp48d_handoff_exp1_1_1000.slurm
  IDUN/eval/find_optimal_steps_exp48d_handoff_exp32_2_1000.slurm
  IDUN/eval/find_optimal_steps_exp48e.slurm
  IDUN/eval/find_optimal_steps_exp48e_handoff_exp1_1_1000.slurm
  IDUN/eval/find_optimal_steps_exp48e_handoff_exp32_2_1000.slurm
  src/medgen/scripts/find_optimal_steps.py
Due: py-compile, pytest-fast, pytest-imports

profiling mamba L/WDM
  IDUN/profiling/profile_mamba_ldm.slurm
  misc/profile_mamba_ldm.py
Due: py-compile

profiling mamba L/WDM
  misc/profile_mamba_ldm.py
Due: py-compile

mamba refinement
  IDUN/train/diffusion_3d/exp44m_mamba_refinement.slurm
  src/medgen/scripts/train_refinement_gan.py
Due: py-compile, pytest-fast, pytest-imports

mamba WDM
  IDUN/train/diffusion_3d/exp19_2m_mamba_wdm.slurm
Due: none

mamba WDM
  IDUN/train/diffusion_3d/exp19_2m_lowt_mamba_wdm.slurm
Due: none

WDM
  IDUN/train/diffusion_3d/exp19_2_1000_wdm_default.slurm
Due: none

generation for visual eval
  IDUN/generate/compare_15_models_imagenet_optima.slurm
  IDUN/generate/compare_15_models_radimagenet_optima.slurm
  configs/generate.yaml
  src/medgen/models/handoff.py
  src/medgen/scripts/find_optimal_steps.py
  src/medgen/scripts/generate.py
Due: py-compile, pytest-fast, pytest-imports

further optima
  IDUN/eval/find_optimal_steps_exp32_2_extended.slurm
  IDUN/eval/find_optimal_steps_exp46.slurm
  IDUN/eval/find_optimal_steps_exp46b.slurm
Due: none

lint
  src/medgen/scripts/find_optimal_steps.py
Due: py-compile, pytest-fast, pytest-imports

fix
  IDUN/generate/compare_15_models_imagenet_optima.slurm
  IDUN/generate/compare_15_models_radimagenet_optima.slurm
Due: none

fix
  src/medgen/diffusion/loading.py
Due: py-compile, pytest-fast, pytest-imports

gen
  IDUN/generate/gen_seg_cand_exp1_1_1000plus.slurm
  IDUN/generate/gen_seg_cand_exp32_2_1000.slurm
  IDUN/generate/gen_seg_cand_exp48c_handoff_exp32.slurm
  IDUN/generate/gen_seg_cand_exp48c_standalone.slurm
  IDUN/generate/gen_seg_cand_exp48d_handoff_exp1.slurm
Due: none

gen last step refinement
  src/medgen/scripts/generate.py
Due: py-compile, pytest-fast, pytest-imports

test fix
  .github/workflows/mutation.yml
  .github/workflows/test.yml
  .github/workflows/tests-nightly.yml
Due: none

wdm optima
  IDUN/eval/find_optimal_steps_exp19_2_dense.slurm
  IDUN/eval/find_optimal_steps_exp19_2m.slurm
Due: none

wdm optima fix
  src/medgen/diffusion/loading.py
Due: py-compile, pytest-fast, pytest-imports

nnunet dataset convertion
  IDUN/train/downstream/nnunet/convert_seg_candidates.slurm
  configs/volume/default.yaml
  src/medgen/downstream/nnunet/convert_dataset.py
Due: py-compile, pytest-fast, pytest-imports

doc update
  .gitignore
  CLAUDE.md
  FUTURE_WORK_v1.md
  docs/architecture.md
  docs/commands.md
  docs/experiment_results_3d.md
  docs/future_work_v2.md
  docs/proven_techniques.md
  docs/scoreaug_omega.md
  idun_logs_extracted.json
  runs_tb_extracted.json
Due: none

resume
  IDUN/train/downstream/nnunet/finish_seg_candidates_preprocess.slurm
Due: none

nnunet synthetic training
  IDUN/train/downstream/nnunet/exp6_2_synthetic_105_exp1_1_1000plus.slurm
  IDUN/train/downstream/nnunet/exp6_2_synthetic_105_exp32_2_1000.slurm
  IDUN/train/downstream/nnunet/exp6_2_synthetic_105_exp48c_handoff_exp32.slurm
  IDUN/train/downstream/nnunet/exp6_2_synthetic_105_exp48c_standalone.slurm
  IDUN/train/downstream/nnunet/exp6_2_synthetic_105_exp48d_handoff_exp1.slurm
Due: none

docs update
  CLAUDE.md
  README.md
  docs/architecture.md
  docs/commands.md
  docs/common-pitfalls.md
  docs/experiment_results.md
  docs/experiment_results_3d.md
  docs/profiling_results.md
  docs/proven_techniques.md
  docs/scoreaug_omega.md
  tests/EXAMPLES.md
  tests/FIXTURES.md
  tests/integration/PITFALL_TEST_MAP.md
Due: none

result collection: compression
  IDUN/eval/eval_compression_visual.slurm
  src/medgen/scripts/eval_compression_visual.py
Due: py-compile, pytest-fast, pytest-imports

fix
  IDUN/eval/eval_compression_visual.slurm
Due: none

test nnunet synth
  IDUN/train/downstream/nnunet/eval_5fold_exp6_2_synthetic_105_exp1_1_1000plus.slurm
  IDUN/train/downstream/nnunet/eval_5fold_exp6_2_synthetic_105_exp32_2_1000.slurm
Due: none

tensorboard
  IDUN/tensorboard.slurm
Due: none

test nnunet synth
  IDUN/train/downstream/nnunet/eval_5fold_exp6_2_synthetic_105_exp48c_standalone.slurm
Due: none

fix
  IDUN/eval/eval_compression_visual.slurm
  src/medgen/scripts/eval_compression_visual.py
Due: py-compile, pytest-fast, pytest-imports

fix
  src/medgen/scripts/eval_compression_visual.py
Due: py-compile, pytest-fast, pytest-imports

fix
  IDUN/train/downstream/nnunet/eval_5fold_exp6_2_synthetic_105_exp48c_handoff_exp32.slurm
  IDUN/train/downstream/nnunet/eval_5fold_exp6_2_synthetic_105_exp48d_handoff_exp1.slurm
Due: none

fix
  IDUN/eval/brain_mask_existing.slurm
  IDUN/train/downstream/nnunet/convert_exp1_1_1000_brain_masked.slurm
  IDUN/train/downstream/nnunet/eval_5fold_exp6_2_synthetic_105_exp1_1_1000_IN.slurm
  IDUN/train/downstream/nnunet/eval_5fold_exp6_2_synthetic_105_exp1_1_1000_RIN.slurm
  IDUN/train/downstream/nnunet/exp3_baseline_v2_d600.slurm
  IDUN/train/downstream/nnunet/exp4_baseline_dual_v2_d601.slurm
  IDUN/train/downstream/nnunet/exp5_baseline_triple_d602.slurm
  IDUN/train/downstream/nnunet/exp6_2_synthetic_105_exp1_1_1000_IN.slurm
  IDUN/train/downstream/nnunet/exp6_2_synthetic_105_exp1_1_1000_RIN.slurm
  src/medgen/scripts/brain_mask_existing.py
Due: py-compile, pytest-fast, pytest-imports

fix
  IDUN/train/downstream/nnunet/eval_5fold_exp6_2_synthetic_105_exp1_1_1000_IN.slurm
  IDUN/train/downstream/nnunet/eval_5fold_exp6_2_synthetic_105_exp1_1_1000_RIN.slurm
Due: none

Path conditions:
  py-compile: any of: \.py$
  pytest-fast: any of: ^(tests/|src/medgen/).*\.py$
  pytest-imports: any of: ^src/medgen/.*\.py$
