Repository ModeS7/AIS4900_master: changes, and which pre-commit hooks are due for each by the changed paths.
All: py-compile, pytest-fast, pytest-imports

.pre-commit-config.yaml:

# Pre-commit hooks for medgen project
# Install: pip install pre-commit && pre-commit install

repos:
  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict

  # Python syntax check
  - repo: local
    hooks:
      - id: py-compile
        name: Python syntax check
        entry: python -m py_compile
        language: system
        types: [python]
        pass_filenames: true

  # Fast unit tests (on pre-push only - can be slow)
  - repo: local
    hooks:
      - id: pytest-fast
        name: pytest (fast unit tests)
        entry: pytest tests/unit -m "not slow" -x -q --tb=line --timeout=30
        language: system
        pass_filenames: false
        always_run: false
        stages: [pre-push]  # Only on push, not commit
        files: ^(tests/|src/medgen/).*\.py$

      - id: pytest-imports
        name: pytest (import tests)
        entry: pytest tests/e2e/test_cli_complete.py::TestModuleImports -x -q --tb=line
        language: system
        pass_filenames: false
        always_run: false
        stages: [pre-push]
        files: ^src/medgen/.*\.py$

  # Import sorting (isort via ruff)
  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: ["--profile", "black", "--line-length", "100"]

  # Ruff linter (fast) - uses pyproject.toml config
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.0
    hooks:
      - id: ruff
        args: ['--fix', '--exit-non-zero-on-fix']
      - id: ruff-format  # Add formatting

  # Mypy type checking (core modules only)
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        args: [--ignore-missing-imports, --no-error-summary]
        additional_dependencies: [torch, omegaconf, types-tqdm]
        files: ^src/medgen/(diffusion|core)/
        exclude: ^src/medgen/(diffusion|core)/__init__\.py$

RAMMMM
  IDUN/train/diffusion_3d/exp1_pixel_bravo.slurm
Due: none

TADA test
  IDUN/train/diffusion_3d/exp51_tada_p049.slurm
  configs/training/default.yaml
  configs/training/fast_debug.yaml
  src/medgen/pipeline/trainer.py
Due: py-compile, pytest-fast, pytest-imports

nightly test fix, plus work on PCA
  IDUN/eval/pca_ablation_clean.slurm
  docs/commands.md
  src/medgen/scripts/compute_brain_pca.py
  src/medgen/scripts/validate_pca_filter.py
  tests/unit/conftest.py
Due: py-compile, pytest-fast, pytest-imports

lint
  src/medgen/scripts/validate_pca_filter.py
Due: py-compile, pytest-fast, pytest-imports

BRATS eval
  IDUN/train/downstream/nnunet/eval_lesionwise_paper.slurm
Due: none

3d native metrics and loss
  configs/training/default.yaml
  src/medgen/losses/losses.py
  src/medgen/metrics/feature_extractors.py
  src/medgen/metrics/generation.py
  src/medgen/metrics/generation_computation.py
  src/medgen/metrics/generation_sampling.py
  src/medgen/pipeline/diffusion_model_setup.py
Due: py-compile, pytest-fast, pytest-imports

3d native metrics and loss
  IDUN/train/diffusion_3d/bench_perceptual3d.slurm
Due: none

test and Perceptual los fix
  src/medgen/pipeline/trainer.py
  tests/unit/test_triplanar_metrics.py
Due: py-compile, pytest-fast, pytest-imports

name bug fix, adding vgg perceptual loss
  CLAUDE.md
  IDUN/train/diffusion_3d/bench_perceptual3d.slurm
  IDUN/train/diffusion_3d/exp47c_lpips_huber_builtin.slurm
  IDUN/train/diffusion_3d/exp48c_lowt_only.slurm
  configs/strategy/rflow.yaml
  configs/training/default.yaml
  docs/common-pitfalls.md
  src/medgen/pipeline/base_config.py
  src/medgen/pipeline/diffusion_trainer_base.py
  src/medgen/pipeline/losses.py
  src/medgen/pipeline/trainer.py
  src/medgen/scripts/visualize_loss_schedules.py
  tests/unit/test_config_validation.py
Due: py-compile, pytest-fast, pytest-imports

lpips name fix, test diversity
  CLAUDE.md
  IDUN/eval/eval_diversity_msssim.slurm
  configs/strategy/rflow.yaml
  docs/common-pitfalls.md
  src/medgen/metrics/__init__.py
  src/medgen/metrics/dispatch.py
  src/medgen/metrics/quality.py
  src/medgen/pipeline/base_config.py
  src/medgen/pipeline/diffusion_trainer_base.py
  src/medgen/pipeline/losses.py
  src/medgen/pipeline/trainer.py
  src/medgen/scripts/eval_diversity.py
  tests/unit/test_config_validation.py
  tests/unit/test_spatial_and_dispatch.py
Due: py-compile, pytest-fast, pytest-imports

lint
  src/medgen/scripts/eval_diversity.py
Due: py-compile, pytest-fast, pytest-imports

perceptual loss test
  IDUN/train/diffusion_3d/exp52a_exp32_2_medicalnet3d.slurm
  IDUN/train/diffusion_3d/exp52b_exp48d_medicalnet3d.slurm
  IDUN/train/diffusion_3d/exp52c_exp32_2_vgg25d.slurm
  IDUN/train/diffusion_3d/exp52d_exp48d_vgg25d.slurm
Due: none

perceptual diversity
  IDUN/eval/eval_diversity_lpips.slurm
  src/medgen/scripts/eval_diversity.py
Due: py-compile, pytest-fast, pytest-imports

Med3D eval
  IDUN/eval/eval_med3d_mmd.slurm
  src/medgen/scripts/eval_med3d_mmd.py
Due: py-compile, pytest-fast, pytest-imports

Med3D eval
  IDUN/eval/eval_med3d_mmd.slurm
Due: none

eval
  IDUN/eval/eval_all_metrics.slurm
  src/medgen/scripts/eval_all_metrics.py
  src/medgen/scripts/eval_med3d_mmd.py
Due: py-compile, pytest-fast, pytest-imports

json save fix
  IDUN/eval/eval_all_metrics.slurm
  IDUN/eval/eval_diversity_lpips.slurm
  IDUN/eval/eval_diversity_msssim.slurm
  IDUN/eval/eval_med3d_mmd.slurm
  src/medgen/scripts/eval_all_metrics.py
  src/medgen/scripts/eval_diversity.py
  src/medgen/scripts/eval_med3d_mmd.py
Due: py-compile, pytest-fast, pytest-imports

relocate reports/ and misc/reporting/ out of root
  IDUN/eval/tier1/README.md
  IDUN/eval/tier1/submit_all_tier1.sh
  docs/experiment_results_3d.md
  misc/reporting/extract_idun_logs.py
  misc/reporting/extract_tb.py
  misc/reporting/narrate_idun.py
  misc/reporting/narrate_runs.py
  reports/EXPERIMENT_SUMMARIES.md
  reports/IDUN_LOG_SUMMARIES.md
  reports/idun_logs_extracted.json
  reports/runs_tb_extracted.json
Due: py-compile

consolidate future_work docs, move report notes out
  CLAUDE.md
  FUTURE_WORK_v1.md
  README.md
  docs/future_work.md
  docs/notes_for_report.txt
Due: none

fix train_template.slurm examples
  IDUN/train_template.slurm
Due: none

untrack generated histogram png
  .gitignore
  misc/histogram_comparison.png
Due: none

remove dead code and unused vars
  docs/architecture.md
  src/medgen/data/loaders/compression_detection.py
  src/medgen/data/loaders/unified.py
  src/medgen/diffusion/diffrs.py
  src/medgen/diffusion/loading.py
  src/medgen/diffusion/strategy_ddpm.py
  src/medgen/diffusion/strategy_rflow.py
  src/medgen/metrics/codebook_manager.py
  src/medgen/models/haar_wavelet_3d.py
  src/medgen/models/hdit.py
  src/medgen/models/mamba_diff.py
  src/medgen/pipeline/compile_manager.py
  src/medgen/pipeline/gen_metrics_manager.py
  src/medgen/pipeline/loss_helper.py
  src/medgen/pipeline/training_tricks.py
  src/medgen/pipeline/visualization.py
  src/medgen/scripts/debug_ldm_roundtrip.py
  src/medgen/scripts/eval_diffrs.py
  src/medgen/scripts/eval_restart.py
  src/medgen/scripts/generate.py
Due: py-compile, pytest-fast, pytest-imports

rename LPIPS metric to perceptual distance
  misc/experiments/evaluate_maisi_vae.py
  src/medgen/evaluation/evaluation.py
  src/medgen/evaluation/evaluation_3d.py
  src/medgen/evaluation/validation.py
  src/medgen/losses/perceptual_manager.py
  src/medgen/metrics/dispatch.py
  src/medgen/metrics/generation_computation.py
  src/medgen/metrics/metric_computation.py
  src/medgen/metrics/quality.py
  src/medgen/metrics/unified.py
  src/medgen/pipeline/compression_trainer.py
  src/medgen/pipeline/compression_validation.py
  src/medgen/pipeline/diffusion_trainer_base.py
  src/medgen/pipeline/evaluation.py
  src/medgen/pipeline/validation.py
  src/medgen/scripts/eval_blur_attack_compare.py
  src/medgen/scripts/eval_perception_distortion.py
  src/medgen/scripts/probe_freq_mix.py
  src/medgen/scripts/refine_sdedit_synth.py
  src/medgen/scripts/refine_spectral_eq.py
  tests/unit/conftest.py
  tests/unit/test_dimension_helpers.py
  tests/unit/test_quality_metrics.py
  tests/unit/test_quality_metrics_diversity.py
  tests/unit/test_spatial_and_dispatch.py
Due: py-compile, pytest-fast, pytest-imports

fix documentation mismatches vs code and logs
  CLAUDE.md
  README.md
  docs/architecture.md
  docs/commands.md
  docs/common-pitfalls.md
  docs/downstream_nnunet.md
  docs/eval-ode-solvers.md
  docs/experiment_results.md
  docs/experiment_results_3d.md
  docs/future_work.md
  docs/profiling_results.md
  docs/proven_techniques.md
Due: none

eval redo
  IDUN/eval/eval_all_metrics.slurm
  src/medgen/scripts/eval_all_metrics.py
Due: py-compile, pytest-fast, pytest-imports

time
  IDUN/train/downstream/nnunet/eval_5fold_exp7_3_mixed_315syn_d614.slurm
Due: none

-
  IDUN/eval/eval_med3d_mmd_networks.slurm
  misc/aggregate_nnunet_metrics.py
  src/medgen/metrics/feature_extractors.py
  src/medgen/metrics/regional/tracker_seg.py
  src/medgen/scripts/eval_med3d_mmd_networks.py
Due: py-compile, pytest-fast, pytest-imports

r50 eval using Med3D-MMD metric
  IDUN/eval/eval_med3d_mmd_r50_refs.slurm
Due: none

eval
  IDUN/eval/eval_paper_generators_fixed_train_ref.slurm
Due: none

eval fix
  IDUN/eval/eval_paper_generators_fixed_train_ref.slurm
Due: none

nightly test fix
  tests/unit/conftest.py
Due: py-compile, pytest-fast

some result collection
  IDUN/train/downstream/nnunet/eval_lesionwise_paper.slurm
Due: none

some result collection
  IDUN/train/downstream/nnunet/recompute_paper_metrics.slurm
  src/medgen/scripts/recompute_nnunet_metrics.py
Due: py-compile, pytest-fast, pytest-imports

some result collection
  src/medgen/metrics/paper_segmentation.py
Due: py-compile, pytest-fast, pytest-imports

some result collection
  tests/unit/test_recompute_nnunet_metrics.py
Due: py-compile, pytest-fast

eval
  IDUN/generate/eval_gen_exp1_1_1000.slurm
  IDUN/generate/eval_gen_exp1_1_1000plus.slurm
  IDUN/generate/eval_gen_exp32_2_1000.slurm
  IDUN/generate/eval_gen_exp32_3_1000.slurm
  IDUN/generate/eval_gen_exp47a.slurm
  IDUN/generate/eval_gen_exp47b.slurm
  IDUN/generate/eval_gen_exp47c.slurm
  IDUN/generate/eval_gen_exp47d.slurm
  IDUN/generate/eval_gen_exp47e.slurm
  IDUN/generate/eval_gen_exp48a.slurm
  IDUN/generate/eval_gen_exp48b.slurm
  IDUN/generate/eval_gen_exp48c.slurm
  IDUN/generate/eval_gen_exp48d.slurm
  IDUN/generate/eval_gen_exp48e.slurm
Due: none

eval fix
  IDUN/generate/eval_gen_exp1_1_1000.slurm
  IDUN/generate/eval_gen_exp1_1_1000plus.slurm
  IDUN/generate/eval_gen_exp32_2_1000.slurm
  IDUN/generate/eval_gen_exp32_3_1000.slurm
  IDUN/generate/eval_gen_exp47a.slurm
  IDUN/generate/eval_gen_exp47b.slurm
  IDUN/generate/eval_gen_exp47c.slurm
  IDUN/generate/eval_gen_exp47d.slurm
  IDUN/generate/eval_gen_exp47e.slurm
  IDUN/generate/eval_gen_exp48a.slurm
  IDUN/generate/eval_gen_exp48b.slurm
  IDUN/generate/eval_gen_exp48c.slurm
  IDUN/generate/eval_gen_exp48d.slurm
  IDUN/generate/eval_gen_exp48e.slurm
  IDUN/generate/eval_generator_panel_metrics.slurm
  IDUN/generate/panel_manifest.py
  IDUN/generate/run_eval_generator.sh
  IDUN/generate/submit_eval_generator_panel.sh
  configs/generate.yaml
  src/medgen/metrics/generation.py
  src/medgen/scripts/eval_all_metrics.py
  src/medgen/scripts/generate.py
  tests/unit/test_eval_all_metrics_rng.py
  tests/unit/test_generation_metrics.py
  tests/unit/test_generation_protocol.py
  tests/unit/test_panel_manifest.py
  tests/unit/test_slurm_validation.py
Due: py-compile, pytest-fast, pytest-imports

eval fix
  IDUN/generate/eval_generator_panel_metrics.slurm
  IDUN/generate/panel_manifest.py
  IDUN/generate/run_eval_generator.sh
  IDUN/generate/submit_eval_generator_panel.sh
  tests/unit/test_slurm_validation.py
Due: py-compile, pytest-fast

seg gne and eval fix
  IDUN/generate/generate_common_seg_masks.slurm
  configs/generate.yaml
  src/medgen/data/loaders/datasets.py
  src/medgen/data/loaders/seg.py
  src/medgen/scripts/audit_seg_mask_pool.py
  src/medgen/scripts/generate.py
  tests/unit/test_generation_protocol.py
  tests/unit/test_seg_mask_pool_audit.py
  tests/unit/test_slurm_validation.py
Due: py-compile, pytest-fast, pytest-imports

eval fix
  IDUN/generate/panel_manifest.py
  tests/unit/test_panel_manifest.py
  tests/unit/test_slurm_validation.py
Due: py-compile, pytest-fast
