Repository ModeS7/AIS4900_master: changes, and which pre-commit hooks are due for each by the changed paths.
All: py-compile, pytest-fast, pytest-imports

py-compile:
  name: Python syntax check
  entry: python -m py_compile
  language: system
  pass_filenames: true

pytest-fast:
  name: pytest (fast unit tests)
  entry: pytest tests/unit -m "not slow" -x -q --tb=line --timeout=30
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-push

pytest-imports:
  name: pytest (import tests)
  entry: pytest tests/e2e/test_cli_complete.py::TestModuleImports -x -q --tb=line
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-push

testing
  .github/workflows/mutation.yml
  .github/workflows/test.yml
  .github/workflows/tests-nightly.yml
  .gitignore
  tests/e2e/test_cli.py
  tests/e2e/test_generation.py
  tests/integration/test_metric_logging_regression.py
Due: py-compile, pytest-fast

latest
  IDUN/generate/exp1_gen_3d_128.slurm
Due: none

-
  src/medgen/pipeline/trainer.py
  tests/integration/test_metric_logging_regression.py
Due: py-compile, pytest-fast, pytest-imports

-
  IDUN/generate/exp1_gen_3d_128.slurm
  src/medgen/metrics/unified.py
  tests/integration/test_metric_logging_regression.py
Due: py-compile, pytest-fast, pytest-imports

-
  IDUN/generate/exp1_gen_3d_128.slurm
Due: none

-
  IDUN/generate/exp1_1_gen_3d_256.slurm
  IDUN/train/diffusion_3d/exp4_1_pixel_bravo_sda.slurm
  IDUN/train/diffusion_3d/exp5_3_pixel_bravo_scoreaug.slurm
Due: none

-
  IDUN/train/diffusion_3d/exp5_3_pixel_bravo_scoreaug.slurm
Due: none

-
  .github/workflows/test.yml
  pyproject.toml
Due: none

-
  configs/generate.yaml
  src/medgen/scripts/generate.py
Due: py-compile, pytest-fast, pytest-imports

-
  src/medgen/scripts/generate.py
Due: py-compile, pytest-fast, pytest-imports

-
  IDUN/generate/exp1_1_gen_3d_256.slurm
  IDUN/generate/exp1_gen_3d_128.slurm
Due: none

controlnet with pixel space, and CFG fix
  IDUN/train/diffusion_3d/exp6a_pixel_bravo_controlnet_stage1.slurm
  IDUN/train/diffusion_3d/exp6b_pixel_bravo_controlnet_stage2.slurm
  configs/controlnet/default.yaml
  src/medgen/pipeline/trainer.py
  tests/integration/test_evaluation_regression.py
  tests/unit/test_trainer_mechanics.py
Due: py-compile, pytest-fast, pytest-imports

segmentation
  configs/segmentation.yaml
  src/medgen/downstream/__init__.py
  src/medgen/downstream/data.py
  src/medgen/downstream/segmentation_trainer.py
  src/medgen/scripts/train_segmentation.py
  tests/unit/test_feature_extractors.py
Due: py-compile, pytest-fast, pytest-imports

-
  IDUN/train/diffusion_3d/exp6a_pixel_bravo_controlnet_stage1.slurm
  IDUN/train/diffusion_3d/exp6b_pixel_bravo_controlnet_stage2.slurm
Due: none

fixes to CFG
  configs/training/default.yaml
  src/medgen/data/loaders/dual.py
  src/medgen/data/loaders/single.py
  src/medgen/data/utils.py
  src/medgen/metrics/__init__.py
  src/medgen/metrics/brain_mask.py
  src/medgen/metrics/generation.py
  src/medgen/pipeline/trainer.py
  src/medgen/scripts/generate.py
  tests/unit/test_trainer_mechanics.py
Due: py-compile, pytest-fast, pytest-imports

mask conditioning, 3D-SiT, fix generation.
  IDUN/train/diffusion_3d/exp2b_1_pixel_seg_input_cond.slurm
  IDUN/train/diffusion_3d/exp2b_pixel_seg_input_cond.slurm
  configs/latent/default.yaml
  configs/mode/seg_conditioned_input.yaml
  configs/mode/seg_conditioned_input_3d.yaml
  configs/model/sit_3d.yaml
  src/medgen/data/loaders/base.py
  src/medgen/data/loaders/latent.py
  src/medgen/data/loaders/seg.py
  src/medgen/data/loaders/seg_conditioned.py
  src/medgen/data/loaders/unified.py
  src/medgen/diffusion/__init__.py
  src/medgen/diffusion/modes.py
  src/medgen/diffusion/spaces.py
  src/medgen/diffusion/strategies.py
  src/medgen/models/embeddings.py
  src/medgen/pipeline/trainer.py
  src/medgen/scripts/generate.py
  src/medgen/scripts/train.py
Due: py-compile, pytest-fast, pytest-imports

3D-SiT exp
  IDUN/train/diffusion_3d/exp7_1_sit_s_256_patch16.slurm
  IDUN/train/diffusion_3d/exp7_sit_s_128_patch8.slurm
  src/medgen/models/factory.py
Due: py-compile, pytest-fast, pytest-imports

3D-SiT exp
  IDUN/train/diffusion_3d/exp7_1_sit_s_256_patch16.slurm
  IDUN/train/diffusion_3d/exp7_sit_s_128_patch8.slurm
Due: none

fix
  src/medgen/models/factory.py
  tests/integration/test_regression_bugs.py
  tests/integration/test_trainer_equivalence.py
Due: py-compile, pytest-fast, pytest-imports

zero weight initialization on 3D-SiT bug fix
  src/medgen/models/sit.py
Due: py-compile, pytest-fast, pytest-imports

zero weight initialization on 3D-SiT bug test
  tests/unit/test_sit_initialization.py
Due: py-compile, pytest-fast

revert
  src/medgen/models/sit.py
  tests/unit/test_sit_initialization.py
Due: py-compile, pytest-fast, pytest-imports

3D-SiT
  IDUN/train/diffusion_3d/exp7_1_sit_b_256_patch16.slurm
  IDUN/train/diffusion_3d/exp7_1_sit_l_256_patch16.slurm
  IDUN/train/diffusion_3d/exp7_sit_b_128_patch8.slurm
  IDUN/train/diffusion_3d/exp7_sit_l_128_patch8.slurm
Due: none

3D-SiT XL [skip ci]
  .github/workflows/test.yml
  IDUN/train/diffusion_3d/exp7_1_sit_xl_256_patch16.slurm
  IDUN/train/diffusion_3d/exp7_sit_xl_128_patch8.slurm
Due: none

cfg debugging [skip ci]
  IDUN/train/diffusion_3d/exp1_debugging_cfg.slurm
Due: none

generation metric
  src/medgen/metrics/generation.py
Due: py-compile, pytest-fast, pytest-imports

generation metric fix, metrics took 3d volumes as one image
  configs/volume/default.yaml
  src/medgen/metrics/generation.py
  src/medgen/pipeline/trainer.py
  tests/unit/test_generation_metrics.py
Due: py-compile, pytest-fast, pytest-imports

Training time estimate fix, was falsely using only train time, epoch time is better + EMA.
  src/medgen/pipeline/trainer.py
  src/medgen/pipeline/utils.py
Due: py-compile, pytest-fast, pytest-imports

new test baseline and tuple fix for 3d
  tests/integration/baselines/2d_bravo_baseline.json
  tests/integration/baselines/2d_seg_baseline.json
  tests/integration/baselines/3d_bravo_baseline.json
  tests/integration/baselines/3d_seg_baseline.json
  tests/integration/test_trainer_equivalence.py
Due: py-compile, pytest-fast

disable cfg on bravo, and add better generation metrics for segmentation mask generation
  configs/mode/bravo.yaml
  configs/mode/dual.yaml
  configs/mode/multi.yaml
  misc/experiments/capture_baseline.py
  src/medgen/diffusion/modes.py
  src/medgen/metrics/generation.py
  src/medgen/pipeline/trainer.py
Due: py-compile, pytest-fast, pytest-imports

add seg generation metrics
  tests/unit/test_generation_metrics.py
Due: py-compile, pytest-fast

downstream
  IDUN/downstream/exp1_seg_baseline_2d.slurm
  IDUN/downstream/exp1_seg_baseline_3d.slurm
  configs/segmentation.yaml
Due: none

longer training
  IDUN/train/diffusion_3d/exp7_sit_b_128_patch8_2000.slurm
Due: none

3d ema
  IDUN/train/diffusion_3d/exp8_pixel_bravo_ema.slurm
Due: none

seg fix
  IDUN/downstream/exp1_seg_baseline_2d.slurm
  IDUN/downstream/exp1_seg_baseline_3d.slurm
  configs/segmentation.yaml
  src/medgen/downstream/segmentation_trainer.py
Due: py-compile, pytest-fast, pytest-imports

-
  IDUN/train/diffusion_3d/exp7_sit_b_128_patch8_2000.slurm
Due: none

seg test
  tests/unit/test_segmentation_trainer.py
Due: py-compile, pytest-fast

dc-ae seg
  IDUN/train/compression/exp13_1_dcae_seg_f32.slurm
  IDUN/train/compression/exp13_2_dcae_seg_f64.slurm
Due: none

dc-ae seg
  IDUN/downstream/exp1_seg_baseline_2d.slurm
  IDUN/train/compression/exp13_3_dcae_seg_f128.slurm
Due: none

fixes for bugs
  IDUN/train/compression/exp13_1_dcae_seg_f32.slurm
  IDUN/train/compression/exp13_2_dcae_seg_f64.slurm
  IDUN/train/compression/exp13_3_dcae_seg_f128.slurm
  IDUN/train/diffusion_3d/exp8_pixel_bravo_ema.slurm
  src/medgen/core/constants.py
  src/medgen/metrics/generation.py
Due: py-compile, pytest-fast, pytest-imports

Path conditions:
  py-compile: any of: \.py$
  pytest-fast: any of: ^(tests/|src/medgen/).*\.py$
  pytest-imports: any of: ^src/medgen/.*\.py$
