Repository ModeS7/AIS4900_master: changes, and which pre-commit hooks are due for each by the changed paths.
All: py-compile, pytest-fast, pytest-imports

.pre-commit-config.yaml:

# Pre-commit hooks for medgen project
# Install: pip install pre-commit && pre-commit install

repos:
  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict

  # Python syntax check
  - repo: local
    hooks:
      - id: py-compile
        name: Python syntax check
        entry: python -m py_compile
        language: system
        types: [python]
        pass_filenames: true

  # Fast unit tests (on pre-push only - can be slow)
  - repo: local
    hooks:
      - id: pytest-fast
        name: pytest (fast unit tests)
        entry: pytest tests/unit -m "not slow" -x -q --tb=line --timeout=30
        language: system
        pass_filenames: false
        always_run: false
        stages: [pre-push]  # Only on push, not commit
        files: ^(tests/|src/medgen/).*\.py$

      - id: pytest-imports
        name: pytest (import tests)
        entry: pytest tests/e2e/test_cli_complete.py::TestModuleImports -x -q --tb=line
        language: system
        pass_filenames: false
        always_run: false
        stages: [pre-push]
        files: ^src/medgen/.*\.py$

  # Import sorting (isort via ruff)
  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: ["--profile", "black", "--line-length", "100"]

  # Ruff linter (fast) - uses pyproject.toml config
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.0
    hooks:
      - id: ruff
        args: ['--fix', '--exit-non-zero-on-fix']
      - id: ruff-format  # Add formatting

  # Mypy type checking (core modules only)
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        args: [--ignore-missing-imports, --no-error-summary]
        additional_dependencies: [torch, omegaconf, types-tqdm]
        files: ^src/medgen/(diffusion|core)/
        exclude: ^src/medgen/(diffusion|core)/__init__\.py$

bug fix
  src/medgen/scripts/train_nnunet.py
Due: py-compile, pytest-fast, pytest-imports

bug fix
  src/medgen/downstream/nnunet/trainer.py
Due: py-compile, pytest-fast, pytest-imports

add dual
  IDUN/train/downstream/nnunet/convert_and_preprocess.slurm
  src/medgen/downstream/nnunet/convert_dataset.py
Due: py-compile, pytest-fast, pytest-imports

-
  IDUN/train/downstream/nnunet/convert_and_preprocess.slurm
Due: none

LDM
  IDUN/train/diffusion_3d/exp21_1_ldm_4x_unet_large.slurm
  IDUN/train/diffusion_3d/exp21_2_ldm_4x_unet_maisi.slurm
  IDUN/train/diffusion_3d/exp21_3_ldm_4x_unet_small.slurm
  IDUN/train/diffusion_3d/exp22_1_ldm_4x_dit_b.slurm
  IDUN/train/diffusion_3d/exp22_2_ldm_4x_dit_l.slurm
Due: none

LDM
  IDUN/train/diffusion_3d/exp22_3_ldm_4x_dit_s_long.slurm
Due: none

WDM
  IDUN/train/diffusion_3d/exp19_6_wdm_dit_s.slurm
Due: none

eval
  IDUN/eval/eval_bin_adherence_exp2e.slurm
Due: none

-
  IDUN/train/diffusion_3d/exp19_6_wdm_dit_s.slurm
Due: none

-
  src/medgen/scripts/eval_nnunet.py
Due: py-compile, pytest-fast, pytest-imports

test all nnunet
  IDUN/train/downstream/nnunet/evaluate_all.slurm
  src/medgen/scripts/eval_nnunet.py
Due: py-compile, pytest-fast, pytest-imports

test all nnunet
  src/medgen/scripts/eval_nnunet.py
Due: py-compile, pytest-fast, pytest-imports

test all nnunet
  src/medgen/metrics/seg_metrics.py
  src/medgen/scripts/eval_nnunet.py
Due: py-compile, pytest-fast, pytest-imports

nnunet fix
  src/medgen/downstream/nnunet/trainer.py
  src/medgen/metrics/generation_sampling.py
  src/medgen/pipeline/diffusion_trainer_base.py
  src/medgen/pipeline/training_tricks.py
  src/medgen/scripts/eval_nnunet.py
  src/medgen/scripts/generate.py
Due: py-compile, pytest-fast, pytest-imports

lint
  src/medgen/pipeline/training_tricks.py
Due: py-compile, pytest-fast, pytest-imports

nnunet diagnostic
  misc/diagnose_nnunet.py
Due: py-compile

nnunet diagnostic
  IDUN/debug/diagnose.slurm
Due: none

nnunet diagnostic
  src/medgen/downstream/nnunet/convert_dataset.py
Due: py-compile, pytest-fast, pytest-imports

noise offset
  IDUN/train/diffusion_3d/exp1k_1_pixel_bravo_offset_noise.slurm
  IDUN/train/diffusion_3d/exp1k_pixel_bravo_offset_noise.slurm
  configs/training/default.yaml
  configs/training/smoke_test.yaml
  src/medgen/pipeline/diffusion_config.py
  src/medgen/pipeline/diffusion_init_helpers.py
  src/medgen/pipeline/diffusion_trainer_base.py
  src/medgen/pipeline/loss_helper.py
  src/medgen/pipeline/trainer.py
  src/medgen/pipeline/training_tricks.py
Due: py-compile, pytest-fast, pytest-imports

adjusted noise offset
  IDUN/train/diffusion_3d/exp1l_1_pixel_bravo_adjusted_offset.slurm
  IDUN/train/diffusion_3d/exp1l_pixel_bravo_adjusted_offset.slurm
  configs/training/default.yaml
  configs/training/smoke_test.yaml
  src/medgen/pipeline/diffusion_config.py
  src/medgen/pipeline/diffusion_init_helpers.py
  src/medgen/pipeline/profiling.py
  src/medgen/pipeline/trainer.py
  src/medgen/pipeline/training_tricks.py
  src/medgen/pipeline/visualization.py
  src/medgen/scripts/eval_ode_solvers.py
  src/medgen/scripts/generate.py
Due: py-compile, pytest-fast, pytest-imports

-
  misc/diagnose_nnunet.py
Due: py-compile

better normalization that does not lose individual volume variance
  IDUN/train/diffusion_3d/exp1m_1_pixel_bravo_global_norm.slurm
  IDUN/train/diffusion_3d/exp1m_pixel_bravo_global_norm.slurm
  configs/volume/default.yaml
  src/medgen/data/loaders/volume_3d.py
  src/medgen/scripts/compute_pixel_stats.py
Due: py-compile, pytest-fast, pytest-imports

normalization
  IDUN/debug/diagnose.slurm
  src/medgen/downstream/nnunet/convert_dataset.py
  src/medgen/downstream/nnunet/trainer.py
Due: py-compile, pytest-fast, pytest-imports

lint
  src/medgen/data/loaders/volume_3d.py
  src/medgen/scripts/compute_pixel_stats.py
Due: py-compile, pytest-fast, pytest-imports

fix normalization
  src/medgen/pipeline/trainer.py
  src/medgen/scripts/eval_diffrs.py
  src/medgen/scripts/eval_ode_solvers.py
  src/medgen/scripts/eval_restart.py
Due: py-compile, pytest-fast, pytest-imports

3d and radimagenet generation
  src/medgen/metrics/generation.py
  src/medgen/metrics/generation_3d.py
  src/medgen/metrics/generation_computation.py
  src/medgen/metrics/generation_sampling.py
  src/medgen/metrics/unified_logging.py
  tests/unit/test_triplanar_metrics.py
Due: py-compile, pytest-fast, pytest-imports

scoreaug
  IDUN/train/diffusion_3d/exp23_pixel_bravo_scoreaug_256.slurm
Due: none

time-shift sampling evaluation
  IDUN/eval/eval_time_shift_exp1_1.slurm
  src/medgen/scripts/eval_time_shift.py
Due: py-compile, pytest-fast, pytest-imports

time-shift sampling evaluation
  IDUN/eval/eval_time_shift_exp1_1.slurm
Due: none

CFG-zero
  IDUN/train/diffusion_3d/exp1n_pixel_bravo_cfg_zero_star.slurm
  configs/generate.yaml
  configs/training/default.yaml
  src/medgen/diffusion/conditioning.py
  src/medgen/diffusion/strategies.py
  src/medgen/diffusion/strategy_rflow.py
  src/medgen/metrics/generation.py
  src/medgen/metrics/generation_sampling.py
  src/medgen/scripts/generate.py
Due: py-compile, pytest-fast, pytest-imports

gen metrics test
  IDUN/train/diffusion_3d/exp1n_test_genmetrics.slurm
  src/medgen/metrics/generation_sampling.py
Due: py-compile, pytest-fast, pytest-imports

gen metrics test
  IDUN/train/diffusion_3d/exp1n_test_genmetrics.slurm
  src/medgen/diffusion/strategy_ddpm.py
  src/medgen/diffusion/strategy_rflow.py
  src/medgen/pipeline/validation.py
Due: py-compile, pytest-fast, pytest-imports

nnU-Net fix
  IDUN/train/downstream/nnunet/convert_and_preprocess.slurm
  misc/validate_nnunet_conversion.py
  src/medgen/downstream/nnunet/convert_dataset.py
Due: py-compile, pytest-fast, pytest-imports
