Repository ModeS7/AIS4900_master: changes, and which pre-commit hooks are due for each by the changed paths.
All: py-compile, pytest-fast, pytest-imports

.pre-commit-config.yaml:

# Pre-commit hooks for medgen project
# Install: pip install pre-commit && pre-commit install

repos:
  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict

  # Python syntax check
  - repo: local
    hooks:
      - id: py-compile
        name: Python syntax check
        entry: python -m py_compile
        language: system
        types: [python]
        pass_filenames: true

  # Fast unit tests (on pre-push only - can be slow)
  - repo: local
    hooks:
      - id: pytest-fast
        name: pytest (fast unit tests)
        entry: pytest tests/unit -m "not slow" -x -q --tb=line --timeout=30
        language: system
        pass_filenames: false
        always_run: false
        stages: [pre-push]  # Only on push, not commit
        files: ^(tests/|src/medgen/).*\.py$

      - id: pytest-imports
        name: pytest (import tests)
        entry: pytest tests/e2e/test_cli_complete.py::TestModuleImports -x -q --tb=line
        language: system
        pass_filenames: false
        always_run: false
        stages: [pre-push]
        files: ^src/medgen/.*\.py$

  # Ruff linter (fast) - uses pyproject.toml config
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.0
    hooks:
      - id: ruff
        args: ['--fix']

fix logging sufixes and tessting
  .github/workflows/tests-nightly.yml
  src/medgen/evaluation/evaluation.py
  src/medgen/metrics/unified.py
  src/medgen/pipeline/compression_trainer.py
  src/medgen/pipeline/dcae_trainer.py
  src/medgen/pipeline/trainer.py
  src/medgen/pipeline/vae_trainer.py
  src/medgen/pipeline/vqvae_trainer.py
Due: py-compile, pytest-fast, pytest-imports

fix testing
  tests/unit/test_properties.py
Due: py-compile, pytest-fast

fix testing minimise potential for bugs
  misc/validate_before_submit.sh
  src/medgen/diffusion/batch_data.py
  src/medgen/diffusion/modes.py
  src/medgen/scripts/train.py
  tests/unit/test_batch_data.py
Due: py-compile, pytest-fast, pytest-imports

improve code quality, make bugs less likely
  src/medgen/core/__init__.py
  src/medgen/core/mode_factory.py
  src/medgen/data/loaders/__init__.py
  src/medgen/data/loaders/base.py
  src/medgen/data/loaders/datasets.py
  src/medgen/data/loaders/multi_diffusion.py
  src/medgen/data/loaders/seg.py
  src/medgen/data/loaders/seg_compression.py
  src/medgen/data/loaders/seg_conditioned.py
  src/medgen/data/loaders/unified.py
  src/medgen/data/loaders/vae.py
  src/medgen/diffusion/batch_data.py
  src/medgen/diffusion/modes.py
  src/medgen/pipeline/__init__.py
  src/medgen/pipeline/evaluation.py
  src/medgen/pipeline/losses.py
  src/medgen/pipeline/profiling.py
  src/medgen/pipeline/trainer.py
  src/medgen/pipeline/training_tricks.py
  src/medgen/pipeline/validation.py
  src/medgen/pipeline/visualization.py
  src/medgen/scripts/train.py
  tests/unit/test_batch_format.py
  tests/unit/test_mode_factory.py
Due: py-compile, pytest-fast, pytest-imports

improve code quality, make bugs less likely
  .github/workflows/test.yml
  .pre-commit-config.yaml
  pyproject.toml
  src/medgen/core/__init__.py
  src/medgen/core/validation.py
  src/medgen/diffusion/__init__.py
  src/medgen/diffusion/protocols.py
  src/medgen/diffusion/strategies.py
  src/medgen/pipeline/trainer.py
  src/medgen/pipeline/visualization.py
  src/medgen/scripts/train.py
Due: py-compile, pytest-fast, pytest-imports

improve code quality, extent testing, make bugs less likely
  src/medgen/core/__init__.py
  src/medgen/core/validation.py
  src/medgen/data/loaders/base.py
  src/medgen/data/loaders/common.py
  src/medgen/data/loaders/dual.py
  src/medgen/data/loaders/latent.py
  src/medgen/data/loaders/multi_modality.py
  src/medgen/data/loaders/seg.py
  src/medgen/data/loaders/seg_conditioned.py
  src/medgen/data/loaders/single.py
  src/medgen/data/loaders/vae.py
  src/medgen/data/loaders/volume_3d.py
  src/medgen/diffusion/batch_data.py
  src/medgen/diffusion/modes.py
  src/medgen/diffusion/strategies.py
  src/medgen/pipeline/__init__.py
  src/medgen/pipeline/base_trainer.py
  src/medgen/pipeline/compression_trainer.py
  src/medgen/pipeline/dcae_trainer.py
  src/medgen/pipeline/evaluation.py
  src/medgen/pipeline/optimizers/__init__.py
  src/medgen/pipeline/optimizers/sam.py
  src/medgen/pipeline/profiling.py
  src/medgen/pipeline/results.py
  src/medgen/pipeline/trainer.py
  src/medgen/pipeline/vae_trainer.py
  src/medgen/pipeline/validation.py
  src/medgen/pipeline/visualization.py
  src/medgen/pipeline/vqvae_trainer.py
  src/medgen/scripts/train.py
  tests/unit/test_3d_training_paths.py
  tests/unit/test_controlnet.py
  tests/unit/test_cuda_utils.py
  tests/unit/test_distributed.py
  tests/unit/test_extracted_modules.py
  tests/unit/test_latent_diffusion_paths.py
  tests/unit/test_lossless_mask_codec.py
  tests/unit/test_schedulers.py
  tests/unit/test_sit_blocks.py
Due: py-compile, pytest-fast, pytest-imports

bug fixes
  src/medgen/data/loaders/volume_3d.py
  src/medgen/pipeline/trainer.py
  src/medgen/pipeline/vae_trainer.py
  src/medgen/scripts/common.py
  src/medgen/scripts/train_compression.py
Due: py-compile, pytest-fast, pytest-imports

improve code quality, make bugs less likely
  src/medgen/config/__init__.py
  src/medgen/config/base.py
  src/medgen/config/latent.py
  src/medgen/config/mode.py
  src/medgen/config/model.py
  src/medgen/config/paths.py
  src/medgen/config/strategy.py
  src/medgen/config/training.py
  src/medgen/config/validation.py
  src/medgen/config/volume.py
  src/medgen/data/loaders/__init__.py
  src/medgen/data/loaders/_legacy.py
  src/medgen/data/loaders/configs.py
  src/medgen/data/loaders/datasets.py
  src/medgen/data/loaders/factory.py
  src/medgen/diffusion/__init__.py
  src/medgen/diffusion/conditioning.py
  src/medgen/diffusion/strategies.py
  src/medgen/metrics/quality.py
  src/medgen/metrics/regional/base.py
  src/medgen/metrics/regional/tracker.py
  src/medgen/metrics/unified.py
  src/medgen/metrics/unified_history.py
  src/medgen/metrics/unified_logging.py
  src/medgen/metrics/unified_visualization.py
  src/medgen/pipeline/compression_checkpointing.py
  src/medgen/pipeline/compression_config.py
  src/medgen/pipeline/compression_trainer.py
  src/medgen/pipeline/compression_training.py
  src/medgen/pipeline/compression_validation.py
  src/medgen/pipeline/diffusion_config.py
  src/medgen/pipeline/diffusion_init_helpers.py
  src/medgen/pipeline/diffusion_model_setup.py
  src/medgen/pipeline/generation_context.py
  src/medgen/pipeline/trainer.py
  src/medgen/pipeline/visualization.py
Due: py-compile, pytest-fast, pytest-imports

tests bugs fix
  .github/workflows/test.yml
  src/medgen/core/dict_utils.py
  src/medgen/core/mode_factory.py
  src/medgen/core/model_utils.py
  src/medgen/core/schedulers.py
Due: py-compile, pytest-fast, pytest-imports

seg validation bug fix, during validation conditioning always gave 0...0 size bins
  src/medgen/pipeline/validation.py
Due: py-compile, pytest-fast, pytest-imports

LDM bug fix
  src/medgen/metrics/generation_sampling.py
  src/medgen/pipeline/validation.py
Due: py-compile, pytest-fast, pytest-imports

rename to using DiT
  FUTURE_WORK.md
  IDUN/train/diffusion/exp12_1_rflow_128_sit_s.slurm
  IDUN/train/diffusion/exp12_1b_sit_s_continuous.slurm
  IDUN/train/diffusion/exp12_1c_sit_s_256.slurm
  IDUN/train/diffusion/exp12_2_rflow_128_sit_b.slurm
  IDUN/train/diffusion/exp12_2b_sit_b_continuous.slurm
  IDUN/train/diffusion/exp12_2c_sit_b_256.slurm
  IDUN/train/diffusion/exp14_1_sit_s_drop01.slurm
  IDUN/train/diffusion/exp14_2_sit_s_drop02.slurm
  IDUN/train/diffusion/exp14_3_sit_s_drop03.slurm
  IDUN/train/diffusion/exp17_1_sit_s_droppath_01.slurm
  IDUN/train/diffusion/exp17_2_sit_s_droppath_015.slurm
  IDUN/train/diffusion/exp17_3_sit_s_droppath_02.slurm
  IDUN/train/diffusion_3d/exp10_1_sit_dcae_8x8x32.slurm
  IDUN/train/diffusion_3d/exp10_2_sit_dcae_4x4x128.slurm
  IDUN/train/diffusion_3d/exp10_3_sit_dcae_2x2x512.slurm
  IDUN/train/diffusion_3d/exp7_1_sit_b_256_patch16.slurm
  IDUN/train/diffusion_3d/exp7_1_sit_l_256_patch16.slurm
  IDUN/train/diffusion_3d/exp7_1_sit_s_256_patch16.slurm
  IDUN/train/diffusion_3d/exp7_1_sit_xl_256_patch16.slurm
  IDUN/train/diffusion_3d/exp7_sit_b_128_patch8.slurm
  IDUN/train/diffusion_3d/exp7_sit_b_128_patch8_2000.slurm
  IDUN/train/diffusion_3d/exp7_sit_l_128_patch8.slurm
  IDUN/train/diffusion_3d/exp7_sit_s_128_patch8.slurm
  IDUN/train/diffusion_3d/exp7_sit_xl_128_patch8.slurm
  configs/model/default.yaml
  configs/model/dit.yaml
  configs/model/dit_3d.yaml
  misc/experiments/train_sit_lossless_test.py
  src/medgen/models/__init__.py
  src/medgen/models/dit.py
  src/medgen/models/dit_blocks.py
  src/medgen/models/embeddings.py
  src/medgen/models/factory.py
  src/medgen/pipeline/base_config.py
  tests/integration/test_3d_modes.py
  tests/unit/test_dit_blocks.py
  tests/unit/test_dit_initialization.py
  tests/unit/test_extracted_modules.py
Due: py-compile, pytest-fast, pytest-imports

added space to deph for 3D, converting resolution into channels to downsample
  IDUN/train/diffusion_3d/exp11_1_s2d_pixel_bravo.slurm
  IDUN/train/diffusion_3d/exp11_s2d_pixel_bravo.slurm
  configs/diffusion_3d.yaml
  configs/model/default_3d_5lvl.yaml
  src/medgen/core/__init__.py
  src/medgen/core/validation.py
  src/medgen/diffusion/__init__.py
  src/medgen/diffusion/spaces.py
  src/medgen/scripts/train.py
Due: py-compile, pytest-fast, pytest-imports

profiling
  IDUN/profiling/profile_s2d_3d.slurm
  misc/profiling/profile_s2d_3d_memory.py
Due: py-compile

WDM
  IDUN/train/diffusion_3d/exp12_1_wavelet_pixel_bravo.slurm
  IDUN/train/diffusion_3d/exp12_wavelet_pixel_bravo.slurm
  configs/diffusion_3d.yaml
  src/medgen/core/__init__.py
  src/medgen/core/validation.py
  src/medgen/diffusion/__init__.py
  src/medgen/diffusion/spaces.py
  src/medgen/models/dit.py
  src/medgen/models/haar_wavelet_3d.py
  src/medgen/scripts/train.py
Due: py-compile, pytest-fast, pytest-imports

validation and new architecture for wdm and s2d
  IDUN/train/diffusion_3d/exp11_1_s2d_pixel_bravo.slurm
  IDUN/train/diffusion_3d/exp11_s2d_pixel_bravo.slurm
  IDUN/train/diffusion_3d/exp12_1_wavelet_pixel_bravo.slurm
  IDUN/train/diffusion_3d/exp12_wavelet_pixel_bravo.slurm
  configs/model/default_3d_5lvl.yaml
  src/medgen/pipeline/validation.py
Due: py-compile, pytest-fast, pytest-imports

eval + small fixes
  IDUN/eval/eval_bin_adherence.slurm
  misc/eval_bin_adherence.py
  src/medgen/diffusion/spaces.py
Due: py-compile, pytest-fast, pytest-imports

bug fix and small slurm change
  IDUN/train/diffusion_3d/exp11_1_s2d_pixel_bravo.slurm
  IDUN/train/diffusion_3d/exp11_s2d_pixel_bravo.slurm
  IDUN/train/diffusion_3d/exp12_1_wavelet_pixel_bravo.slurm
  IDUN/train/diffusion_3d/exp12_wavelet_pixel_bravo.slurm
  src/medgen/diffusion/loading.py
Due: py-compile, pytest-fast, pytest-imports

bug fix
  src/medgen/diffusion/loading.py
Due: py-compile, pytest-fast, pytest-imports

improve queuing
  IDUN/train/diffusion_3d/exp11_1_s2d_pixel_bravo.slurm
  IDUN/train/diffusion_3d/exp11_s2d_pixel_bravo.slurm
  IDUN/train/diffusion_3d/exp12_1_wavelet_pixel_bravo.slurm
  IDUN/train/diffusion_3d/exp12_wavelet_pixel_bravo.slurm
Due: none

forgot to add WDM, s2d, and fix for training resumption
  configs/space_to_depth/default.yaml
  configs/training/default.yaml
  configs/wavelet/default.yaml
  src/medgen/pipeline/trainer.py
  src/medgen/scripts/train.py
Due: py-compile, pytest-fast, pytest-imports

flops fix
  src/medgen/pipeline/profiling.py
Due: py-compile, pytest-fast, pytest-imports

update doc, and save dir fix
  FUTURE_WORK.md
  README.md
  configs/diffusion.yaml
  configs/diffusion_3d.yaml
Due: none

-
  IDUN/train/diffusion_3d/exp11_s2d_pixel_bravo.slurm
  IDUN/train/diffusion_3d/exp12_wavelet_pixel_bravo.slurm
Due: none

doc update, new segmentation conditioning
  FUTURE_WORK.md
  IDUN/train/diffusion_3d/exp2c_1_pixel_seg_improved.slurm
  IDUN/train/diffusion_3d/exp2c_pixel_seg_improved.slurm
  README.md
  configs/mode/seg_conditioned.yaml
  configs/mode/seg_conditioned_3d.yaml
  configs/training/fast_debug.yaml
  src/medgen/models/wrappers/base_embed.py
  src/medgen/models/wrappers/size_bin_embed.py
  src/medgen/pipeline/diffusion_config.py
  src/medgen/pipeline/diffusion_init_helpers.py
  src/medgen/pipeline/diffusion_model_setup.py
  src/medgen/pipeline/trainer.py
Due: py-compile, pytest-fast, pytest-imports

-
  IDUN/train/diffusion_3d/exp2c_1_pixel_seg_improved.slurm
  IDUN/train/diffusion_3d/exp2c_pixel_seg_improved.slurm
Due: none

training lock up big fix
  src/medgen/pipeline/checkpointing.py
  src/medgen/pipeline/diffusion_model_setup.py
  src/medgen/pipeline/profiling.py
  src/medgen/pipeline/trainer.py
Due: py-compile, pytest-fast, pytest-imports

pipeline test
  configs/model/smoke_test.yaml
  configs/training/smoke_test.yaml
  tests/integration/test_pipeline_smoke.py
  tests/unit/test_space_to_depth.py
  tests/unit/test_wavelet_space.py
Due: py-compile, pytest-fast

-
  IDUN/train/diffusion_3d/exp2c_1_pixel_seg_improved.slurm
Due: none

add more metrics and mc dropout to downstream seg. and fix seg2c bug
  configs/segmentation.yaml
  src/medgen/core/validation.py
  src/medgen/downstream/segmentation_trainer.py
  src/medgen/metrics/mc_dropout.py
  src/medgen/metrics/seg_metrics.py
Due: py-compile, pytest-fast, pytest-imports

-
  tests/unit/test_extracted_modules.py
Due: py-compile, pytest-fast

-
  IDUN/train/downstream/exp1_seg_baseline_2d.slurm
  IDUN/train/downstream/exp1_seg_baseline_3d.slurm
  IDUN/train/downstream/exp2_seg_dual_baseline_2d.slurm
  IDUN/train/downstream/exp2_seg_dual_baseline_3d.slurm
Due: none

debugging exp11-12, fixing exp2c bugs
  IDUN/train/diffusion_3d/exp12_wavelet_pixel_bravo.slurm
  configs/training/smoke_test.yaml
  src/medgen/metrics/generation_sampling.py
  src/medgen/pipeline/evaluation.py
  src/medgen/pipeline/trainer.py
  src/medgen/scripts/train.py
  tests/integration/test_pipeline_smoke.py
Due: py-compile, pytest-fast, pytest-imports
