Repository ModeS7/AIS4900_master: changes, and which pre-commit hooks are due for each by the changed paths.
All: py-compile, pytest-fast, pytest-imports

.pre-commit-config.yaml:

# Pre-commit hooks for medgen project
# Install: pip install pre-commit && pre-commit install

repos:
  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict

  # Python syntax check
  - repo: local
    hooks:
      - id: py-compile
        name: Python syntax check
        entry: python -m py_compile
        language: system
        types: [python]
        pass_filenames: true

  # Fast unit tests (on pre-push only - can be slow)
  - repo: local
    hooks:
      - id: pytest-fast
        name: pytest (fast unit tests)
        entry: pytest tests/unit -m "not slow" -x -q --tb=line --timeout=30
        language: system
        pass_filenames: false
        always_run: false
        stages: [pre-push]  # Only on push, not commit
        files: ^(tests/|src/medgen/).*\.py$

      - id: pytest-imports
        name: pytest (import tests)
        entry: pytest tests/e2e/test_cli_complete.py::TestModuleImports -x -q --tb=line
        language: system
        pass_filenames: false
        always_run: false
        stages: [pre-push]
        files: ^src/medgen/.*\.py$

  # Import sorting (isort via ruff)
  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: ["--profile", "black", "--line-length", "100"]

  # Ruff linter (fast) - uses pyproject.toml config
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.0
    hooks:
      - id: ruff
        args: ['--fix', '--exit-non-zero-on-fix']
      - id: ruff-format  # Add formatting

  # Mypy type checking (core modules only)
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        args: [--ignore-missing-imports, --no-error-summary]
        additional_dependencies: [torch, omegaconf, types-tqdm]
        files: ^src/medgen/(diffusion|core)/
        exclude: ^src/medgen/(diffusion|core)/__init__\.py$

debugging exp11-12
  src/medgen/pipeline/trainer.py
  src/medgen/pipeline/validation.py
  tests/conftest.py
  tests/integration/test_3d_modes.py
  tests/integration/test_regression_bugs.py
  tests/integration/test_trainer_msssim_3d.py
  tests/unit/test_generation_metrics.py
Due: py-compile, pytest-fast, pytest-imports

debugging exp11-12
  src/medgen/metrics/quality.py
  src/medgen/pipeline/validation.py
Due: py-compile, pytest-fast, pytest-imports

-
  IDUN/train/diffusion_3d/exp12_wavelet_pixel_bravo.slurm
Due: none

diagnosis finished taking it out
  src/medgen/pipeline/trainer.py
  src/medgen/pipeline/validation.py
Due: py-compile, pytest-fast, pytest-imports

better testing, and checkpoint saving fix
  configs/training/smoke_test.yaml
  src/medgen/metrics/generation_sampling.py
  src/medgen/pipeline/base_trainer.py
  src/medgen/pipeline/checkpoint_manager.py
  src/medgen/pipeline/validation.py
  tests/integration/test_pipeline_smoke.py
Due: py-compile, pytest-fast, pytest-imports

-
  src/medgen/pipeline/checkpoint_manager.py
Due: py-compile, pytest-fast, pytest-imports

checkpoint saving fix
  src/medgen/downstream/segmentation_trainer.py
  src/medgen/pipeline/checkpoint_manager.py
  src/medgen/pipeline/trainer.py
  src/medgen/pipeline/utils.py
Due: py-compile, pytest-fast, pytest-imports

-
  configs/segmentation.yaml
  src/medgen/downstream/segmentation_trainer.py
  src/medgen/pipeline/utils.py
Due: py-compile, pytest-fast, pytest-imports

quick train run
  src/medgen/pipeline/utils.py
Due: py-compile, pytest-fast, pytest-imports

quick train run
  IDUN/train/diffusion_3d/exp9_1_ldm_4x_bravo.slurm
Due: none

chained jobs
  IDUN/train/diffusion_3d/exp1_chained.slurm
  IDUN/train/diffusion_3d/exp9_1_ldm_4x_bravo.slurm
  misc/chain_submit.sh
Due: none

chained jobs dir
  IDUN/train/diffusion_3d/exp1_chained.slurm
  misc/chain_submit.sh
Due: none

dir
  IDUN/train/diffusion_3d/exp1_chained.slurm
  misc/chain_submit.sh
Due: none

exploding gradiant fix
  .gitignore
  src/medgen/downstream/segmentation_trainer.py
  src/medgen/pipeline/base_trainer.py
  src/medgen/pipeline/compression_training.py
  src/medgen/pipeline/discriminator_manager.py
  src/medgen/pipeline/trainer.py
  src/medgen/pipeline/utils.py
Due: py-compile, pytest-fast, pytest-imports

chained job fix
  IDUN/train/diffusion_3d/exp1_chained.slurm
  misc/chain_submit.sh
  src/medgen/pipeline/base_trainer.py
  src/medgen/pipeline/utils.py
Due: py-compile, pytest-fast, pytest-imports

fixes for nightly tests
  tests/unit/conftest.py
  tests/unit/test_quality_metrics.py
  tests/unit/test_quality_metrics_diversity.py
Due: py-compile, pytest-fast

job chaining fix
  IDUN/train/diffusion_3d/exp1_chained.slurm
  misc/chain_submit.sh
  src/medgen/pipeline/base_trainer.py
  src/medgen/pipeline/trainer.py
  src/medgen/pipeline/utils.py
Due: py-compile, pytest-fast, pytest-imports

chained job fix
  src/medgen/downstream/segmentation_trainer.py
  src/medgen/pipeline/compression_training.py
  src/medgen/pipeline/trainer.py
Due: py-compile, pytest-fast, pytest-imports

chained job fix, and more use of base trainer
  IDUN/train/diffusion_3d/exp1_chained.slurm
  src/medgen/pipeline/base_trainer.py
  src/medgen/pipeline/checkpoint_manager.py
  src/medgen/pipeline/compression_trainer.py
  src/medgen/pipeline/trainer.py
  src/medgen/pipeline/utils.py
  src/medgen/scripts/train.py
Due: py-compile, pytest-fast, pytest-imports

lint fail fix
  src/medgen/pipeline/trainer.py
Due: py-compile, pytest-fast, pytest-imports

-
  IDUN/train/diffusion_3d/exp11_1_s2d_pixel_bravo.slurm
  IDUN/train/diffusion_3d/exp11_s2d_pixel_bravo.slurm
  IDUN/train/diffusion_3d/exp12_1_wavelet_pixel_bravo.slurm
  IDUN/train/diffusion_3d/exp12_wavelet_pixel_bravo.slurm
Due: none

job chaining fix, and added testing
  src/medgen/pipeline/utils.py
  tests/integration/test_pipeline_smoke.py
Due: py-compile, pytest-fast, pytest-imports

new method of job chaining
  IDUN/train/diffusion_3d/exp1_chained.slurm
  misc/chain_submit.sh
  src/medgen/pipeline/base_trainer.py
  src/medgen/pipeline/checkpoint_manager.py
  src/medgen/pipeline/trainer.py
  src/medgen/scripts/train.py
Due: py-compile, pytest-fast, pytest-imports

job chaining fix
  IDUN/train/diffusion_3d/exp1_chained.slurm
  src/medgen/pipeline/trainer.py
Due: py-compile, pytest-fast, pytest-imports

fix up the prints
  src/medgen/pipeline/base_trainer.py
  src/medgen/pipeline/checkpoint_manager.py
Due: py-compile, pytest-fast, pytest-imports

wdm paper implementation
  IDUN/train/diffusion_3d/exp12_2_wavelet_ddpm_bravo.slurm
  configs/model/wdm_3d.yaml
  configs/strategy/ddpm.yaml
  src/medgen/data/loaders/unified.py
  src/medgen/data/loaders/volume_3d.py
  src/medgen/diffusion/strategy_ddpm.py
  src/medgen/diffusion/strategy_rflow.py
  src/medgen/metrics/generation.py
  src/medgen/pipeline/base_config.py
  src/medgen/pipeline/base_trainer.py
  src/medgen/pipeline/trainer.py
Due: py-compile, pytest-fast, pytest-imports

s2d
  IDUN/train/diffusion_3d/exp11_2_s2d_rflow_bravo.slurm
Due: none

kl vae fix
  IDUN/train/compression/exp14_0_vae3d_4x.slurm
  IDUN/train/compression/exp14_1_vae3d_8x.slurm
  src/medgen/scripts/train_compression.py
Due: py-compile, pytest-fast, pytest-imports

kl vae fix
  IDUN/train/compression/exp14_0_vae3d_4x.slurm
  IDUN/train/compression/exp14_1_vae3d_8x.slurm
Due: none

kl vae fix
  src/medgen/pipeline/vae_trainer.py
Due: py-compile, pytest-fast, pytest-imports

kl vae exp
  IDUN/train/compression/exp14_2_vae3d_8x_lowres.slurm
Due: none

kl vae exp fix
  IDUN/train/compression/exp14_2_vae3d_8x_lowres.slurm
  configs/volume/default.yaml
  src/medgen/pipeline/compression_trainer.py
  src/medgen/scripts/train_compression.py
Due: py-compile, pytest-fast, pytest-imports

kl vae exp fix
  src/medgen/metrics/generation.py
Due: py-compile, pytest-fast, pytest-imports

profiling 3D DiT
  IDUN/profiling/profile_dit_memory.slurm
  misc/profile_dit_memory.py
Due: py-compile

3D SiT in pixel space
  IDUN/train/diffusion_3d/exp7_2_sit_b_256_patch8.slurm
  IDUN/train/diffusion_3d/exp7_2_sit_s_256_patch4.slurm
Due: none

3D SiT in latent space
  IDUN/train/diffusion_3d/exp13_dit_4x_bravo.slurm
  IDUN/train/diffusion_3d/exp13_dit_8x_bravo.slurm
Due: none

3d latent size scale pass fix
  IDUN/train/diffusion_3d/exp13_dit_4x_bravo.slurm
  src/medgen/scripts/train.py
Due: py-compile, pytest-fast, pytest-imports

testing on exp11-12 fix, and testing of code on local pc
  .github/workflows/test.yml
  src/medgen/metrics/regional/tracker.py
  src/medgen/pipeline/evaluation.py
Due: py-compile, pytest-fast, pytest-imports

testing of code on local pc fix
  .github/workflows/test.yml
Due: none
