Repository ModeS7/AIS4900_master: changes, and which pre-commit hooks are due for each by the changed paths.
All: py-compile, pytest-fast, pytest-imports

.pre-commit-config.yaml:

# Pre-commit hooks for medgen project
# Install: pip install pre-commit && pre-commit install

repos:
  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict

  # Python syntax check
  - repo: local
    hooks:
      - id: py-compile
        name: Python syntax check
        entry: python -m py_compile
        language: system
        types: [python]
        pass_filenames: true

  # Fast unit tests (on pre-push only - can be slow)
  - repo: local
    hooks:
      - id: pytest-fast
        name: pytest (fast unit tests)
        entry: pytest tests/unit -m "not slow" -x -q --tb=line --timeout=30
        language: system
        pass_filenames: false
        always_run: false
        stages: [pre-push]  # Only on push, not commit
        files: ^(tests/|src/medgen/).*\.py$

      - id: pytest-imports
        name: pytest (import tests)
        entry: pytest tests/e2e/test_cli_complete.py::TestModuleImports -x -q --tb=line
        language: system
        pass_filenames: false
        always_run: false
        stages: [pre-push]
        files: ^src/medgen/.*\.py$

  # Import sorting (isort via ruff)
  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: ["--profile", "black", "--line-length", "100"]

  # Ruff linter (fast) - uses pyproject.toml config
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.0
    hooks:
      - id: ruff
        args: ['--fix', '--exit-non-zero-on-fix']
      - id: ruff-format  # Add formatting

  # Mypy type checking (core modules only)
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        args: [--ignore-missing-imports, --no-error-summary]
        additional_dependencies: [torch, omegaconf, types-tqdm]
        files: ^src/medgen/(diffusion|core)/
        exclude: ^src/medgen/(diffusion|core)/__init__\.py$

latent distribution eval on kl vae
  IDUN/eval/measure_latent_std.slurm
  src/medgen/scripts/measure_latent_std.py
Due: py-compile, pytest-fast, pytest-imports

latent distribution eval on kl vae
  IDUN/eval/measure_latent_std.slurm
Due: none

latent distribution eval on kl vae
  src/medgen/scripts/measure_latent_std.py
Due: py-compile, pytest-fast, pytest-imports

latent distribution eval on kl vae
  src/medgen/data/loaders/compression_detection.py
  src/medgen/scripts/measure_latent_std.py
Due: py-compile, pytest-fast, pytest-imports

-
  IDUN/eval/train_diffrs_head.slurm
Due: none

pixel space profiling
  IDUN/profiling/profile_pixel_3d_unet.slurm
  misc/profiling/profile_pixel_3d_unet.py
Due: py-compile

-
  src/medgen/data/loaders/compression_detection.py
Due: py-compile, pytest-fast, pytest-imports

U-ViT and HDiT
  IDUN/train/diffusion_3d/exp15_uvit_pixel_bravo.slurm
  IDUN/train/diffusion_3d/exp16_hdit_pixel_bravo.slurm
  src/medgen/models/__init__.py
  src/medgen/models/factory.py
  src/medgen/models/hdit.py
  src/medgen/models/uvit.py
  src/medgen/pipeline/base_config.py
  src/medgen/pipeline/diffusion_model_setup.py
  src/medgen/pipeline/profiling.py
  src/medgen/pipeline/vae_trainer.py
Due: py-compile, pytest-fast, pytest-imports

chaining
  IDUN/train/diffusion_3d/exp15_uvit_pixel_bravo.slurm
  IDUN/train/diffusion_3d/exp16_hdit_pixel_bravo.slurm
Due: none

profiling kl VAE
  IDUN/profiling/sweep_vae3d_architectures.slurm
  misc/profiling/sweep_vae3d_architectures.py
Due: py-compile

forgot configs
  configs/model/hdit_3d.yaml
  configs/model/uvit_3d.yaml
Due: none

mem error fix
  IDUN/eval/train_diffrs_head.slurm
  src/medgen/scripts/train_diffrs_discriminator.py
Due: py-compile, pytest-fast, pytest-imports

lint
  src/medgen/models/hdit.py
  src/medgen/models/uvit.py
Due: py-compile, pytest-fast, pytest-imports

mem fix
  misc/profiling/sweep_vae3d_architectures.py
Due: py-compile

-
  IDUN/train/compression/exp14_4_vae3d_4x_nokl.slurm
Due: none

SiT pixel space
  IDUN/train/diffusion_3d/exp7_2_sit_l_256_patch8.slurm
  IDUN/train/diffusion_3d/exp7_2_sit_xl_256_patch8.slurm
Due: none

SiT pixel space fix
  IDUN/train/diffusion_3d/exp7_2_sit_l_256_patch8.slurm
  IDUN/train/diffusion_3d/exp7_2_sit_xl_256_patch8.slurm
Due: none

kl weight
  src/medgen/pipeline/compression_arch_config.py
Due: py-compile, pytest-fast, pytest-imports

tolerance
  src/medgen/scripts/eval_ode_solvers.py
Due: py-compile, pytest-fast, pytest-imports

step search
  IDUN/eval/find_optimal_steps.slurm
  src/medgen/scripts/find_optimal_steps.py
Due: py-compile, pytest-fast, pytest-imports

docs
  docs/eval-ode-solvers.md
  docs/experiment_results.md
  docs/experiment_results_3d.md
Due: none

uvit hdit profiling
  IDUN/profiling/profile_hdit_uvit.slurm
  misc/profiling/profile_hdit_uvit_memory.py
Due: py-compile

optimal step fix
  src/medgen/scripts/find_optimal_steps.py
Due: py-compile, pytest-fast, pytest-imports

bigger diffrs
  configs/diffrs.yaml
  src/medgen/diffusion/diffrs.py
  src/medgen/scripts/train_diffrs_discriminator.py
Due: py-compile, pytest-fast, pytest-imports

profiling
  docs/profiling_results.md
Due: none

HDiT exp
  IDUN/train/diffusion_3d/exp17_0_hdit_s_p2_256.slurm
  IDUN/train/diffusion_3d/exp17_1_hdit_b_p4_256.slurm
  IDUN/train/diffusion_3d/exp17_2_hdit_l_p4_256.slurm
  IDUN/train/diffusion_3d/exp17_3_hdit_xl_p4_256.slurm
Due: none

U-ViT exp
  IDUN/train/diffusion_3d/exp18_uvit_l_p4_256.slurm
Due: none

compile
  IDUN/train/diffusion_3d/exp17_0_hdit_s_p2_256.slurm
  IDUN/train/diffusion_3d/exp17_1_hdit_b_p4_256.slurm
  IDUN/train/diffusion_3d/exp17_2_hdit_l_p4_256.slurm
  IDUN/train/diffusion_3d/exp17_3_hdit_xl_p4_256.slurm
  IDUN/train/diffusion_3d/exp18_uvit_l_p4_256.slurm
Due: none

update docs
  CLAUDE.md
  README.md
  docs/architecture.md
  docs/commands.md
Due: none

-
  src/medgen/pipeline/trainer.py
Due: py-compile, pytest-fast, pytest-imports

lint
  src/medgen/diffusion/diffrs.py
  src/medgen/scripts/find_optimal_steps.py
Due: py-compile, pytest-fast, pytest-imports

-
  IDUN/eval/eval_diffrs.slurm
Due: none

-
  IDUN/train/diffusion_3d/exp18_uvit_l_p4_256.slurm
Due: none

diffrs fix
  src/medgen/diffusion/diffrs.py
  src/medgen/diffusion/strategy_rflow.py
Due: py-compile, pytest-fast, pytest-imports

step finding on seg
  IDUN/eval/find_optimal_steps_exp14_1.slurm
  src/medgen/scripts/eval_ode_solvers.py
  src/medgen/scripts/find_optimal_steps.py
Due: py-compile, pytest-fast, pytest-imports
