Repository ModeS7/AIS4900_master: changes, and which pre-commit hooks are due for each by the changed paths.
All: py-compile, pytest-fast, pytest-imports

py-compile:
  name: Python syntax check
  entry: python -m py_compile
  language: system
  pass_filenames: true

pytest-fast:
  name: pytest (fast unit tests)
  entry: pytest tests/unit -m "not slow" -x -q --tb=line --timeout=30
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-push

pytest-imports:
  name: pytest (import tests)
  entry: pytest tests/e2e/test_cli_complete.py::TestModuleImports -x -q --tb=line
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-push

eval 17
  IDUN/train/downstream/nnunet/eval_5fold_exp17_1_hybrid_25syn_exp1_to_exp48c_t025_d663.slurm
  IDUN/train/downstream/nnunet/eval_5fold_exp17_2_hybrid_50syn_exp1_to_exp48c_t025_d663.slurm
  IDUN/train/downstream/nnunet/eval_5fold_exp17_3_hybrid_105syn_exp1_to_exp48c_t025_d663.slurm
  IDUN/train/downstream/nnunet/eval_5fold_exp17_4_hybrid_210syn_exp1_to_exp48c_t025_d663.slurm
  IDUN/train/downstream/nnunet/recompute_exp17_hybrid_all_metrics.slurm
  tests/unit/test_exp17_hybrid_evaluation_slurms.py
Due: py-compile, pytest-fast

tensorboard
  IDUN/train/downstream/nnunet/rebuild_tb_from_checkpoints.slurm
  src/medgen/scripts/rebuild_tensorboard_from_checkpoints.py
Due: py-compile, pytest-fast, pytest-imports

tensorboard
  IDUN/train/downstream/nnunet/recover_exp17_validation.slurm
  src/medgen/scripts/rebuild_tensorboard_from_checkpoints.py
Due: py-compile, pytest-fast, pytest-imports

tensorboard
  IDUN/train/downstream/nnunet/recover_exp17_validation.slurm
Due: none

lint
  src/medgen/scripts/rebuild_tensorboard_from_checkpoints.py
Due: py-compile, pytest-fast, pytest-imports

tensorboard
  src/medgen/scripts/rebuild_tensorboard_from_checkpoints.py
Due: py-compile, pytest-fast, pytest-imports

eval
  IDUN/train/downstream/nnunet/eval_5fold_exp17_1_hybrid_25syn_exp1_to_exp48c_t025_d663.slurm
  IDUN/train/downstream/nnunet/eval_5fold_exp17_2_hybrid_50syn_exp1_to_exp48c_t025_d663.slurm
  IDUN/train/downstream/nnunet/eval_5fold_exp17_3_hybrid_105syn_exp1_to_exp48c_t025_d663.slurm
  IDUN/train/downstream/nnunet/eval_5fold_exp17_4_hybrid_210syn_exp1_to_exp48c_t025_d663.slurm
Due: none

nightly fix
  tests/unit/test_exp17_hybrid_evaluation_slurms.py
Due: py-compile, pytest-fast

gen test figure
  IDUN/generate/gen_qualitative_testmask_7routes.slurm
Due: none

test
  IDUN/train/downstream/nnunet/exp18_1_var_real_fold0.slurm
  IDUN/train/downstream/nnunet/exp18_2_var_hyb210_fold0.slurm
Due: none

fix
  IDUN/train/downstream/nnunet/exp18_1_var_real_fold0.slurm
Due: none

exp18
  misc/fetch_exp18_variance.sh
Due: none

reject
  IDUN/generate/recover_rejected_draws_exp48c.slurm
  IDUN/generate/run_eval_generator_synthmask.sh
  src/medgen/scripts/generate.py
Due: py-compile, pytest-fast, pytest-imports

reject
  configs/generate.yaml
Due: none

-
  misc/fetch_downstream_predictions.sh
Due: none

-
  misc/fetch_downstream_predictions.sh
  misc/fetch_paper_figure_predictions.sh
Due: none

Path conditions:
  py-compile: any of: \.py$
  pytest-fast: any of: ^(tests/|src/medgen/).*\.py$
  pytest-imports: any of: ^src/medgen/.*\.py$
