Repository ModeS7/AIS4900_master: changes, and which pre-commit hooks are due for each by the changed paths.
All: py-compile, pytest-fast, pytest-imports

.pre-commit-config.yaml:

# Pre-commit hooks for medgen project
# Install: pip install pre-commit && pre-commit install

repos:
  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict

  # Python syntax check
  - repo: local
    hooks:
      - id: py-compile
        name: Python syntax check
        entry: python -m py_compile
        language: system
        types: [python]
        pass_filenames: true

  # Fast unit tests (on pre-push only - can be slow)
  - repo: local
    hooks:
      - id: pytest-fast
        name: pytest (fast unit tests)
        entry: pytest tests/unit -m "not slow" -x -q --tb=line --timeout=30
        language: system
        pass_filenames: false
        always_run: false
        stages: [pre-push]  # Only on push, not commit
        files: ^(tests/|src/medgen/).*\.py$

      - id: pytest-imports
        name: pytest (import tests)
        entry: pytest tests/e2e/test_cli_complete.py::TestModuleImports -x -q --tb=line
        language: system
        pass_filenames: false
        always_run: false
        stages: [pre-push]
        files: ^src/medgen/.*\.py$

  # Import sorting (isort via ruff)
  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: ["--profile", "black", "--line-length", "100"]

  # Ruff linter (fast) - uses pyproject.toml config
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.0
    hooks:
      - id: ruff
        args: ['--fix', '--exit-non-zero-on-fix']
      - id: ruff-format  # Add formatting

  # Mypy type checking (core modules only)
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        args: [--ignore-missing-imports, --no-error-summary]
        additional_dependencies: [torch, omegaconf, types-tqdm]
        files: ^src/medgen/(diffusion|core)/
        exclude: ^src/medgen/(diffusion|core)/__init__\.py$

generation fix for mask volume outside bravo volume
  configs/generate.yaml
  data/brain_atlas_128x128x160.nii.gz
  data/brain_atlas_256x256x160.nii.gz
  src/medgen/metrics/__init__.py
  src/medgen/metrics/brain_mask.py
  src/medgen/scripts/compute_brain_atlas.py
  src/medgen/scripts/generate.py
Due: py-compile, pytest-fast, pytest-imports

lint
  src/medgen/scripts/generate.py
Due: py-compile, pytest-fast, pytest-imports

exp1i
  IDUN/train/diffusion_3d/exp1i_pixel_bravo_scoreaug_ema.slurm
Due: none

-
  IDUN/train/diffusion_3d/exp1i_1_pixel_bravo_scoreaug_ema.slurm
  IDUN/train/diffusion_3d/exp1j_1_pixel_bravo_grad_accum.slurm
  IDUN/train/diffusion_3d/exp1j_pixel_bravo_grad_accum.slurm
Due: none

3D metrics and downstream bug fix
  src/medgen/downstream/segmentation_trainer.py
  src/medgen/metrics/generation.py
  src/medgen/metrics/generation_3d.py
  src/medgen/scripts/eval_ode_solvers.py
  src/medgen/scripts/find_optimal_steps.py
  tests/unit/test_feature_extractors.py
  tests/unit/test_generation_metrics.py
Due: py-compile, pytest-fast, pytest-imports

fix
  configs/training/default.yaml
Due: none

-
  IDUN/generate/exp1_1_gen_3d_256.slurm
Due: none

profiling
  IDUN/profiling/profile_pixel_3d_unet_v2.slurm
  misc/profiling/profile_pixel_3d_unet_v2.py
Due: py-compile

optimal exp19_2
  IDUN/eval/find_optimal_steps_exp19_2.slurm
Due: none

optimal exp19_2 mem fix
  IDUN/eval/find_optimal_steps_exp19_2.slurm
Due: none

optimal exp19_2 mem fix
  IDUN/eval/find_optimal_steps_exp19_2.slurm
  src/medgen/scripts/eval_ode_solvers.py
  src/medgen/scripts/find_optimal_steps.py
Due: py-compile, pytest-fast, pytest-imports

optimal exp1_1
  IDUN/eval/find_optimal_steps_exp1_1.slurm
Due: none

architecture test
  IDUN/train/diffusion_3d/exp20_1_pixel_bravo_attn_l3.slurm
  IDUN/train/diffusion_3d/exp20_2_pixel_bravo_deep_wide.slurm
  IDUN/train/diffusion_3d/exp20_3_pixel_bravo_deep_wide_attn_l3.slurm
Due: none

-
  IDUN/train/diffusion_3d/exp1_1_pixel_bravo.slurm
Due: none

-
  IDUN/train/diffusion_3d/exp1i_1_pixel_bravo_scoreaug_ema.slurm
Due: none

-
  IDUN/train/diffusion_3d/exp1_1_1000_pixel_bravo.slurm
Due: none

-
  IDUN/train/diffusion_3d/exp20_1_pixel_bravo_attn_l3.slurm
  IDUN/train/diffusion_3d/exp20_3_pixel_bravo_deep_wide_attn_l3.slurm
Due: none

downstream test, and fp fix
  IDUN/train/downstream/exp5_seg_bravo_synthetic_105_3d.slurm
  IDUN/train/downstream/exp6_1_seg_bravo_synthetic_all_100ep_3d.slurm
  IDUN/train/downstream/exp6_seg_bravo_synthetic_all_3d.slurm
  IDUN/train/downstream/exp7_1_seg_bravo_mixed_105syn_3d.slurm
  IDUN/train/downstream/exp7_2_seg_bravo_mixed_210syn_3d.slurm
  IDUN/train/downstream/exp7_3_seg_bravo_mixed_315syn_3d.slurm
  IDUN/train/downstream/exp7_seg_bravo_mixed_3d.slurm
  configs/segmentation.yaml
  src/medgen/downstream/data.py
  src/medgen/metrics/regional/tracker_seg.py
Due: py-compile, pytest-fast, pytest-imports

metric fix
  src/medgen/metrics/generation_3d.py
  src/medgen/scripts/eval_ode_solvers.py
Due: py-compile, pytest-fast, pytest-imports

test
  tests/unit/test_feature_extractors.py
  tests/unit/test_generation_metrics.py
Due: py-compile, pytest-fast

test
  tests/e2e/test_training_pipeline.py
Due: py-compile, pytest-fast

-
  IDUN/train/diffusion_3d/exp20_2_pixel_bravo_deep_wide.slurm
Due: none

exp7
  IDUN/train/downstream/exp7_4_seg_bravo_mixed_25syn_3d.slurm
  IDUN/train/downstream/exp7_5_seg_bravo_mixed_50syn_3d.slurm
  IDUN/train/downstream/exp7_6_seg_bravo_mixed_75syn_3d.slurm
Due: none

data histogram
  misc/compare_histograms.py
  misc/histogram_comparison.png
Due: py-compile

-
  IDUN/train/downstream/SegResNet/exp1_seg_baseline_2d.slurm
  IDUN/train/downstream/SegResNet/exp1_seg_baseline_3d.slurm
  IDUN/train/downstream/SegResNet/exp2_seg_dual_baseline_2d.slurm
  IDUN/train/downstream/SegResNet/exp2_seg_dual_baseline_3d.slurm
  IDUN/train/downstream/SegResNet/exp3_seg_aug_2d.slurm
  IDUN/train/downstream/SegResNet/exp3_seg_aug_3d.slurm
  IDUN/train/downstream/SegResNet/exp4_seg_dual_aug_2d.slurm
  IDUN/train/downstream/SegResNet/exp4_seg_dual_aug_3d.slurm
  IDUN/train/downstream/SegResNet/exp5_seg_bravo_synthetic_105_3d.slurm
  IDUN/train/downstream/SegResNet/exp6_1_seg_bravo_synthetic_all_100ep_3d.slurm
  IDUN/train/downstream/SegResNet/exp6_seg_bravo_synthetic_all_3d.slurm
  IDUN/train/downstream/SegResNet/exp7_1_seg_bravo_mixed_105syn_3d.slurm
  IDUN/train/downstream/SegResNet/exp7_2_seg_bravo_mixed_210syn_3d.slurm
  IDUN/train/downstream/SegResNet/exp7_3_seg_bravo_mixed_315syn_3d.slurm
  IDUN/train/downstream/SegResNet/exp7_4_seg_bravo_mixed_25syn_3d.slurm
  IDUN/train/downstream/SegResNet/exp7_5_seg_bravo_mixed_50syn_3d.slurm
  IDUN/train/downstream/SegResNet/exp7_6_seg_bravo_mixed_75syn_3d.slurm
  IDUN/train/downstream/SegResNet/exp7_seg_bravo_mixed_3d.slurm
Due: none

nnU-Net integration and experiments
  IDUN/train/downstream/nnunet/convert_and_preprocess.slurm
  IDUN/train/downstream/nnunet/exp3_baseline.slurm
  IDUN/train/downstream/nnunet/exp4_baseline_dual.slurm
  IDUN/train/downstream/nnunet/exp6_1_synthetic_105.slurm
  IDUN/train/downstream/nnunet/exp6_synthetic.slurm
  IDUN/train/downstream/nnunet/exp7_1_mixed_105syn.slurm
  IDUN/train/downstream/nnunet/exp7_2_mixed_210syn.slurm
  IDUN/train/downstream/nnunet/exp7_3_mixed_315syn.slurm
  IDUN/train/downstream/nnunet/exp7_4_mixed_25syn.slurm
  IDUN/train/downstream/nnunet/exp7_5_mixed_50syn.slurm
  IDUN/train/downstream/nnunet/exp7_6_mixed_75syn.slurm
  IDUN/train/downstream/nnunet/exp7_7_mixed_525syn.slurm
  src/medgen/downstream/nnunet/__init__.py
  src/medgen/downstream/nnunet/convert_dataset.py
  src/medgen/downstream/nnunet/evaluate.py
  src/medgen/downstream/nnunet/splits.py
  src/medgen/downstream/nnunet/trainer.py
  src/medgen/scripts/eval_nnunet.py
  src/medgen/scripts/train_nnunet.py
Due: py-compile, pytest-fast, pytest-imports

-
  IDUN/train/downstream/nnunet/exp3_baseline.slurm
  IDUN/train/downstream/nnunet/exp4_baseline_dual.slurm
  IDUN/train/downstream/nnunet/exp6_1_synthetic_105.slurm
  IDUN/train/downstream/nnunet/exp6_synthetic.slurm
  IDUN/train/downstream/nnunet/exp7_1_mixed_105syn.slurm
  IDUN/train/downstream/nnunet/exp7_2_mixed_210syn.slurm
  IDUN/train/downstream/nnunet/exp7_3_mixed_315syn.slurm
  IDUN/train/downstream/nnunet/exp7_4_mixed_25syn.slurm
  IDUN/train/downstream/nnunet/exp7_5_mixed_50syn.slurm
  IDUN/train/downstream/nnunet/exp7_6_mixed_75syn.slurm
  IDUN/train/downstream/nnunet/exp7_7_mixed_525syn.slurm
Due: none

-
  IDUN/train/downstream/nnunet/convert_and_preprocess.slurm
  src/medgen/downstream/nnunet/trainer.py
Due: py-compile, pytest-fast, pytest-imports

-
  IDUN/train/downstream/nnunet/convert_and_preprocess.slurm
  IDUN/train/downstream/nnunet/exp3_baseline.slurm
  IDUN/train/downstream/nnunet/exp4_baseline_dual.slurm
  IDUN/train/downstream/nnunet/exp6_1_synthetic_105.slurm
  IDUN/train/downstream/nnunet/exp6_synthetic.slurm
  IDUN/train/downstream/nnunet/exp7_1_mixed_105syn.slurm
  IDUN/train/downstream/nnunet/exp7_2_mixed_210syn.slurm
  IDUN/train/downstream/nnunet/exp7_3_mixed_315syn.slurm
  IDUN/train/downstream/nnunet/exp7_4_mixed_25syn.slurm
  IDUN/train/downstream/nnunet/exp7_5_mixed_50syn.slurm
  IDUN/train/downstream/nnunet/exp7_6_mixed_75syn.slurm
  IDUN/train/downstream/nnunet/exp7_7_mixed_525syn.slurm
  src/medgen/scripts/eval_nnunet.py
  src/medgen/scripts/train_nnunet.py
Due: py-compile, pytest-fast, pytest-imports

lint
  src/medgen/downstream/nnunet/trainer.py
  src/medgen/scripts/eval_nnunet.py
Due: py-compile, pytest-fast, pytest-imports

lint
  src/medgen/scripts/train_nnunet.py
Due: py-compile, pytest-fast, pytest-imports

-
  IDUN/train/diffusion_3d/exp20_2_pixel_bravo_deep_wide.slurm
  IDUN/train/diffusion_3d/exp20_3_pixel_bravo_deep_wide_attn_l3.slurm
Due: none

-
  src/medgen/downstream/nnunet/convert_dataset.py
Due: py-compile, pytest-fast, pytest-imports

bug fix
  src/medgen/scripts/train_nnunet.py
Due: py-compile, pytest-fast, pytest-imports
