Repository ModeS7/AIS4900_master: changes, and which pre-commit hooks are due for each by the changed paths.
All: py-compile, pytest-fast, pytest-imports

py-compile:
  name: Python syntax check
  entry: python -m py_compile
  language: system
  pass_filenames: true

pytest-fast:
  name: pytest (fast unit tests)
  entry: pytest tests/unit -m "not slow" -x -q --tb=line --timeout=30
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-push

pytest-imports:
  name: pytest (import tests)
  entry: pytest tests/e2e/test_cli_complete.py::TestModuleImports -x -q --tb=line
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-push

segmentation generation fix
  IDUN/generate/generate_common_seg_masks.slurm
  src/medgen/scripts/audit_seg_mask_pool.py
  src/medgen/scripts/generate.py
  tests/unit/test_generation_protocol.py
  tests/unit/test_seg_mask_pool_audit.py
  tests/unit/test_slurm_validation.py
Due: py-compile, pytest-fast, pytest-imports

recovery
  IDUN/generate/panel_manifest.py
  IDUN/generate/recover_exp48a.slurm
  tests/unit/test_panel_manifest.py
Due: py-compile, pytest-fast

recovery fix
  IDUN/generate/panel_manifest.py
  IDUN/generate/recover_exp48a.slurm
  tests/unit/test_panel_manifest.py
Due: py-compile, pytest-fast

recovery fix
  IDUN/generate/finish_common_seg_masks.slurm
  src/medgen/scripts/audit_seg_mask_pool.py
Due: py-compile, pytest-fast, pytest-imports

gen
  IDUN/generate/eval_gen_synthmask_exp1_1_1000.slurm
  IDUN/generate/eval_gen_synthmask_exp1_1_1000plus.slurm
  IDUN/generate/eval_gen_synthmask_exp32_2_1000.slurm
  IDUN/generate/eval_gen_synthmask_exp32_3_1000.slurm
  IDUN/generate/eval_gen_synthmask_exp47a.slurm
  IDUN/generate/eval_gen_synthmask_exp47b.slurm
  IDUN/generate/eval_gen_synthmask_exp47c.slurm
  IDUN/generate/eval_gen_synthmask_exp47d.slurm
  IDUN/generate/eval_gen_synthmask_exp47e.slurm
  IDUN/generate/eval_gen_synthmask_exp48a.slurm
  IDUN/generate/eval_gen_synthmask_exp48b.slurm
  IDUN/generate/eval_gen_synthmask_exp48c.slurm
  IDUN/generate/eval_gen_synthmask_exp48d.slurm
  IDUN/generate/eval_gen_synthmask_exp48e.slurm
  IDUN/generate/eval_generator_synthmask_metrics.slurm
  IDUN/generate/finish_common_seg_masks.slurm
  IDUN/generate/generate_common_seg_masks.slurm
  IDUN/generate/panel_manifest.py
  IDUN/generate/prepare_synthetic_mask_selection.slurm
  IDUN/generate/recover_exp48a.slurm
  IDUN/generate/run_eval_generator.sh
  IDUN/generate/run_eval_generator_synthmask.sh
  configs/generate.yaml
  src/medgen/metrics/brain_mask.py
  src/medgen/scripts/audit_seg_mask_pool.py
  src/medgen/scripts/eval_all_metrics.py
  src/medgen/scripts/generate.py
  src/medgen/scripts/prepare_synthetic_mask_selection.py
  tests/unit/test_brain_mask_containment.py
  tests/unit/test_eval_all_metrics_rng.py
  tests/unit/test_generation_brain_qc_retry.py
  tests/unit/test_generation_protocol.py
  tests/unit/test_panel_manifest.py
  tests/unit/test_prepare_synthetic_mask_selection.py
  tests/unit/test_seg_mask_pool_audit.py
  tests/unit/test_slurm_validation.py
Due: py-compile, pytest-fast, pytest-imports

gen fix
  IDUN/generate/prepare_synthetic_mask_selection.slurm
  IDUN/generate/run_eval_generator_synthmask.sh
  configs/generate.yaml
  src/medgen/scripts/generate.py
  src/medgen/scripts/prepare_synthetic_mask_selection.py
  tests/unit/test_generation_brain_qc_retry.py
  tests/unit/test_prepare_synthetic_mask_selection.py
Due: py-compile, pytest-fast, pytest-imports

gen fix
  IDUN/generate/finalize_synthmask_common105.slurm
Due: none

gen fix
  IDUN/generate/eval_generator_synthmask_metrics.slurm
  IDUN/generate/finalize_synthmask_common105.slurm
  IDUN/generate/prepare_synthetic_mask_selection.slurm
  IDUN/generate/run_eval_generator_synthmask.sh
  src/medgen/scripts/prepare_synthetic_mask_selection.py
  tests/unit/test_prepare_synthetic_mask_selection.py
Due: py-compile, pytest-fast, pytest-imports

nnunet dataset
  IDUN/train/downstream/nnunet/convert_synthmask_common105_panel.slurm
Due: none

synth gen
  IDUN/generate/eval_gen_synthmask_exp48a_tail300.slurm
  IDUN/generate/eval_gen_synthmask_exp48b_tail300.slurm
  IDUN/generate/eval_gen_synthmask_exp48c_tail300.slurm
  IDUN/generate/eval_gen_synthmask_exp48d_tail300.slurm
  IDUN/generate/eval_gen_synthmask_exp48e_tail300.slurm
  IDUN/generate/merge_synthmask_exp48_tail300.sh
  IDUN/generate/merge_synthmask_exp48_tail300.slurm
  IDUN/generate/run_eval_generator_synthmask.sh
  IDUN/train/downstream/nnunet/preprocess_synthmask_common105_panel.slurm
  IDUN/train/downstream/nnunet/train_synthmask_common105_panel.slurm
  tests/unit/test_merge_synthmask_exp48_tail300.py
  tests/unit/test_synthmask_runner_sharding.py
Due: py-compile, pytest-fast

synth gen
  IDUN/generate/eval_generator_synthmask_metrics.slurm
  IDUN/generate/finalize_synthmask_common105.slurm
  IDUN/train/downstream/nnunet/convert_synthmask_common105_panel.slurm
  IDUN/train/downstream/nnunet/preprocess_synthmask_common105_panel.slurm
  IDUN/train/downstream/nnunet/train_synthmask_common105_panel.slurm
Due: none

synth gen
  IDUN/generate/audit_synthmask_generator_acceptance.slurm
Due: none

synth gen
  IDUN/generate/eval_generator_synthmask_metrics_all14_common96.slurm
Due: none

synth gen
  IDUN/generate/finalize_synthmask_common96_all14.slurm
Due: none

synth gen seg train
  IDUN/train/downstream/nnunet/exp16_2_synthetic_105_common105_exp1_1_1000_d650.slurm
  IDUN/train/downstream/nnunet/exp16_2_synthetic_105_common105_exp1_1_1000plus_d651.slurm
  IDUN/train/downstream/nnunet/exp16_2_synthetic_105_common105_exp1_to_exp48c_t025_d661.slurm
  IDUN/train/downstream/nnunet/exp16_2_synthetic_105_common105_exp1_to_exp48d_t025_d662.slurm
  IDUN/train/downstream/nnunet/exp16_2_synthetic_105_common105_exp32_2_1000_d652.slurm
  IDUN/train/downstream/nnunet/train_synthmask_common105_panel.slurm
  src/medgen/downstream/nnunet/splits.py
  src/medgen/scripts/train_nnunet.py
Due: py-compile, pytest-fast, pytest-imports

synth gen seg train
  IDUN/train/downstream/nnunet/exp16_2_synthetic_105_common105_exp1_1_1000_d650.slurm
  IDUN/train/downstream/nnunet/exp16_2_synthetic_105_common105_exp1_1_1000plus_d651.slurm
  IDUN/train/downstream/nnunet/exp16_2_synthetic_105_common105_exp1_to_exp48c_t025_d661.slurm
  IDUN/train/downstream/nnunet/exp16_2_synthetic_105_common105_exp1_to_exp48d_t025_d662.slurm
  IDUN/train/downstream/nnunet/exp16_2_synthetic_105_common105_exp32_2_1000_d652.slurm
Due: none

brain mask
  IDUN/eval/brain_mask_synthmask_all14_inplace.slurm
  src/medgen/scripts/brain_mask_existing.py
  tests/unit/test_brain_mask_existing.py
Due: py-compile, pytest-fast, pytest-imports

synth gen seg train fix
  IDUN/eval/brain_mask_synthmask_all14_inplace.slurm
  IDUN/generate/eval_generator_synthmask_metrics_all14_common96.slurm
  IDUN/train/downstream/nnunet/convert_synthmask_common105_panel.slurm
  IDUN/train/downstream/nnunet/exp16_2_synthetic_105_common105_exp1_1_1000_d650.slurm
  IDUN/train/downstream/nnunet/exp16_2_synthetic_105_common105_exp1_1_1000plus_d651.slurm
  IDUN/train/downstream/nnunet/exp16_2_synthetic_105_common105_exp1_to_exp48c_t025_d661.slurm
  IDUN/train/downstream/nnunet/exp16_2_synthetic_105_common105_exp1_to_exp48d_t025_d662.slurm
  IDUN/train/downstream/nnunet/exp16_2_synthetic_105_common105_exp32_2_1000_d652.slurm
  IDUN/train/downstream/nnunet/preprocess_synthmask_common105_panel.slurm
  tests/unit/test_exp16_2_controlled_slurms.py
Due: py-compile, pytest-fast

-
  IDUN/eval/brain_mask_realseg_all14_inplace.slurm
  IDUN/generate/eval_generator_panel_metrics.slurm
  tests/unit/test_realseg_panel_brainmask_slurms.py
Due: py-compile, pytest-fast

-
  IDUN/generate/eval_generator_synthmask_metrics.slurm
  tests/unit/test_exp16_2_controlled_slurms.py
Due: py-compile, pytest-fast

-
  IDUN/generate/recover_synthmask_exp47a_00400.slurm
  tests/unit/test_exp47a_candidate_recovery_slurm.py
Due: py-compile, pytest-fast

-
  IDUN/train/downstream/nnunet/convert_synthmask_common105_panel.slurm
  IDUN/train/downstream/nnunet/exp16_2_synthetic_105_common105_exp47c_d656.slurm
  IDUN/train/downstream/nnunet/prepare_synthmask_common105_exp47c_d656.slurm
  IDUN/train/downstream/nnunet/preprocess_synthmask_common105_panel.slurm
  tests/unit/test_exp16_2_controlled_slurms.py
Due: py-compile, pytest-fast

-
  IDUN/train/downstream/nnunet/exp16_2_synthetic_105_common105_exp47a_d654.slurm
  IDUN/train/downstream/nnunet/prepare_synthmask_common105_exp47a_d654.slurm
  tests/unit/test_exp16_2_controlled_slurms.py
Due: py-compile, pytest-fast

downstream eval
  IDUN/train/downstream/nnunet/eval_5fold_exp16_2_synthetic_105_common105_exp1_1_1000_d650.slurm
  IDUN/train/downstream/nnunet/eval_5fold_exp16_2_synthetic_105_common105_exp1_1_1000plus_d651.slurm
  IDUN/train/downstream/nnunet/eval_5fold_exp16_2_synthetic_105_common105_exp1_to_exp48c_t025_d661.slurm
  IDUN/train/downstream/nnunet/eval_5fold_exp16_2_synthetic_105_common105_exp1_to_exp48d_t025_d662.slurm
  IDUN/train/downstream/nnunet/eval_5fold_exp16_2_synthetic_105_common105_exp32_2_1000_d652.slurm
  IDUN/train/downstream/nnunet/eval_5fold_exp16_2_synthetic_105_common105_exp47a_d654.slurm
  IDUN/train/downstream/nnunet/eval_5fold_exp16_2_synthetic_105_common105_exp47c_d656.slurm
  IDUN/train/downstream/nnunet/recompute_exp16_2_synthetic_only_all_metrics.slurm
  src/medgen/metrics/paper_segmentation.py
  src/medgen/scripts/recompute_nnunet_metrics.py
  tests/unit/test_exp16_2_evaluation_slurms.py
  tests/unit/test_recompute_nnunet_metrics.py
Due: py-compile, pytest-fast, pytest-imports

downstream eval
  src/medgen/metrics/paper_segmentation.py
  src/medgen/scripts/recompute_nnunet_metrics.py
  tests/unit/test_recompute_nnunet_metrics.py
Due: py-compile, pytest-fast, pytest-imports

downstream eval
  IDUN/train/downstream/nnunet/finalize_exp16_2_validation_source.slurm
  IDUN/train/downstream/nnunet/validate_best_exp16_2_synthetic_panel.slurm
  src/medgen/scripts/select_exp16_2_validation_source.py
  tests/unit/test_exp16_2_validation_selection.py
Due: py-compile, pytest-fast, pytest-imports

downstream eval
  IDUN/train/downstream/nnunet/compare_exp16_2_validation_test_dice.slurm
  src/medgen/scripts/compare_exp16_2_validation_test_dice.py
Due: py-compile, pytest-fast, pytest-imports

extra gen
  IDUN/generate/generate_weighted_huber_handoff_to210.slurm
  configs/generate.yaml
  src/medgen/scripts/generate.py
  tests/unit/test_generation_brain_qc_retry.py
Due: py-compile, pytest-fast, pytest-imports

hybrid seg
  IDUN/train/downstream/nnunet/convert_exp17_weighted_huber_handoff_210_d663.slurm
  IDUN/train/downstream/nnunet/exp17_1_hybrid_25syn_exp1_to_exp48c_t025_d663.slurm
  IDUN/train/downstream/nnunet/exp17_2_hybrid_50syn_exp1_to_exp48c_t025_d663.slurm
  IDUN/train/downstream/nnunet/exp17_3_hybrid_105syn_exp1_to_exp48c_t025_d663.slurm
  IDUN/train/downstream/nnunet/exp17_4_hybrid_210syn_exp1_to_exp48c_t025_d663.slurm
  IDUN/train/downstream/nnunet/preprocess_exp17_weighted_huber_handoff_210_d663.slurm
  src/medgen/downstream/nnunet/splits.py
  src/medgen/scripts/train_nnunet.py
  tests/unit/test_exp17_hybrid_slurms.py
  tests/unit/test_nnunet_splits.py
  tests/unit/test_train_nnunet_registration.py
Due: py-compile, pytest-fast, pytest-imports

hybrid seg
  IDUN/train/downstream/nnunet/exp17_1_hybrid_25syn_exp1_to_exp48c_t025_d663.slurm
  IDUN/train/downstream/nnunet/exp17_2_hybrid_50syn_exp1_to_exp48c_t025_d663.slurm
  IDUN/train/downstream/nnunet/exp17_3_hybrid_105syn_exp1_to_exp48c_t025_d663.slurm
  IDUN/train/downstream/nnunet/exp17_4_hybrid_210syn_exp1_to_exp48c_t025_d663.slurm
Due: none

hybrid seg
  IDUN/train/downstream/nnunet/exp17_1_hybrid_25syn_exp1_to_exp48c_t025_d663.slurm
  IDUN/train/downstream/nnunet/exp17_2_hybrid_50syn_exp1_to_exp48c_t025_d663.slurm
  IDUN/train/downstream/nnunet/exp17_3_hybrid_105syn_exp1_to_exp48c_t025_d663.slurm
  IDUN/train/downstream/nnunet/exp17_4_hybrid_210syn_exp1_to_exp48c_t025_d663.slurm
  tests/unit/test_exp17_hybrid_slurms.py
Due: py-compile, pytest-fast

-
  IDUN/train/downstream/nnunet/audit_exp17_quarantined_checkpoints.slurm
  src/medgen/scripts/audit_nnunet_checkpoints.py
Due: py-compile, pytest-fast, pytest-imports

-
  src/medgen/scripts/audit_nnunet_checkpoints.py
Due: py-compile, pytest-fast, pytest-imports

-
  IDUN/train/downstream/nnunet/exp17_1_hybrid_25syn_exp1_to_exp48c_t025_d663.slurm
  IDUN/train/downstream/nnunet/exp17_2_hybrid_50syn_exp1_to_exp48c_t025_d663.slurm
  IDUN/train/downstream/nnunet/exp17_3_hybrid_105syn_exp1_to_exp48c_t025_d663.slurm
  IDUN/train/downstream/nnunet/exp17_4_hybrid_210syn_exp1_to_exp48c_t025_d663.slurm
  IDUN/train/downstream/nnunet/recover_exp17_quarantined_checkpoints.slurm
  src/medgen/scripts/recover_exp17_checkpoints.py
  tests/unit/test_exp17_hybrid_slurms.py
  tests/unit/test_recover_exp17_checkpoints.py
Due: py-compile, pytest-fast, pytest-imports

lint
  src/medgen/data/loaders/__init__.py
Due: py-compile, pytest-fast, pytest-imports

tensorboard recovery
  IDUN/train/downstream/nnunet/rebuild_exp17_tensorboard_from_final.slurm
  src/medgen/scripts/rebuild_exp17_tensorboard.py
  tests/unit/test_rebuild_exp17_tensorboard.py
Due: py-compile, pytest-fast, pytest-imports

Path conditions:
  py-compile: any of: \.py$
  pytest-fast: any of: ^(tests/|src/medgen/).*\.py$
  pytest-imports: any of: ^src/medgen/.*\.py$
